<div class="flipper">
  <div class="front">
  <span class="tile-title">all orders</span>
  <div class="row">
    <div class="small-12 columns">

    <table class="ordersTable" id="ordersTable">
  <thead>
    <th>User</th>
    <th>Booking</th>
    <th>Amount</th>
    <th>Status</th>
  </thead>
  <tbody>
    {{#each content}}
    <tr>
      <td>{{#linkTo "users.show" user class="darkLink"}}{{ user.email }}{{/linkTo}}</td>
      <td>{{#linkTo "bookings.show" booking class="darkLink"}}{{ booking }}{{/linkTo}}</td>
      <td>
        £{{amount}}
      </td>
      <td>{{status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

  </div>
</div>
</div>
<div class="back">
  
</div>
</div>
