<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0" width="500" height="500" id="umapper_embed"><param name="FlashVars" value="kmlPath=http://umapper.s3.amazonaws.com/maps/kml/168842.kml" /><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><param name="movie" value="http://umapper.s3.amazonaws.com/templates/swf/embed.swf" /><param name="quality" value="high" /><embed src="http://umapper.s3.amazonaws.com/templates/swf/embed.swf" FlashVars="kmlPath=http://umapper.s3.amazonaws.com/maps/kml/168842.kml" allowScriptAccess="always" allowFullScreen="true" quality="high" width="500" height="300" name="umapper_embed" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>

<div class="row">
	<div class="small-12 columns">
		<p>Can't see the map? Click <a href="http://www.umapper.com/maps/view/id/168842/" target="_blank" class="inlineLink">here</a> to open it in a new window.</p>
	</div>
</div>