
<div class="cookieBar">
	<div class="row">
		<div class="small-12 columns">
			<p>This site uses <a href="http://en.wikipedia.org/wiki/HTTP_cookie" target="_blank" class="inlineLink">cookies</a>. By using this site, we assume this is OK with you. Find out more in our <a href="/privacy" class="inlineLink">Privacy Policy</a>.</p>
		</div>
	</div>
	<div id="cookieButton" class="cookieButton"><span style="position: relative;
	top: -8px;" class="icon-down"></span></div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#cookieButton').click(function() {
			var $button = $('#cookieButton > span');
			$('.cookieBar').toggleClass('in');
			$(this).toggleClass('in');
			if ($button.hasClass('icon-down')) {
				$button.removeClass('icon-down').addClass('icon-up')
			}
			else {
				$button.removeClass('icon-up').addClass('icon-down')
			}
		});
	});
</script>