<div class="md-modal md-effect-3" id="modal-3">
    <div class="md-content">
        <h3 id="modalHeading">Oops</h3>
        <div>
            <div id="modalContent">
                <p>Something went wrong. Please try that action again.</p>
                <p>If this keeps happening, try refreshing the page.</p>
                <p>If you're still seeing this error, please give us a ring so we can fix it ASAP.</p>
            </div>
            <button class="md-close button callToAction"><span class="icon-close-alt"></span></button>
        </div>
    </div>
</div>

<button class="md-trigger callModal" data-modal="modal-3">Slide in (bottom)</button>
 
<div class="md-overlay"></div>