
<!-- Notification -->
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small><em><%= time_ago_in_words(activity.created_at) %> ago</em></small><br>
<%= if activity.owner.nil?
	'Someone'
	else
	 link_to(activity.owner.name, admin_user_path(activity.owner)) 
	 end %> updated 
	 <% if activity.trackable %>
	   <%= link_to ('their payment').html_safe, admin_order_path(activity.trackable) %>.
	 <% else %>
	   their payment, which has since been deleted.
	 <% end %>
	 </div>
	 <!--END Notification -->