<!-- Notifications -->
<div class="sidebar-section">
    <h2 class="sidebar-header">Notifications</h2>
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small><em>2 hours ago</em></small><br>
        New Booking by <a href="javascript:void(0)">G Shepherd Animal Health</a>
    </div>
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small><em>3 hours ago</em></small><br>
        <a href="javascript:void(0)">Dave Marchant</a> made a payment!
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small><em>5 hours ago</em></small><br>
        <a href="javascript:void(0)">Kate Jones</a> added a new article.
    </div>
</div>
<!-- END Notifications -->