<!-- Block Tabs -->
<div class="block block-tabs full">
    <!-- Block Tabs Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <div class="btn-group">
                <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Options <span class="caret"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li class="disabled"><a href="javascript:void(0)">Disabled</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:void(0)">Another Action</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs" data-toggle="tabs">
            <li class="active"><a href="#example-tabs2-home">Home</a></li>
            <li><a href="#example-tabs2-profile">Profile</a></li>
            <li><a href="#example-tabs2-options" data-toggle="tooltip" title="Settings"><i class="fa fa-cogs"></i></a></li>
        </ul>
    </div>
    <!-- END Block Tabs Title -->

    <!-- Tabs Content -->
    <div class="tab-content">
        <div class="tab-pane active" id="example-tabs2-home">Working block tabs..</div>
        <div class="tab-pane" id="example-tabs2-profile">Profile..</div>
        <div class="tab-pane" id="example-tabs2-options">Settings..</div>
    </div>
    <!-- END Tabs Content -->
</div>
<!-- END Block Tabs -->