<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>FreshUI - Premium Web App and Admin Template</title>

        <meta name="description" content="FreshUI is a Premium Web App and Admin Template created by pixelcave and published on Themeforest.">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="img/icon152.png" sizes="152x152">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- The Open Sans font is included from Google Web Fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,700,700italic">

        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="css/bootstrap.css">

        <!-- Related styles of various icon packs and javascript plugins -->
        <link rel="stylesheet" href="css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (Browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8) -->
        <script src="js/vendor/modernizr-2.6.2-respond-1.3.0.min.js"></script>
    </head>

    <!-- Body -->
    <!-- In the PHP version you can set the following options from the config file -->
    <!--
        Add one of the following classes to the body element for the desirable feature:
        'sidebar-left-pinned'                         for a left pinned sidebar (always visible > 1200px)
        'sidebar-right-pinned'                        for a right pinned sidebar (always visible > 1200px)
        'sidebar-left-pinned sidebar-right-pinned'    for both sidebars pinned (always visible > 1200px)
    -->
    <body class="header-fixed-top">
        <!-- Left Sidebar -->
        <!-- In the PHP version you can set the following options from the config file -->
        <!-- If you add the class .enable-hover, then a small portion of left sidebar will be visible and it can be opened with a mouse hover (> 1200px) (may affect website performance) -->
        <div id="sidebar-left" class="enable-hover">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Search Form -->
                <form action="page_ready_search_results.html" method="post" class="sidebar-search">
                    <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search..">
                </form>
                <!-- END Search Form -->

                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-left-scroll">
                    <!-- Sidebar Navigation -->
                    <ul class="sidebar-nav">
                        <li>
                            <h2 class="sidebar-header">Welcome</h2>
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-coffee"></i>Dashboard</a>
                        </li>
                        <li>
                            <h2 class="sidebar-header">User Interface</h2>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="fa fa-rocket"></i>Elements</a>
                            <ul>
                                <li>
                                    <a href="page_elements_typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="page_elements_blocks_grid.html">Blocks - Grid</a>
                                </li>
                                <li>
                                    <a href="page_elements_navigation_extras.html">Navigation - Extras</a>
                                </li>
                                <li>
                                    <a href="page_elements_buttons_dropdowns.html">Buttons - Dropdowns</a>
                                </li>
                                <li>
                                    <a href="page_elements_progress_loading.html">Progress - Loading</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="fa fa-th"></i>Tables</a>
                            <ul>
                                <li>
                                    <a href="page_tables_styles.html">Styles</a>
                                </li>
                                <li>
                                    <a href="page_tables_datatables.html">Datatables</a>
                                </li>
                                <li>
                                    <a href="page_tables_editable.html">Editable</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active">
                            <a href="#" class="menu-link"><i class="fa fa-pencil-square-o"></i>Forms</a>
                            <ul>
                                <li>
                                    <a href="page_forms_general.html">General</a>
                                </li>
                                <li>
                                    <a href="page_forms_components.html">Components</a>
                                </li>
                                <li>
                                    <a href="page_forms_validation.html" class=" active">Validation</a>
                                </li>
                                <li>
                                    <a href="page_forms_wizard.html">Wizard</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="fa fa-gift"></i>Icon Packs</a>
                            <ul>
                                <li>
                                    <a href="page_icons_fontawesome.html">Font Awesome</a>
                                </li>
                                <li>
                                    <a href="page_icons_glyphicons_pro.html">Glyphicons Pro</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h2 class="sidebar-header">Extras</h2>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="fa fa-gear"></i>Components</a>
                            <ul>
                                <li>
                                    <a href="page_comp_animations.html">Animations</a>
                                </li>
                                <li>
                                    <a href="page_comp_carousel.html">Carousel</a>
                                </li>
                                <li>
                                    <a href="page_comp_gallery.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="page_comp_calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="page_comp_charts.html">Charts</a>
                                </li>
                                <li>
                                    <a href="page_comp_syntax_highlighting.html">Syntax Highlighting</a>
                                </li>
                                <li>
                                    <a href="page_comp_maps.html">Maps</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="fa fa-file"></i>Pages</a>
                            <ul>
                                <li>
                                    <a href="page_ready_blank.html">Blank</a>
                                </li>
                                <li>
                                    <a href="page_ready_404.html">404 Error</a>
                                </li>
                                <li>
                                    <a href="page_ready_search_results.html">Search Results</a>
                                </li>
                                <li>
                                    <a href="page_ready_pricing_tables.html">Pricing Tables</a>
                                </li>
                                <li>
                                    <a href="page_ready_faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="page_ready_invoice.html">Invoice</a>
                                </li>
                                <li>
                                    <a href="page_ready_article.html">Article</a>
                                </li>
                                <li>
                                    <a href="page_ready_forum.html">Forum</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="menu-link"><i class="glyphicon-tint"></i>3 Level Menu</a>
                            <ul>
                                <li>
                                    <a href="#">Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="submenu-link">Submenu 1</a>
                                    <ul>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Link 2</a>
                                </li>
                                <li>
                                    <a href="#" class="submenu-link">Submenu 2</a>
                                    <ul>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Link</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h2 class="sidebar-header">Special</h2>
                        </li>
                        <li>
                            <a href="page_special_timeline.html"><i class="fa fa-clock-o"></i>Timeline</a>
                        </li>
                        <li>
                            <a href="page_special_user_profile.html"><i class="fa fa-pencil-square"></i>User Profile</a>
                        </li>
                        <li>
                            <a href="page_special_message_center.html"><i class="fa fa-envelope-o"></i>Message Center</a>
                        </li>
                        <li>
                            <a href="page_special_login.html"><i class="fa fa-power-off"></i>Login &amp; Register</a>
                        </li>
                    </ul>
                    <!-- END Sidebar Navigation -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!-- END Left Sidebar -->

        <!-- Right Sidebar -->
        <!-- In the PHP version you can set the following options from the config file -->
        <!-- If you add the class .enable-hover, then a small portion of right sidebar will be visible and it can be opened with a mouse hover (> 1200px) (may affect website performance) -->
        <div id="sidebar-right">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- User Info -->
                <div class="user-info">
                    <div class="user-details"><a href="page_special_user_profile.html">pixelcave</a><br><em>Web Designer</em></div>
                    <img src="img/template/avatar.png" alt="Avatar">
                </div>
                <!-- END User Info -->

                <!-- Wrapper for scrolling functionality -->
                <div class="sidebar-right-scroll">
                    <!-- Color Themes -->
                    <div class="sidebar-section">
                        <h2 class="sidebar-header">Color Themes</h2>
                        <!-- Change Color Theme functionality can be found in main.js - templateOptions() -->
                        <ul class="theme-colors clearfix">
                            <li class="active">
                                <a href="javascript:void(0)" class="themed-background-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-river themed-border-river" data-theme="css/themes/river.css" data-toggle="tooltip" title="River"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-amethyst themed-border-amethyst" data-theme="css/themes/amethyst.css" data-toggle="tooltip" title="Amethyst"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-dragon themed-border-dragon" data-theme="css/themes/dragon.css" data-toggle="tooltip" title="Dragon"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-emerald themed-border-emerald" data-theme="css/themes/emerald.css" data-toggle="tooltip" title="Emerald"></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="themed-background-grass themed-border-grass" data-theme="css/themes/grass.css" data-toggle="tooltip" title="Grass"></a>
                            </li>
                        </ul>
                    </div>
                    <!-- END Color Themes -->

                    <!-- User Menu -->
                    <ul class="sidebar-nav">
                        <li>
                            <h2 class="sidebar-header">Explore</h2>
                        </li>
                        <li>
                            <a href="page_special_timeline.html"><i class="fa fa-clock-o"></i> Updates</a>
                        </li>
                        <li>
                            <a href="page_special_user_profile.html"><i class="fa fa-pencil-square"></i> Profile</a>
                        </li>
                        <li>
                            <a href="page_special_message_center.html"><i class="fa fa-envelope-o"></i> Messages</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-cog"></i> Settings</a>
                        </li>
                        <li>
                            <a href="page_special_login.html"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- END User Menu -->

                    <!-- Notifications -->
                    <div class="sidebar-section">
                        <h2 class="sidebar-header">Notifications</h2>
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <small><em>2 hours ago</em></small><br>
                            PHP version updated successfully on <a href="javascript:void(0)">Server #5</a>
                        </div>
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <small><em>3 hours ago</em></small><br>
                            <a href="javascript:void(0)">Game Server</a> crashed but restored!
                        </div>
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <small><em>5 hours ago</em></small><br>
                            <a href="javascript:void(0)">FTP Server</a> went down for maintenance!
                        </div>
                    </div>
                    <!-- END Notifications -->

                    <!-- Messages -->
                    <div class="sidebar-section">
                        <h2 class="sidebar-header">Messages</h2>
                        <div class="alert alert-info">
                            <small><a href="page_special_user_profile.html">Claire</a>, 2 minutes ago</small><br>
                            Hi John, I just wanted to let you know that.. <a href="page_special_message_center.html">more</a>
                        </div>
                        <div class="alert alert-info">
                            <small><a href="page_special_user_profile.html">Michael</a>, 5 minutes ago</small><br>
                            The project is moving along just fine and we.. <a href="page_special_message_center.html">more</a>
                        </div>
                    </div>
                    <!-- END Messages -->
                </div>
                <!-- END Wrapper for scrolling functionality -->
            </div>
            <!-- END Sidebar Content -->
        </div>
        <!-- END Right Sidebar -->

        <!-- Page Container -->
        <!-- In the PHP version you can set the following options from the config file -->
        <!-- Add the class .full-width for a full width page (100%, 1920px max width) -->
        <div id="page-container">
            <!-- Header -->
            <!-- In the PHP version you can set the following options from the config file -->
            <!-- Add the class .navbar-default or .navbar-inverse for a light or dark header respectively -->
            <!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
            <!-- If you add the class .navbar-fixed-top remember to add the class .header-fixed-top to <body> element -->
            <!-- If you add the class .navbar-fixed-bottom remember to add the class .header-fixed-bottom to <body> element -->
            <header class="navbar navbar-default navbar-fixed-top">
                <!-- Right Header Navigation -->
                <ul class="nav header-nav pull-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-cogs"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-custom pull-right">
                            <li class="dropdown-header text-center">HEADER</li>
                            <li>
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-header-default">Default</a>
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-header-inverse">Inverse</a>
                                </div>
                            </li>
                            <li>
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-header-top">Top</a>
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-header-bottom">Bottom</a>
                                </div>
                            </li>
                            <li class="hidden-xs hidden-sm dropdown-header text-center">FULL WIDTH PAGE</li>
                            <li class="hidden-xs hidden-sm">
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-fw-disable">Disable</a>
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-fw-enable">Enable</a>
                                </div>
                            </li>
                            <li class="visible-lg dropdown-header text-center">PIN SIDEBARS</li>
                            <li class="visible-lg">
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-pin-left">Pin Left</a>
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-pin-right">Pin Right</a>
                                </div>
                            </li>
                            <li class="visible-lg dropdown-header text-center">SIDEBARS MOUSE HOVER</li>
                            <li class="visible-lg">
                                <div class="btn-group btn-group-justified btn-group-sm">
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-hover-left">Left</a>
                                    <a href="javascript:void(0)" class="btn btn-default" id="options-hover-right">Right</a>
                                </div>
                            </li>
                            <li class="visible-lg hidden-lt-ie9 dropdown-header text-center">EFFECT WHEN SIDEBARS OPEN</li>
                            <li class="visible-lg hidden-lt-ie9 text-center">
                                <div class="btn-group-vertical btn-group-sm" id="option-effects">
                                    <button class="btn btn-default" data-fx="fx-none">None</button>
                                    <button class="btn btn-default" data-fx="fx-opacity">Opacity</button>
                                    <button class="btn btn-default" data-fx="fx-move">Move</button>
                                    <button class="btn btn-default" data-fx="fx-push">Push</button>
                                    <button class="btn btn-default" data-fx="fx-rotate">Rotate</button>
                                    <button class="btn btn-default" data-fx="fx-push-move">Push and Move</button>
                                    <button class="btn btn-default" data-fx="fx-push-rotate">Push and Rotate</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" id="sidebar-right-toggle">
                            <strong>5</strong> <i class="fa fa-user"></i>
                        </a>
                    </li>
                </ul>
                <!-- END Right Header Navigation -->

                <!-- Left Header Navigation -->
                <ul class="nav header-nav pull-left">
                    <li>
                        <a href="javascript:void(0)" id="sidebar-left-toggle">
                            <i class="fa fa-bars"></i>
                        </a>
                    </li>
                </ul>
                <!-- END Left Header Navigation -->

                <!-- Header Brand -->
                <a href="index.html" class="navbar-brand">
                    <img src="img/template/drop.png" alt="FreshUI">
                    <span>FreshUI</span>
                </a>
                <!-- END Header Brand -->
            </header>
            <!-- END Header -->

            <!-- FX Container -->
            <!-- In the PHP version you can set the following options from the config file -->
            <!--
                All effects apply in resolutions larger than 1200px width
                Add one of the following classes to #fx-container for setting an effect to main content when one of the sidebars are opened
                'fx-none'           remove all effects (better website performance)
                'fx-opacity'        opacity effect
                'fx-move'           move effect
                'fx-push'           push effect
                'fx-rotate'         rotate effect
                'fx-push-move'      push-move effect
                'fx-push-rotate'    push-rotate effect
            -->
            <div id="fx-container" class="fx-opacity">
                <!-- Page content -->
                <div id="page-content" class="block">
                    <!-- Validation Header -->
                    <div class="block-header">
                        <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
                        <a href="" class="header-title-link">
                            <h1>
                                <i class="fa fa-exclamation-triangle animation-expandUp"></i>Form Validation<br><small>Easy validation and user helpers!</small>
                            </h1>
                        </a>
                    </div>
                    <ul class="breadcrumb breadcrumb-top">
                        <li><i class="fa fa-pencil-square-o"></i></li>
                        <li>Forms</li>
                        <li><a href="">Validation</a></li>
                    </ul>
                    <!-- END Validation Header -->

                    <!-- Validation States and Messages Block -->
                    <div class="block">
                        <!-- Validation States and Messages Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-exclamation-triangle"></i> Validation States and Messages <small>Help the user fill out the forms</small></h2>
                        </div>
                        <!-- END Validation States and Messages Title -->

                        <!-- Validation States and Messages Content -->
                        <form action="page_forms_validation.html" method="post" class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="example-text-input">Input with Help Message</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input" name="example-text-input" class="form-control" placeholder="Username">
                                    <span class="help-block">Please enter your username</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="example-text-input2">Input with Tooltip</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input2" name="example-text-input2" class="form-control" placeholder="Hover me" data-toggle="tooltip" title="This is a help tooltip!">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="example-text-input3">Input with Popover</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input3" name="example-text-input3" class="form-control" placeholder="Focus me" data-toggle="popover" data-placement="top" title="Title" data-content="This is a help popover! You can add your requirements in here!">
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label class="col-md-2 control-label" for="example-text-input4">Success State</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input4" name="example-text-input4" class="form-control" placeholder="...">
                                    <span class="help-block">By using the class <code>.has-success</code></span>
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label class="col-md-2 control-label" for="example-text-input5">Warning State</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input5" name="example-text-input5" class="form-control" placeholder="...">
                                    <span class="help-block">By using the class <code>.has-warning</code></span>
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label class="col-md-2 control-label" for="example-text-input6">Error State</label>
                                <div class="col-md-3">
                                    <input type="text" id="example-text-input6" name="example-text-input6" class="form-control" placeholder="...">
                                    <span class="help-block">By using the class <code>.has-error</code></span>
                                </div>
                            </div>
                        </form>
                        <!-- END Validation States and Messages Content -->
                    </div>
                    <!-- END Validation States and Messages Block -->

                    <!-- Validation Block -->
                    <div class="block">
                        <!-- Validation Title -->
                        <div class="block-title">
                            <h2><i class="fa fa-wrench"></i> Validation <small>Validate easily in the front-end before sending data for further process</small></h2>
                        </div>
                        <!-- END Validation Title -->

                        <!-- Validation Content -->
                        <form id="form-validation" action="page_forms_validation.html" method="post" class="form-horizontal">
                            <h4 class="sub-header">Basic Info</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_username">Username</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="val_username" name="val_username" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_email">Email</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="val_email" name="val_email" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="sub-header">Vital Info</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_password">Password</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="password" id="val_password" name="val_password" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_confirm_password">Confirm Password</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="password" id="val_confirm_password" name="val_confirm_password" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="sub-header">Personal Stuff</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_skill">Best Skill</label>
                                <div class="col-md-3">
                                    <select id="val_skill" name="val_skill" class="form-control">
                                        <option value="">Please select</option>
                                        <option value="html">HTML</option>
                                        <option value="css">CSS</option>
                                        <option value="javascript">Javascript</option>
                                        <option value="php">PHP</option>
                                        <option value="mysql">MySQL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_website">Website</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="val_website" name="val_website" class="form-control" value="http://">
                                        <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_credit_card">Credit Card</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input type="text" id="val_credit_card" name="val_credit_card" class="form-control" data-toggle="tooltip" title="Try 446-667-651">
                                        <span class="input-group-addon"><i class="fa fa-credit-card fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <h4 class="sub-header">Extras</h4>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_digits">Digits</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="val_digits" name="val_digits" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_number">Number</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="val_number" name="val_number" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" for="val_range">Range [1, 500]</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <input type="text" id="val_range" name="val_range" class="form-control">
                                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Service Terms</label>
                                <div class="col-md-3">
                                    <div class="checkbox">
                                        <label for="val_terms">
                                            <input type="checkbox" id="val_terms" name="val_terms" value="1"> I Agree
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="reset" class="btn btn-default"><i class="fa fa-times"></i> Reset</button>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Submit</button>
                                </div>
                            </div>
                        </form>
                        <!-- END Validation Content -->
                    </div>
                    <!-- END Validation Block -->
                </div>
                <!-- END Page Content -->

                <!-- Footer -->
                <footer class="clearfix">
                    <div class="pull-right">
                        Crafted with <i class="fa fa-heart"></i> by <a href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
                    </div>
                    <div class="pull-left">
                        <span id="year-copy"></span> &copy; <a href="javascript:void(0)" target="_blank">FreshUI 1.4</a>
                    </div>
                </footer>
                <!-- END Footer -->
            </div>
            <!-- END FX Container -->
        </div>
        <!-- END Page Container -->

        <!-- Scroll to top link, check main.js - scrollToTop() -->
        <a href="javascript:void(0)" id="to-top"><i class="fa fa-angle-up"></i></a>

        <!-- Get Jquery library from Google but if something goes wrong get Jquery from local file - Remove 'http:' if you have SSL -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="js/vendor/jquery-1.10.2.min.js"%3E%3C/script%3E'));</script>

        <!-- Bootstrap.js, Jquery plugins and custom Javascript code -->
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        
        <!-- Javascript code only for this page -->
        <script>
            $(function() {
                /* For advanced usage and examples please check out
                 *  Jquery Validation   -> https://github.com/jzaefferer/jquery-validation
                 */

                /* Initialize Form Validation */
                $('#form-validation').validate({
                    errorClass: 'help-block', // You can add help-inline instead of help-block if you like validation messages to the right of the inputs
                    errorElement: 'div',
                    errorPlacement: function(error, e) {
                        e.parents('.form-group > div').append(error);
                    },
                    highlight: function(e) {
                        $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                        $(e).closest('.help-block').remove();
                    },
                    success: function(e) {
                        // You can remove the .addClass('has-success') part if you don't want the inputs to get green after success!
                        e.closest('.form-group').removeClass('has-success has-error').addClass('has-success');
                        e.closest('.help-block').remove();
                    },
                    rules: {
                        val_username: {
                            required: true,
                            minlength: 3
                        },
                        val_email: {
                            required: true,
                            email: true
                        },
                        val_password: {
                            required: true,
                            minlength: 5
                        },
                        val_confirm_password: {
                            required: true,
                            minlength: 5,
                            equalTo: '#val_password'
                        },
                        val_skill: {
                            required: true
                        },
                        val_website: {
                            required: true,
                            url: true
                        },
                        val_credit_card: {
                            required: true,
                            creditcard: true
                        },
                        val_digits: {
                            required: true,
                            digits: true
                        },
                        val_number: {
                            required: true,
                            number: true
                        },
                        val_range: {
                            required: true,
                            range: [1, 500]
                        },
                        val_terms: {
                            required: true
                        }
                    },
                    messages: {
                        val_username: {
                            required: 'Please enter a username',
                            minlength: 'Your username must consist of at least 3 characters'
                        },
                        val_email: 'Please enter a valid email address',
                        val_password: {
                            required: 'Please provide a password',
                            minlength: 'Your password must be at least 5 characters long'
                        },
                        val_confirm_password: {
                            required: 'Please provide a password',
                            minlength: 'Your password must be at least 5 characters long',
                            equalTo: 'Please enter the same password as above'
                        },
                        val_skill: 'Please select a skill!',
                        val_website: 'Please enter your website!',
                        val_credit_card: 'Please enter a valid credit card!',
                        val_digits: 'Please enter only digits!',
                        val_number: 'Please enter a number!',
                        val_range: 'Please enter a number between 1 and 500!',
                        val_terms: 'You must agree to the service terms!'
                    }
                });
            });
        </script>
    </body>
</html>