<!-- Bars Chart Block -->
<div class="block full">
    <!-- Bars Chart Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <span class="label label-warning">Sales</span>
        </div>
        <h2>Bars Chart</h2>
    </div>
    <!-- END Bars Chart Title -->

    <!-- Bars Chart Content -->
    <div id="chart-bars" class="chart"></div>
    <!-- END Bars Chart Content -->
</div>
<!-- END Bars Chart Block -->