<!-- Default Carousel -->
<div class="col-md-12">
    <h3 class="sub-header">Default <small>Slide effect, captions and indicators</small></h3>
    <div id="example-carousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#example-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#example-carousel" data-slide-to="1"></li>
            <li data-target="#example-carousel" data-slide-to="2"></li>
            <li data-target="#example-carousel" data-slide-to="3"></li>
            <li data-target="#example-carousel" data-slide-to="4"></li>
            <li data-target="#example-carousel" data-slide-to="5"></li>
        </ol>
        <!-- END Indicators -->

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="active item">
                <img src="img/placeholders/image_1680x1050_dark.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
            <div class="item">
                <img src="img/placeholders/image_1680x1050_light.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
            <div class="item">
                <img src="img/placeholders/image_1680x1050_dark.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
            <div class="item">
                <img src="img/placeholders/image_1680x1050_light.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
            <div class="item">
                <img src="img/placeholders/image_1680x1050_dark.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
            <div class="item">
                <img src="img/placeholders/image_1680x1050_light.png" alt="fakeimg">
                <div class="carousel-caption">
                    <p>Caption..</p>
                </div>
            </div>
        </div>
        <!-- END Wrapper for slides -->

        <!-- Controls -->
        <a class="left carousel-control" href="#example-carousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#example-carousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
        <!-- END Controls -->
    </div>
</div>
<!-- END Default Carousel -->