<!-- Classic Chart Block -->
<div class="block full">
    <!-- Classic Chart Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <span class="label label-warning">Earnings</span>
            <span class="label label-default">Sales</span>
        </div>
        <h2>Classic Chart</h2>
    </div>
    <!-- END Classic Chart Title -->

    <!-- Classic Chart Content -->
    <div id="chart-classic" class="chart"></div>
    <!-- END Classic Chart Content -->
</div>
<!-- END Classic Chart Block -->