<!-- Color Themes -->
<div class="sidebar-section">
    <h2 class="sidebar-header">Color Themes</h2>
    <!-- Change Color Theme functionality can be found in main.js - templateOptions() -->
    <ul class="theme-colors clearfix">
        <li class="active">
            <a href="javascript:void(0)" class="themed-background-default themed-border-default" data-theme="default" data-toggle="tooltip" title="Default"></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="themed-background-river themed-border-river" data-theme="css/themes/river.css" data-toggle="tooltip" title="River"></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="themed-background-amethyst themed-border-amethyst" data-theme="css/themes/amethyst.css" data-toggle="tooltip" title="Amethyst"></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="themed-background-dragon themed-border-dragon" data-theme="css/themes/dragon.css" data-toggle="tooltip" title="Dragon"></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="themed-background-emerald themed-border-emerald" data-theme="css/themes/emerald.css" data-toggle="tooltip" title="Emerald"></a>
        </li>
        <li>
            <a href="javascript:void(0)" class="themed-background-grass themed-border-grass" data-theme="css/themes/grass.css" data-toggle="tooltip" title="Grass"></a>
        </li>
    </ul>
</div>
<!-- END Color Themes -->