
	<div class="row">
		<div class="col-md-12">
			<div class="block-section text-center">
				<%= link_to path, class: "btn btn-success" do %>
				<i class="fa fa-plus"></i> New <%= model_name %>
				<% end %>
			</div>
			
		</div>
	</div>
