<!-- Dropzone Block -->
<div class="block full">
    <!-- Dropzone Title -->
    <div class="block-title">
        <h2><i class="fa fa-cloud-upload"></i> Advanced File Upload <small>Drag and Drop files to upload them! <code>.dropzone</code></small></h2>
    </div>
    <!-- END Dropzone Title -->

    <!-- Dropzone Content -->
    <!-- Dropzone.js, You can check out https://github.com/enyo/dropzone/wiki for usage examples -->
    <form action="page_forms_components.html" class="dropzone"></form>
    <!-- END Dropzone Content -->
</div>
<!-- END Dropzone Block -->