<!-- Easy Pie Charts Block -->
<div class="block">
    <!-- Easy Pie Charts Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-sm btn-primary toggle-pies">Randomize</a>
        </div>
        <h2>Easy Pie Charts</h2>
    </div>
    <!-- END Easy Pie Charts Title -->

    <!-- Easy Pie Charts Content -->
    <div class="row text-center">
        <div class="col-sm-3">
            <!-- Just add the class .pie-chart as well as the values you would like at data-percent and data-size (in px), it is initialized in main.js -->
            <div class="pie-chart block-section" data-percent="25" data-size="150">
                <span>25%</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="pie-chart block-section" data-percent="50" data-size="150">
                <span>50%</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="pie-chart block-section" data-percent="75" data-size="150">
                <span>75%</span>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="pie-chart block-section" data-percent="100" data-size="150">
                <span>100%</span>
            </div>
        </div>
    </div>
    <!-- END Easy Pie Charts Content -->
</div>
<!-- END Easy Pie Charts Block -->