<!-- Extra Block -->
<div class="block">
    <!-- Extra Title -->
    <div class="block-title">
        <h2><i class="fa fa-thumbs-o-up"></i> Recommended Web Designers</h2>
    </div>
    <!-- END Extra Title -->

    <!-- Extra Content -->
    <div class="content-text clearfix">
        <img src="<%= asset_path "admin/avatar2.jpg" %>" alt="avatar" class="img-circle img-responsive pull-left">
        <h3 class="push"><a href="page_special_user_profile.html">John Doe</a> <small><em>750 Followers</em></small></h3>
        <a href="javascript:void(0)" class="btn btn-xs btn-success"><i class="fa fa-share"></i> Follow</a>
        <a href="javascript:void(0)" class="btn btn-xs btn-primary">Hire</a>
    </div>
    <!-- END Extra Content -->
</div>
<!-- END Extra Block -->