<!-- Graph Stats Block -->
<div class="block full">
    <div class="block-title">
        <h2 class="text-center"><i class="glyphicon-charts"></i> Site Visits <small>/New Visits - <a href="page_comp_charts.html">In detail</a></small></h2>
    </div>
    <div id="chart-classic" class="chart"></div>
</div>
<!-- END Graph Stats Block -->