<!-- Dashboard Header -->
<div class="block-header">
    <div class="row remove-margin">
        <!-- Title -->
        <div class="col-md-4">
            <!-- If you do not want a link in the header, instead of .header-title-link you can use a div with the class .header-section -->
            <a href="" class="header-title-link">
                <h1><i class="fa fa-home animation-expandUp"></i>Dashboard<br><small>Welcome Admin!</small></h1>
            </a>
        </div>
        <!-- END Title -->

        <!-- Statistics -->
        <div class="col-md-8">
            <!-- Outer Grid -->
            <div class="row">
                <div class="col-sm-6">
                    <!-- Inner Grid 1 -->
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="admin/bookings" class="header-link">
                                <h1 class="animation-pullDown">12<br><small>Bookings Today</small></h1>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="admin/orders" class="header-link">
                                <h1 class="animation-pullDown">5<br><small>Payments Today</small></h1>
                            </a>
                        </div>
                    </div>
                    <!-- END Inner Grid 1 -->
                </div>
                <div class="col-sm-6">
                    <!-- Inner Grid 2 -->
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="https://manage.stripe.com/login" class="header-link">
                                <h1 class="animation-pullDown">£8,446<br><small>Profit Today</small></h1>
                            </a>
                        </div>
                        <div class="col-xs-6">
                            <a href="https://manage.stripe.com/login" class="header-link">
                                <h1 class="animation-pullDown">£77,912<br><small>Running Total</small></h1>
                            </a>
                        </div>
                    </div>
                    <!-- END Inner Grid 2 -->
                </div>
            </div>
            <!-- END Outer Grid  -->
        </div>
        <!-- END Statistics -->
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li><i class="fa fa-home"></i></li>
    <li><a href="">Dashboard</a></li>
</ul>
<!-- END Dashboard Header -->