<!-- Left Sidebar -->
<!-- In the PHP version you can set the following options from the config file -->
<!-- If you add the class .enable-hover, then a small portion of left sidebar will be visible and it can be opened with a mouse hover (> 1200px) (may affect website performance) -->
<div id="sidebar-left" class="enable-hover">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
        <!-- Search Form -->
        <form action="page_ready_search_results.html" method="post" class="sidebar-search">
            <input type="text" id="sidebar-search-term" name="sidebar-search-term" placeholder="Search..">
        </form>
        <!-- END Search Form -->

        <!-- Wrapper for scrolling functionality -->
        <div class="sidebar-left-scroll">
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li>
                    <h2 class="sidebar-header">Overview</h2>
                </li>
                <li>
                    <a href="/admin" class=" active"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <h2 class="sidebar-header">Manage</h2>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-calendar-o"></i>Bookings</a>
                    <ul>
                        <li>
                            <a href="/admin/bookings">All Bookings</a>
                        </li>
                        <li>
                            <a href="/admin/bookings/new">New Booking</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-wrench"></i>Contractors</a>
                    <ul>
                        <li>
                            <a href="/admin/contractors">All Contractors</a>
                        </li>
                        <li>
                            <a href="/admin/contractors/new">New Contractor</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-file-text-o"></i>News</a>
                    <ul>
                        <li>
                            <a href="/admin/articles">All News</a>
                        </li>
                        <li>
                            <a href="/admin/articles/new">New Article</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-money"></i>Payments</a>
                    <ul>
                        <li>
                            <a href="/admin/orders">All Payments</a>
                        </li>
                        <li>
                            <a href="/admin/orders/new">New Payment</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-th-large"></i>Stands</a>
                    <ul>
                        <li>
                            <a href="/admin/stands">Manage Stands</a>
                        </li>
                        <li>
                            <a href="/admin/stands/new">Upload new stand list</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-heart"></i>Supporters</a>
                    <ul>
                        <li>
                            <a href="/admin/supporters">All Supporters</a>
                        </li>
                        <li>
                            <a href="/admin/supporters/new">New Supporter</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-quote-right"></i>Testimonials</a>
                    <ul>
                        <li>
                            <a href="/admin/testimonials">All Testimonials</a>
                        </li>
                        <li>
                            <a href="/admin/testimonials/new">New Testimonial</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="menu-link"><i class="fa fa-users"></i>Users</a>
                    <ul>
                        <li>
                            <a href="/admin/users">All Users</a>
                        </li>
                        <li>
                            <a href="/admin/users/new">New User</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2 class="sidebar-header">Statistics</h2>
                </li>
                <li>
                    <a href="/admin/tickets" class="menu-link"><i class="fa fa-ticket"></i>Tickets</a>
                </li>
                <li>
                    <h2 class="sidebar-header">Actions</h2>
                </li>
                <li>
                    <a href=""><i class="fa fa-gear"></i>Preferences</a>
                </li>
                <li>
                    <a href="/"><i class="fa fa-power-off"></i>Log out</a>
                </li>
            </ul>
            <!-- END Sidebar Navigation -->
        </div>
        <!-- END Wrapper for scrolling functionality -->
    </div>
    <!-- END Sidebar Content -->
</div>
<!-- END Left Sidebar -->