<div class="gallery-image push">
    <img src="<%= small_path %>" alt="image">
    <div class="gallery-image-options">
        <a href="<%= big_path %>" data-toggle="lightbox-image" title="This is some info text about the image" class="gallery-link label label-info">View</a>
        <a href="javascript:void(0)" class="label label-success"><i class="fa fa-pencil"></i></a>
        <a href="javascript:void(0)" class="label label-danger"><i class="fa fa-times"></i></a>
    </div>
</div>