<div class="list-group">
    <a href="javascript:void(0)" class="list-group-item">
        <span class="badge">3</span>
        <h4 class="list-group-item-heading">Element's Title</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
    <a href="javascript:void(0)" class="list-group-item active">
        <span class="badge">2</span>
        <h4 class="list-group-item-heading">Element's Title</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
    <a href="javascript:void(0)" class="list-group-item">
        <span class="badge">12</span>
        <h4 class="list-group-item-heading">Element's Title</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
    <a href="javascript:void(0)" class="list-group-item">
        <span class="badge">7</span>
        <h4 class="list-group-item-heading">Element's Title</h4>
        <p class="list-group-item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </a>
</div>