<!-- Live Chart Block -->
<div class="block full">
    <!-- Bars Chart Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <span id="chart-live-info" class="label label-default">%</span>
        </div>
        <h2>Live Chart</h2>
    </div>
    <!-- END Bars Chart Title -->

    <!-- Bars Chart Content -->
    <div id="chart-live" class="chart"></div>
    <!-- END Bars Chart Content -->
</div>
<!-- END Live Chart Block -->