<div class="alert alert-info">
    <small><a href="page_special_user_profile.html">Claire</a>, 2 minutes ago</small><br>
    Hi John, I just wanted to let you know that.. <a href="page_special_message_center.html">more</a>
</div>