<!-- Notifications -->
<div class="sidebar-section">
    <h2 class="sidebar-header">Notifications</h2>
    <%= render_activities(@activities, layout: :activity) %>
    
</div>
<!-- END Notifications -->