<!-- Quick Stats Block -->
<div class="block">
    <!-- Quick Stats Title -->
    <div class="block-title">
        <h2 class="text-center"><i class="fa fa-suitcase"></i> Exhibitor Block Space <small>Usage - <a href="page_ready_pricing_tables.html">See floorplan</a></small></h2>
    </div>
    <!-- END Quick Stats Title -->

    <!-- Quick Stats Content -->
    <div class="row">
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="12" data-size="150">
                <span><strong>12</strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span>INDOOR</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="22" data-size="150">
                <span><strong>22</strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span>OUTDOOR</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="4" data-size="150">
                <span><strong>4</strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span>MACHINERY HALL</span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="pie-chart block-section" data-percent="48" data-size="150">
                <span><strong>48</strong><small>%</small></span>
            </div>
            <div class="block-caption">
                <span>LIVESTOCK HALL</span>
            </div>
        </div>
    </div>
    <!-- END Quick Stats Content -->
</div>
<!-- END Quick Stats Block -->