<!-- Pie Chart Block -->
<div class="block full">
    <!-- Pie Chart Title -->
    <div class="block-title">
        <h2>Pie Chart</h2>
    </div>
    <!-- END Pie Title -->

    <!-- Pie Chart Content -->
    <div id="chart-pie" class="chart"></div>
    <!-- END Pie Chart Content -->
</div>
<!-- END Pie Chart Block -->