<div class="form-group">
    <!-- Social Login -->
    <div class="col-xs-6">
        <a href="javascript:void(0)" class="btn btn-lg btn-info btn-block"><i class="fa fa-facebook"></i> Facebook</a>
    </div>
    <div class="col-xs-6">
        <a href="javascript:void(0)" class="btn btn-lg btn-info btn-block"><i class="fa fa-twitter"></i> Twitter</a>
    </div>
    <!-- END Social Login -->
</div>