<!-- Stacked Chart Block -->
<div class="block full">
    <!-- Stacked Chart Title -->
    <div class="block-title">
        <div class="block-options pull-right">
            <span class="label label-warning">Earnings</span>
            <span class="label label-default">Sales</span>
        </div>
        <h2>Stacked Chart</h2>
    </div>
    <!-- END Stacked Chart Title -->

    <!-- Stacked Chart Content -->
    <div id="chart-stacked" class="chart"></div>
    <!-- END Stacked Chart Content -->
</div>
<!-- END Stacked Chart Block -->