<!-- Header -->
<!-- In the PHP version you can set the following options from the config file -->
<!-- Add the class .navbar-default or .navbar-inverse for a light or dark header respectively -->
<!-- Add the class .navbar-fixed-top or .navbar-fixed-bottom for a fixed header on top or bottom respectively -->
<!-- If you add the class .navbar-fixed-top remember to add the class .header-fixed-top to <body> element -->
<!-- If you add the class .navbar-fixed-bottom remember to add the class .header-fixed-bottom to <body> element -->
<header class="navbar navbar-default navbar-fixed-top">
    <!-- Right Header Navigation -->
    <ul class="nav header-nav pull-right">
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-cogs"></i>
            </a>
            <ul class="dropdown-menu dropdown-custom pull-right">
                <li class="hidden-xs hidden-sm dropdown-header text-center">FULL WIDTH PAGE</li>
                <li class="hidden-xs hidden-sm">
                    <div class="btn-group btn-group-justified btn-group-sm">
                        <a href="javascript:void(0)" class="btn btn-default" id="options-fw-disable">Disable</a>
                        <a href="javascript:void(0)" class="btn btn-default" id="options-fw-enable">Enable</a>
                    </div>
                </li>
                <li class="visible-lg dropdown-header text-center">PIN SIDEBARS</li>
                <li class="visible-lg">
                    <div class="btn-group btn-group-justified btn-group-sm">
                        <a href="javascript:void(0)" class="btn btn-default" id="options-pin-left">Pin Left</a>
                        <a href="javascript:void(0)" class="btn btn-default" id="options-pin-right">Pin Right</a>
                    </div>
                </li>
                <li class="visible-lg dropdown-header text-center">SIDEBARS MOUSE HOVER</li>
                <li class="visible-lg">
                    <div class="btn-group btn-group-justified btn-group-sm">
                        <a href="javascript:void(0)" class="btn btn-default" id="options-hover-left">Left</a>
                        <a href="javascript:void(0)" class="btn btn-default" id="options-hover-right">Right</a>
                    </div>
                </li>
                <li class="visible-lg hidden-lt-ie9 dropdown-header text-center">EFFECT WHEN SIDEBARS OPEN</li>
                <li class="visible-lg hidden-lt-ie9 text-center">
                    <div class="btn-group-vertical btn-group-sm" id="option-effects">
                        <button class="btn btn-default" data-fx="fx-none">None</button>
                        <button class="btn btn-default" data-fx="fx-opacity">Opacity</button>
                        <button class="btn btn-default" data-fx="fx-move">Move</button>
                        <button class="btn btn-default" data-fx="fx-push">Push</button>
                        <button class="btn btn-default" data-fx="fx-rotate">Rotate</button>
                        <button class="btn btn-default" data-fx="fx-push-move">Push and Move</button>
                        <button class="btn btn-default" data-fx="fx-push-rotate">Push and Rotate</button>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" id="sidebar-right-toggle">
                <strong class="notificationBobble">5</strong> <i class="fa fa-user"></i>
            </a>
        </li>
    </ul>
    <!-- END Right Header Navigation -->

    <!-- Left Header Navigation -->
    <ul class="nav header-nav pull-left">
        <li>
            <a href="javascript:void(0)" id="sidebar-left-toggle">
                <i class="fa fa-bars"></i>
            </a>
        </li>
    </ul>
    <!-- END Left Header Navigation -->

    <!-- Header Brand -->
    <a href="/admin" class="navbar-brand">
        <img src="<%= asset_path "admin/sq_logo.jpg" %>" alt="Livestock Event Admin" width="50px" height="45px" style="position:relative; left:-15px; top:-2px;">
        <span>RABDF</span>
    </a>
    <!-- END Header Brand -->
</header>
<!-- END Header -->