<div class="tile content-tile admin-actions tile-1-tall tile-n-wide rabdfblue">
  <div class="flipper">
    <div class="front">
    <span class="tile-title">administrate</span>
      <div class="row buttonContent fourButtons verticalButtons">
        <div class="small-12 large-3 columns vertWrap">
            <div class="vertElement">
              {{#link-to "testimonials.index" class="button callToAction "}}<span class="icon-speechbubble"></span>{{/link-to}}
              <span class="buttonLabel">all testimonials</span>
            </div>
        </div>
        <div class="small-12 large-3 columns vertWrap">
            <div class="vertElement">
              {{#link-to "contractors.new" class="button callToAction "}}<span class="icon-add"></span>{{/link-to}}
              <span class="buttonLabel">new contractor</span>
            </div>
        </div>
        <div class="small-12 large-3 columns vertWrap">
          <div class="vertElement">
            {{#link-to "supporters.new" class="button callToAction "}}<span class="icon-handshake"></span>{{/link-to}}
            <span class="buttonLabel">new supporter</span>
          </div>
        </div>
        <div class="small-12 large-3 columns vertWrap">
          <div class="vertElement">
            {{#link-to "articles.new" class="button callToAction "}}<span class="icon-article-new "></span>{{/link-to}}
            <span class="buttonLabel">new article</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
