<table class="contenteditableForm" id="cattle_entry">
<thead>
<td style="width:15%">Class</td><td style="width:20%">Breed</td><td style="width:25%">Name of Animal</td><td style="width:15%">Tag Number</td><td style="width:15%">D.O.B.</td><td style="width:20%; min-width:200px;">Breeder</td>
</thead>
<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>


</tr>
<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>


</tr>
<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>




<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>


</tr>
<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>


</tr>
<tr>
<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>

<td contenteditable="true">
	
</td>


</tr>
</table>