<h2>Pre-movement TB Testing</h2>

<p>Download <a target="_blank" href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/pub-advice-tb-move.pdf" class="inlineLink">Pre- and Post-Movement testing information</a> <small>(PDF)</small></p>

<p>All cattle going to be housed at a show OR to a Show that takes place for a period of over 24 hours must be pre-movement tested before attending the Show if they are from a High Risk Area – Annual Testing.</p>
<p>The Pre-movement test is <b>valid for 60 days</b> from the date of <b>Injection</b> NOT the date of reading.</p>
<p>Please be aware of this before attending any Shows this summer and book your test(s) in plenty of time.</p>
<p>If you are attending the National Dairy Show or the National Aberdeen Angus, Charolais, or British Blue Cattle Shows at the Livestock Event 2014 you will need to TB test on the 5th May (at the earliest) to ensure you are within  the 60 day period which will take you to the 3rd July. </p> 
<p>Only the animals attending the Cattle Shows need to be Pre-movement tested.</p>
<p>All exhibitors are required to bring their TB Certificate with them and present to the Show Office.</p>
<p>The AHVLA and BCMS will be doing a random 10% check on all cattle attending all Shows.  If a pre-movement test has not been carried out then a Post-Movement test will be required.</p>

<p><strong>Scotland</strong></p>

<p><em>2007 Regulations: Post-movement testing</em></p>

<p><em><strong>9.</strong> ‘Any bovine animal on any premises in Scotland which has been moved from premises in a high incidence area shall have a diagnostic test for tuberculosis applied to it no fewer than 60 days and no more than 120 days after the date on which it first arrives at premises in Scotland’.</em></p>

<p>Please note the NEC is in a high risk area.  So it is recommended a Post Movement test is carried out.  However the NEC is not in contact with any cattle bar those coming to the Livestock Event which will have been tested TB Free.  </p>

<p><strong>Wales</strong></p>

<p>Exhibitors from Wales must Pre-Movement test before the Show. </p>