
		<p><strong>I hereby certify that the particulars herein are correct to the best of my knowledge and belief, and I hereby agree to conform to and abide by the RABDF Showing Rules and Regulations, which have been read prior to my signing this form.</strong></p>


<div class="row">
	<div class="small-3 columns">
		<em>Signed</em>
	</div>
	<div class="small-1 noBorder columns">&nbsp;</div>
	<div class="small-3 columns">
		<em>Name</em>
	</div>
	<div class="small-1 noBorder columns">&nbsp;</div>
	<div class="small-4 columns">
		<em>Date</em>
	</div>
	
</div>

<div class="row">
	<div class="small-3 printThird columns">
		<em>Prefix</em>
	</div>
	<div class="small-1 noBorder columns">&nbsp;</div>
	<div class="small-3 printThird columns">
		<em>Breed Society Membership No.</em>
	</div>
	<div class="small-1 noBorder columns">&nbsp;</div>
	<div class="small-4 printThird columns">
		<em>CPH No.</em>
	</div>
	
</div>

<div class="row">
	<div class="noBorder barclays printThird small-4 columns">
		<span class="massiveText icon-barclays-logo-full"></span>
	</div>
	<div class="noBorder small-4 printThird columns">
		&nbsp;
	</div>
	<div class="noBorder textLeft small-4 printThird columns">
		<img src="<%= asset_path('logo.png') %>" alt="Livestock Event 2014 logo">
	</div>
	
</div>