<div id="hcard-Sian-Mercer" class="vcard">
 <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
 <div class="org">RABDF</div>
 <div class="adr">
  <div class="street-address">Dairy House, Unit 31, Abbey Park</div>
  <span class="locality">Stareton, Kenilworth</span>
, 
  <span class="region">Warwickshire</span>
, 
  <span class="postal-code">CV8 2LY</span>

  <span class="country-name">United Kingdom</span>

 </div>