<div class="row">
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'schedules' class="button callToAction"}}<span class="icon-calendar"></span>{{/link-to}}
      <span class="buttonLabel">Schedules</span>
    </div>
  </div>   
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'regulations' class="button callToAction"}}<span class="icon-edit-pencil"></span>{{/link-to}}
      <span class="buttonLabel">Rules & Regs</span>
    </div>
  </div>  
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'results' class="button callToAction"}}<span class="icon-award"></span>{{/link-to}}
      <span class="buttonLabel">Results</span>
    </div>
  </div>  
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'tickets' class="button callToAction"}}<span class="icon-card-user"></span>{{/link-to}}
      <span class="buttonLabel">Tickets</span>
    </div>
  </div>  
</div>