<div class="row">
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      <a href="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/Schedules/Lleyn%20Schedule.pdf" target="_blank" class="button callToAction"><span class="icon-calendar"></span></a>
      <span class="buttonLabel">Schedules</span>
    </div>
  </div>   
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'regulations' class="button callToAction"}}<span class="icon-edit-pencil"></span>{{/link-to}}
      <span class="buttonLabel">Rules & Regs</span>
    </div>
  </div>  
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'results' class="button callToAction"}}<span class="icon-award"></span>{{/link-to}}
      <span class="buttonLabel">Results</span>
    </div>
  </div>  
  <div class="small-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to 'tickets' class="button callToAction"}}<span class="icon-card-user"></span>{{/link-to}}
      <span class="buttonLabel">Tickets</span>
    </div>
  </div>  
</div>