
		<strong>Please make cheques payable to <em>RABDF Events</em> and return along with this form to:</strong>


           <div class="small-10 noBorder mt20 small-centered columns">
             {{partial 'livestock_contact'}}
           </div>




		<p>I agree to abide by the 'RABDF Rules and Regulations for Showing Bovine Animals and Standard Procedures and Penalties for Enforcement' at the National Aberdeen Angus Show, and enclose my remittance for <span class="grand_total">£........</span> made payable to <b>RABDF Events</b>.</p>


<div class="row">
  <div class="small-3 printThird columns">
    <em>Name</em>
  </div>
  <div class="small-1 noBorder columns">&nbsp;</div>
  <div class="small-4 printThird columns">
    <em>Signature</em>
  </div>
  <div class="small-1 noBorder columns">&nbsp;</div>
  <div class="small-3 printThird columns">
    <em>Date</em>
  </div>
  
</div>