<p>
	<strong>National All Breeds Show 2012</strong>
</p>
<p>
	<strong>Day 1 - Tuesday 4<sup>th</sup> September</strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Ayrshire</strong>
</p>
<p>
	<strong>Class 1 - Heifer in Milk</strong>
</p>
<p>
	1<sup>st</sup> Hunnington Admiral Annabelle 2 owned by Doig &amp; Window
</p>
<p>
	2<sup>nd</sup> Longwood Brazen Sandy Rose owned by T Crawford
</p>
<p>
	3<sup>rd</sup> Hunnington Joybell 83owned by C &amp; L Window
</p>
<p>
	4<sup>th</sup> Heydale Potter Bronara owned by D W Beresford &amp; Son
</p>
<p>
	5<sup>th</sup> Willhome Samson Amanda owned by P &amp; S Williams
</p>
<p>
	6<sup>th</sup> Rosehill Apple Tournover owned by W R C &amp; J E Christophers
</p>
<p>
	7<sup>th</sup> Ridley Hill Corannda owned by J &amp; M Howie
</p>
<p>
	Exhibitor Bred - Hunnington Admiral Annabelle 2 owned by Doig &amp; Window
</p>
<p>
	Best Udder - Longwood Brazen Sandy Rose owned by T Crawford
</p>
<p>
	<strong>Class 2 - Second Calvers</strong>
</p>
<p>
	1<sup>st</sup> Hunnington Fragrance 55 owned by C &amp; L Window
</p>
<p>
	2<sup>nd</sup> Haresfoot Napier Punch owned by G R Thomas
</p>
<p>
	3<sup>rd</sup> Douglas's Coralark owned by J &amp; M Howie
</p>
<p>
	4<sup>th</sup> Rosehill Dollarhythm owned by W R C &amp; J E Christophers
</p>
<p>
	5<sup>th</sup> Harefoot Brazen Pamela owned by T Crawford
</p>
<p>
	6<sup>th</sup> Ridley Hill Zion Nicki - J &amp; M Howie
</p>
<p>
	Exhibitor Bred - Hunnington Fragrance 55 owned by C &amp; L Window
</p>
<p>
	Best Udder - Hunnington Fragrance 55 owned by C &amp; L Window
</p>
<p>
	<strong>Class 2b - Third Calvers</strong>
</p>
<p>
	1<sup>st</sup> Loukat Lucky owned by R A Bown
</p>
<p>
	2<sup>nd</sup> Halmyre Urr Jinks 427 owned by G R Thomas
</p>
<p>
	3<sup>rd</sup> Hunnington Fragrance 50 owned C &amp; L Window
</p>
<p>
	Exhibitor Bred - Hunnington Fragrance 50 owned C &amp; L Window
</p>
<p>
	Best Udder - Loukat Lucky owned by R A Bown
</p>
<p>
	<strong>Class 3 - Fourth plus Calvers </strong>
</p>
<p>
	1<sup>st</sup> Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	2<sup>nd</sup> Rosehill Prickly Jean owned by W R C &amp; J E Christophers
</p>
<p>
	3<sup>rd</sup> Hunnington Fragrance 45 owned C &amp; L Window
</p>
<p>
	4<sup>th</sup> Heydale Winsome 113 owned by D W Beresford &amp; Son
</p>
<p>
	5<sup>th</sup> Acton Saltire Peggy owned by P &amp; S Williams
</p>
<p>
	Exhibitor Bred - Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	Best Udder - Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	<strong>Class 4 - Red and White </strong>
</p>
<p>
	1<sup>st</sup> Hunnington Mandella Annabell owned by Doig &amp; Window
</p>
<p>
	Exhibitor Bred - Hunnington Mandella Annabell owned by Doig &amp; Window
</p>
<p>
	Best Udder - Hunnington Mandella Annabell owned by Doig &amp; Window
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	Res Champion - Hunnington Fragrance 55 owned by C &amp; L Window
</p>
<p>
	Hon Mention - Loukat Lucky owned by R A Bown
</p>
<p>
	Exhibitor Bred - Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	Best Udder - Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	Red and White Champion - Hunnington Mandella Annabell owned by Doig &amp; Window
</p>
<p>
	<strong>British Friesians </strong>
</p>
<p>
	<strong>Class 5 - Heifer in Milk </strong>
</p>
<p>
	1<sup>st</sup> Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	2<sup>nd</sup> Adams Clementine 68 owned by B Lawson &amp; son
</p>
<p>
	3<sup>rd</sup> Oakalby Rebel Buttercup 130 owned by E S Burroughs &amp; son
</p>
<p>
	4<sup>th</sup> Oakalby Buddy Brenda 19 owned by E S Burroughs &amp; son
</p>
<p>
	Exhibitor Bred - Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	Best Udder - Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	<strong>Class 6 - Second or Third Calvers</strong>
</p>
<p>
	1<sup>st</sup> Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	2<sup>nd</sup> Lismulligan Eileen 24 owned by B Lawson &amp; son
</p>
<p>
	3<sup>rd</sup> Oakalby Rebel Salvine owned by E S Burroughs &amp; son
</p>
<p>
	4<sup>th</sup> Oakalby Rebel Buttercup 118 owned by E S Burroughs &amp; son
</p>
<p>
	Exhibitor Bred- Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	Best Udder- Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	<strong>Class 7 -Fourth plus Calver </strong>
</p>
<p>
	1<sup>st</sup> Lismulligan Empress 24 owned by B Lawson &amp; son
</p>
<p>
	Exhibitor Bred- Lismulligan Empress 24 owned by B Lawson &amp; son
</p>
<p>
	Best Udder- Lismulligan Empress 24 owned by B Lawson &amp; son
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	Res Champion - Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	Hon Mention - Lismulligan Eileen 24 owned by B Lawson &amp; son
</p>
<p>
	Exhibitor Bred - Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	Res Exhibitor Bred - Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	Best Udder - Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	<strong>Brown Swiss</strong>
</p>
<p>
	<strong>Class 10 - Heifer in Milk </strong>
</p>
<p>
	1<sup>st</sup> Kedar KSD Felicia owned by T Lochhead &amp; sons
</p>
<p>
	2<sup>nd</sup> Soulseat Event Candy owned by R &amp; S McColm
</p>
<p>
	3<sup>rd</sup> Kedar Vigor Heike owned by T Lochhead &amp; sons
</p>
<p>
	4<sup>th</sup> Soulseat Zola Cath owned by R &amp; S McColm
</p>
<p>
	5<sup>th</sup> Quarry Zeus Kuba owned by Caerlleon Farm Ltd
</p>
<p>
	Exhibitor Bred- Kedar KSD Felicia owned by T Lochhead &amp; sons
</p>
<p>
	Best Udder- Kedar KSD Felicia owned by T Lochhead &amp; sons
</p>
<p>
	<strong>Class 11 - Second or Third Calvers</strong>
</p>
<p>
	1<sup>st</sup> Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	2<sup>nd</sup> Kedar TD Reia owned by T Lochhead &amp; sons
</p>
<p>
	3<sup>rd</sup> Farrick Prunki Emma owned by J West
</p>
<p>
	4<sup>th </sup>Kedar Scipio Fabiane owned by T Lochhead &amp; sons
</p>
<p>
	5<sup>th </sup>Quarry Broker Liz owned by Caerlleon Farm Ltd
</p>
<p>
	6<sup>th </sup>Soulseat Zola Marion owned by R &amp; S McColm
</p>
<p>
	Exhibitor Bred - Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	Best Udder - Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 12 - Fourth plus Calver</strong>
</p>
<p>
	1<sup>st</sup> Constance Amelia owned by J West
</p>
<p>
	2<sup>nd</sup> Highlight Pro-view Roseanna owned by R &amp; S McColm
</p>
<p>
	3<sup>rd</sup> Kedar Seattle Glenda owned by T Lochhead and sons
</p>
<p>
	Exhibitor Bred - Kedar Seattle Glenda owned by T Lochhead and sons
</p>
<p>
	Best Udder - Constance Amelia owned by J West
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	Res Champion - Constance Amelia owned by J West
</p>
<p>
	Hon Mention - Kedar TD Reia owned by T Lochhead &amp; sons
</p>
<p>
	Exhibitor Bred - Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	Best Udder - Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	<strong>Dairy Shorthorn</strong>
</p>
<p>
	<strong>Class 15 - Heifer in Milk</strong>
</p>
<p>
	1<sup>st</sup> Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	2<sup>nd </sup>Westonia Gay Lass 5owned by R Morgan
</p>
<p>
	Exhibitor Bred- Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	Best Udder- Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Class 16 - Second or Third Calvers</strong>
</p>
<p>
	1<sup>st</sup> Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	2<sup>nd </sup>Westonia Marie 6 owned by R Morgan &amp; R Stockton
</p>
<p>
	3<sup>rd </sup>Churchroyd Bronte Wildeyes 29 owned by I R G Collins &amp; Partners
</p>
<p>
	4<sup>th</sup> Rodway Nia 2 owned by R Morgan
</p>
<p>
	Exhibitor Bred- Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	Best Udder- Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Class 17 - Fourth plus Calver</strong>
</p>
<p>
	1<sup>st</sup> Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	Exhibitor Bred- Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	Best Udder- Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	Res Champion - Westonia Marie 6 owned by R Morgan &amp; R Stockton
</p>
<p>
	Hon Mention - Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	Exhibitor Bred - Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	Res Exhibitor Bred - Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	Best Udder - Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Guernsey </strong>
</p>
<p>
	<strong>Class 20 - Heifer in Milk</strong>
</p>
<p>
	1<sup>st</sup> Blacknor Cracker Banger Margaret owned by I &amp; D Crouch &amp; R Norman
</p>
<p>
	2<sup>nd</sup> Cadbury Royal Delta Victoria 2 owned by R J Norman &amp; C Mills
</p>
<p>
	Exhibitor Bred- Cadbury Royal Delta Victoria 2 owned by R J Norman &amp; C
</p>
<p>
	Best Udder- Blacknor Cracker Banger Margaret owned by I &amp; D Crouch &amp; R Norman
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 21 - Second or Third Calvers</strong>
</p>
<p>
	1<sup>st </sup>Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	2<sup>nd </sup>Rosewood Tradition Suz owned by D &amp; H Cox
</p>
<p>
	3<sup>rd</sup> Instead Mimosa 3 owned by J A &amp; K E Salisbury
</p>
<p>
	Exhibitor Bred- Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	Best Udder- Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 22 - Fourth plus Calver</strong>
</p>
<p>
	1<sup>st </sup>Wellingham Lillywhite 35 owned by J A &amp; K E Salisbury
</p>
<p>
	Best Udder- Wellingham Lillywhite 35 owned by J A &amp; K E Salisbury
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Wellingham Lillywhite 35 owned by J A &amp; K E Salisbury
</p>
<p>
	Res Champion - Blacknor Cracker Banger Margaret owned by I &amp; D Crouch &amp; R Norman
</p>
<p>
	Hon Mention - Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	Exhibitor Bred - Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	Best Udder - Wellingham Lillywhite 35 owned by J A &amp; K E Salisbury
</p>
<p>
	<strong>Holstein</strong>
</p>
<p>
	<strong>Class 28 - Heifer in Milk (Junior)</strong>
</p>
<p>
	1<sup>st</sup> Lliwe Shottle Rosina owned by D B Thomas
</p>
<p>
	2<sup>nd</sup> Tameside Ricki 9 owned by J Doherty &amp; S Whittaker
</p>
<p>
	3<sup>rd</sup> Ryisle SS Margaret owned by P J A &amp; M J Isles
</p>
<p>
	Exhibitor Bred- Lliwe Shottle Rosina owned by D B Thomas
</p>
<p>
	Best Udder- Tameside Ricki 9 owned by J Doherty &amp; S Whittaker
</p>
<p>
	<strong>Class 28b - Heifer in Milk (Senior)</strong>
</p>
<p>
	1<sup>st</sup> Holmland Goldwyn Adeen owned by R A Bown
</p>
<p>
	2<sup>nd</sup> Meiklefirth Plaid Lutske owned by D Yates
</p>
<p>
	3<sup>rd</sup> Richaven Champion Squaw owned by Designer Holsteins
</p>
<p>
	4<sup>th</sup> Richaven Shottle Adrienne
</p>
<p>
	Exhibitor Bred - Meiklefirth Plaid Lutske owned by D Yates
</p>
<p>
	Best Udder - Holmland Goldwyn Adeen owned by R A Bown
</p>
<p>
	<strong>Class 29 - 3 year old</strong>
</p>
<p>
	1<sup>st</sup> Richaven Goldwyn Squaw owned by R A Bown
</p>
<p>
	Exhibitor Bred - Richaven Goldwyn Squaw owned by R A Bown
</p>
<p>
	Best Udder - Richaven Goldwyn Squaw owned by R A Bown
</p>
<p>
	<strong>Class 30 - 4 year old</strong>
</p>
<p>
	1<sup>st </sup>Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	2<sup>nd </sup>Richaven Goldwyn Irene owned by R A Bown
</p>
<p>
	3<sup>rd</sup> Crocker Rock Stocking Red owned by R A Bown
</p>
<p>
	4<sup>th</sup> Richaven Champion Rebecca owned by R A Bown
</p>
<p>
	5<sup>th</sup> Ingleview Winston Honey owned by R &amp; E Butterfield
</p>
<p>
	Exhibitor Bred- Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	Best Udder- Richaven Goldwyn Irene owned by R A Bown
</p>
<p>
	<strong>Class 31 - 5 year old</strong>
</p>
<p>
	1<sup>st</sup> Richaven Goldwyn Adrienne owned by R A Bown
</p>
<p>
	2<sup>nd</sup> Castellhyfryd Spirte Rosina owned by S P &amp; S R Davies
</p>
<p>
	3<sup>rd</sup> Logan Mr Sam Gail owned by B Yates
</p>
<p>
	Exhibitor Bred- Richaven Goldwyn Adrienne owned by R A Bown
</p>
<p>
	Best Udder- Richaven Goldwyn Adrienne owned by R A Bown
</p>
<p>
	<strong>Class 32 - 6 plus year old</strong>
</p>
<p>
	1<sup>st </sup>Logan Modest Lulu owned by B Yates
</p>
<p>
	2<sup>nd</sup> Weeton Shark Trolley owned by Blyth Farms
</p>
<p>
	3<sup>rd</sup> Ards Duplex O Ruth owned by R &amp; E Butterfield
</p>
<p>
	4<sup>th</sup> Fordmill Squawbuck Tandy owned by R A Bown
</p>
<p>
	Exhibitor Bred- Logan Modest Lulu owned by B Yates
</p>
<p>
	Best Udder- Ards Duplex O Ruth owned by R &amp; E Butterfield
</p>
<p>
	<strong>Class 33 - Red and White </strong>
</p>
<p>
	1<sup>st</sup> Crocker Rock Stocking Red owned by R A Bown
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	Res Champion - Richaven Goldwyn Irene owned by R A Bown
</p>
<p>
	Hon Mention - Richaven Goldwyn Adrienne owned by R A Bown
</p>
<p>
	Exhibitor Bred - Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	Best Udder - Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	Heifer in Milk Champion - Holmland Goldwyn Adeen owned by R A Bown
</p>
<p>
	Exhibitor Bred Heifer in Milk Champion - Lliwe Shottle Rosina owned by D B Thomas
</p>
<p>
	Intermediate in Milk Champion - Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	Senior in Milk Champion - Richaven Goldwyn Adrienne owned by R A Bown
</p>
<p>
	Champion Red and White - Crocker Rock Stocking Red owned by R A Bown
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Jersey</strong>
</p>
<p>
	<strong>Class 36 - Heifer in Milk</strong>
</p>
<p>
	1<sup>st</sup> Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	2<sup>nd</sup> Glanmor Ring Money owned by Glanmor Jerseys
</p>
<p>
	3<sup>rd</sup> Windyridge Ambasadors Favourite owned by S &amp; S Murray
</p>
<p>
	4<sup>th</sup> Cracker Senior Dove owned by I &amp; D Crouch
</p>
<p>
	5<sup>th</sup> Clifton Top Figi owned by S Bland
</p>
<p>
	Exhibitor Bred- Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	Best Udder- Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	<strong>Class 37 - Second Calver</strong>
</p>
<p>
	1<sup>st</sup> Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	2<sup>nd </sup>Hiltonbury Ringmasters Lyric owned by Oliver Neagle
</p>
<p>
	3<sup>rd</sup> Hiltonbury Centurions Kerpluck owned by Oliver Neagle
</p>
<p>
	4<sup>th</sup> Bluegrass Remakes Festive Debbie owned by B A &amp; J M Daw
</p>
<p>
	5<sup>th</sup> Clifton ExcitationsFH Cranberry owned by S Bland
</p>
<p>
	Exhibitor Bred- Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	Brest Udder- Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 38 - Third or Fourth Calver</strong>
</p>
<p>
	1<sup>st</sup> Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	2<sup>nd</sup> Clifton Sultans Lottie owned by S Bland
</p>
<p>
	3<sup>rd</sup> Abotsley Sambos Opal owned by S &amp; S Murray
</p>
<p>
	4<sup>th</sup> Bluegrass Justwait Coriander owned by B A &amp; J M Daw
</p>
<p>
	5<sup>th</sup> Goodtime Best Locket owned by I &amp; D Crouch
</p>
<p>
	6<sup>th</sup> Moonshine Mecca Lady Daisy owned by B S Etteridge
</p>
<p>
	Exhibitor Bred- Clifton Sultans Lottie owned by S Bland
</p>
<p>
	Best Udder- Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	<strong>Class 39 - Fifth Calver </strong>
</p>
<p>
	1<sup>st</sup> Shellen Connection Diamond owned by S &amp; S Murray
</p>
<p>
	2<sup>nd</sup> Potterswall Jurisdiction Squidgy owned by B S Etteridge
</p>
<p>
	Best Udder- Shellen Connection Diamond owned by S &amp; S Murray
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Breed Champion - Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	Res Champion - Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	Hon Mention - Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	Exhibitor Bred - Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	Best Udder - Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Day 2- Wednesday 5<sup>th</sup> September</strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Brown Swiss</strong>
</p>
<p>
	Class 8 - Maiden Heifer
</p>
<p>
	1<sup>st</sup> Soulseat Pitagora Molly owned by R &amp; S McColm
</p>
<p>
	2<sup>nd</sup> Quarry Playboy Claret owned by Caerlleon Farm Ltd
</p>
<p>
	3<sup>rd </sup>Farrick Pedrinis Glen Sequoia owned by J West
</p>
<p>
	4<sup>th </sup>Old Mill Wonderment Sunset owned by T Lochhead &amp; sons
</p>
<p>
	Exhibitor Bred 1<sup>st</sup> Soulseat Pitagora Molly owned by R &amp; S McColm
</p>
<p>
	Class 9 - In calf Heifer
</p>
<p>
	1<sup>st </sup>Farrick Wonder Italia owned by J West
</p>
<p>
	2<sup>nd </sup>Soulseat Eros Holly owned by R &amp; S McColm
</p>
<p>
	Exhibitor Bred Soulseat Eros Holly owned by R &amp; S McColm
</p>
<p>
	Junior Championship
</p>
<p>
	Champion - Farrick Wonder Italia owned by J West
</p>
<p>
	Res Champion - Soulseat Pitagora Molly owned by R &amp; S McColm
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Dairy Shorthorns</strong>
</p>
<p>
	Class 13 - Maiden Heifer
</p>
<p>
	1<sup>st</sup> Nejay Violet 5 owned by N Madeley
</p>
<p>
	2<sup>nd</sup> Churchroyd Lady Rose 18 owned by I R G Collins &amp; Partners
</p>
<p>
	Exhibitor Bred Nejay Violet 5 owned by N Madeley
</p>
<p>
	Class 14 -In calf Heifer
</p>
<p>
	1<sup>st </sup>Nejay Erin 5 owned by A Gough
</p>
<p>
	2<sup>nd </sup>Westonia Marie 11 owned by R Morgan
</p>
<p>
	3<sup>rd </sup>Churchroyd Fay 7 owned by I R G Collins &amp; Partners
</p>
<p>
	Exhibitor Bred Westonia Marie 11 owned by R Morgan
</p>
<p>
	Junior Championship
</p>
<p>
	Champion Nejay Violet 5 owned by N Madeley
</p>
<p>
	Res Champion Churchroyd Lady Rose 18 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Guernseys</strong>
</p>
<p>
	Class 18 - Maiden Heifer
</p>
<p>
	1<sup>st</sup> Blanches Mash Polyanthus owned by Page and Newham
</p>
<p>
	2<sup>nd</sup> Hamps Valley Annabelle 7 owned by Addington Fund
</p>
<p>
	3<sup>rd </sup>Willtown Claudia owned by Addington Fund
</p>
<p>
	4<sup>th</sup> Cadbury Magicman Poppy 73 owned byR J Norman &amp; C Mills
</p>
<p>
	Exhibitor Bred Blanches Mash Polyanthus owned by Page and Newham
</p>
<p>
	Class 19 -In calf Heifer
</p>
<p>
	1<sup>st </sup>Willtown Mayflower owned by Addington Fund
</p>
<p>
	Exhibitor Bred Willtown Mayflower owned by Addington Fund
</p>
<p>
	Junior Championship
</p>
<p>
	Champion - Blanches Mash Polyanthus owned by Page and Newham
</p>
<p>
	Res Champion - Willtown Mayflower owned by Addington Fund
</p>
<p>
	<strong>Holsteins</strong>
</p>
<p>
	<strong>Class 23 - Junior Calf </strong>
</p>
<p>
	1<sup>st </sup>Castellhyfryd Jordan Rosina owned by S P &amp; S R Davies
</p>
<p>
	Exhibitor Bred Castellhyfryd Jordan Rosina owned by S P &amp; S R Davies
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 24 - Intermediate Calf</strong>
</p>
<p>
	1<sup>st </sup>Panda Alexa Fools Gold owned by Westwood Farms
</p>
<p>
	2<sup>nd </sup>Panda Allyander Fools Gold owned by Westwood Farms
</p>
<p>
	3<sup>rd </sup>Ruckhall Bluesky Primrose owned by Page &amp; Newham
</p>
<p>
	4<sup>th </sup>Starlet Frantoosh owned by K Thomas and S Webber
</p>
<p>
	5<sup>th </sup>Noremead Twist Moth owned by Designer Holsteins
</p>
<p>
	6<sup>th </sup>Syke Million Jodie owned by W &amp; J Templeton
</p>
<p>
	7<sup>th</sup> Richaven Armstead Lily owned by R A Bown
</p>
<p>
	Exhibitor Bred Panda Alexa Fools Gold owned by Westwood Farms
</p>
<p>
	<strong>Class 25 - Senior Calf</strong>
</p>
<p>
	1<sup>st </sup>Furness Dundee Beauty 6 owned by F Phillipson
</p>
<p>
	2<sup>nd </sup>Carrdale Shottle Reward owned by D Fryars &amp; son
</p>
<p>
	3<sup>rd </sup>Syke Lady Roxy Red owned by W &amp; J Templeton
</p>
<p>
	4<sup>th </sup>Orchard Blackbird 33 owned by Page and Newham
</p>
<p>
	5<sup>th </sup>Knowlesmere Sid Papoose owned by A &amp; J Whittaker
</p>
<p>
	6<sup>th </sup>Starlet Rox owned by K Rickard &amp; S Webber
</p>
<p>
	7<sup>th </sup>Furness Dundee Beauty 5 owned by F Phillipson
</p>
<p>
	8<sup>th</sup> Furness Goldwyn Voo Doo 2 owned by F Phillipson
</p>
<p>
	Exhibitor Bred Furness Dundee Beauty 6 owned by F Phillipson
</p>
<p>
	<strong>Calf Championship </strong>
</p>
<p>
	Champion - Furness Dundee Beauty 6 owned by F Phillipson
</p>
<p>
	Res Champion - Panda Alexa Fools Gold owned by Westwood Farms
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Class 26 - Junior Heifer</strong>
</p>
<p>
	1<sup>st </sup>Tonian Jotan Roxy Red owned by K Rickard &amp; S Webber
</p>
<p>
	2<sup>nd </sup>Knowlesmere Fever Miss Elegance owned by A &amp; J Whittaker
</p>
<p>
	3<sup>rd </sup>Withamhall Palermo Gail owned by D B &amp; H Miles
</p>
<p>
	4<sup>th </sup>Designer Picolo Golden - owned by Designer Holsteins
</p>
<p>
	5<sup>th </sup>Leithhill Love Prancy owned by Jessica Hassall
</p>
<p>
	6<sup>th </sup>Wheathacre Deann Gemma 17 owned by E S Burroughs &amp; son
</p>
<p>
	Exhibitor Bred Knowlesmere Fever Miss Elegance owned by A &amp; J Whittaker
</p>
<p>
	<strong>Class 27 - Senior Heifer</strong>
</p>
<p>
	1<sup>st</sup> Castellhyfryd Stormy Patricia owned by S P &amp; S R Davies
</p>
<p>
	2<sup>nd </sup>Excellence Shottle G Lizabeth owned by Designer Holsteins
</p>
<p>
	3<sup>rd </sup>Moundmere Matson Penny owned by R A Bown
</p>
<p>
	4<sup>th </sup>Loford Shottle Fifi owned by Page &amp; Newham
</p>
<p>
	Exhibitor Bred Castellhyfryd Stormy Patricia owned by S P &amp; S R Davies
</p>
<p>
	<strong>Junior Championship</strong>
</p>
<p>
	Champion - Castellhyfryd Stormy Patricia owned by S P &amp; S R Davies
</p>
<p>
	Res Champion - Excellence Shottle G Lizabeth owned by Designer Holsteins
</p>
<p>
	<strong>Jerseys</strong>
</p>
<p>
	Class 34 - Maiden Heifer
</p>
<p>
	1<sup>st</sup> Saxown Excitation Heidi 14 owned by The Saxby Family
</p>
<p>
	2<sup>nd</sup> Erie Reagan Prince owned by K Rickard &amp; S Webber
</p>
<p>
	3<sup>rd </sup>Glanmor Guapo Siswrn owned by Glanmor Jerseys
</p>
<p>
	Exhibitor Bred Saxown Excitation Heidi 14 owned by The Saxby Family
</p>
<p>
	<strong>Class 35 -In calf Heifer</strong>
</p>
<p>
	1<sup>st</sup> Bluegrass Grandprix Super Sonic Black owned by B A &amp; J M Daw
</p>
<p>
	2<sup>nd</sup> Bluemoon Action Blackberry owned by B S Etteridge
</p>
<p>
	3<sup>rd </sup>Glanmor Ring Icicle owned by Glanmor Jerseys
</p>
<p>
	Exhibitor Bred Bluegrass Grandprix Super Sonic Black owned by B A &amp; J M Daw
</p>
<p>
	<strong>Junior Championship</strong>
</p>
<p>
	Champion- Saxown Excitation Heidi 14 owned by The Saxby Family
</p>
<p>
	Res Champion - Bluegrass Grandprix Super Sonic Black owned by B A &amp; J M Daw
</p>
<p>
	<strong>Inter Breed Championship</strong>
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Exhibitor Bred Interbreed Heifer Champion</strong>
</p>
<p>
	1<sup>st</sup> Jersey Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	2<sup>nd</sup> Holstein Lliwe Shottle Rosina owned by D B Thomas
</p>
<p>
	3<sup>rd</sup> Ayrshire Hunnington Admiral Annabelle 2 owned by Doig &amp; Window
</p>
<p>
	4<sup>th</sup> Brown Swiss Kedar KSD Felicia owned by T Lochhead &amp; sons
</p>
<p>
	5<sup>th</sup> British Friesian Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	6<sup>th</sup> Dairy Shorthorn Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong> </strong>
</p>
<p>
	<strong>Interbreed Heifer Champion</strong>
</p>
<p>
	1<sup>st </sup>Jersey Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	2<sup>nd</sup> Holstein Holmland Goldwyn Adeen owned by R A Bown
</p>
<p>
	3<sup>rd</sup> Ayrshire Hunnington Admiral Annabelle 2 owned by Doig &amp; Window
</p>
<p>
	4<sup>th</sup> Guernsey Blacknor Cracker Banger Margaret owned by I &amp; D Crouch &amp; R Norman
</p>
<p>
	5<sup>th </sup>Brown Swiss Kedar KSD Felicia owned by T Lochhead &amp; sons
</p>
<p>
	6<sup>th</sup> British Friesian Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	7<sup>th</sup> Dairy Shorthorn Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>Exhibitor Bred Interbreed Champion</strong>
</p>
<p>
	1<sup>st </sup>Ayrshire Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	2<sup>nd</sup> Holstein Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	3<sup>rd</sup> Dairy Shorthorn Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	4<sup>th</sup> Brown Swiss Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	5<sup>th </sup>Jersey Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	6<sup>th</sup> British Friesian Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	7<sup>th</sup> Guernsey Blacknor Cracker CK Eva owned by I &amp; D Crouch
</p>
<p>
	<strong>Supreme Interbreed Champion</strong>
</p>
<p>
	1<sup>st </sup>Ayrshire Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	2<sup>nd</sup> Jersey Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	3<sup>rd</sup> Holstein Blythbridge Elegant Christabel owned by Blyth Farms
</p>
<p>
	4<sup>th</sup> Dairy Shorthorn Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	5<sup>th </sup>Brown Swiss Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	6<sup>th</sup> British Friesian Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	7<sup>th</sup> Guernsey Wellingham Lillywhite 35 owned by J A &amp; K E Salisbury
</p>
<p>
	<strong>Interbreed Group of Four</strong>
</p>
<p>
	<strong>1<sup>st</sup> Holsteins</strong>
	Blythbridge Elegant Christabel owned by Blyth Farms,
</p>
<p>
	Castellhyfryd Spirte Rosina owned by S P &amp; S R Davies,
</p>
<p>
	Logan Modest Lulu owned by B Yates,
</p>
<p>
	Ards Duplex O Ruth owned by R &amp; E Butterfield
</p>
<p>
	<strong>2<sup>nd</sup> Ayrshires</strong>
	Hunnington Fragrance 55 owned by C &amp; L Window
</p>
<p>
	Haresfoot Napier Punch owned by G R Thomas
</p>
<p>
	Hunnington Fragrance 45 owned C &amp; L Window
</p>
<p>
	Sandyford Clover 10 owned by E T Tomlinson
</p>
<p>
	<strong>3<sup>rd</sup> Jerseys</strong>
	Bluegrass Excitations Prissy Polly owned by B A &amp; J M Daw
</p>
<p>
	Hiltonbury Ringmasters Lyric owned by Oliver Neagle
</p>
<p>
	Glanmor Saber Philox owned by Glanmor Jerseys
</p>
<p>
	Jersey Trecanda Vindication Lily owned by S &amp; S Murray
</p>
<p>
	<strong>4<sup>th</sup> Brown Swiss</strong>
	Quarry Playboy Claret owned by Caerlleon Farm Ltd
</p>
<p>
	Moonriver Etvei Jemma owned by E Bruce &amp; R Darlington
</p>
<p>
	Kedar TD Reia owned by T Lochhead &amp; sons
</p>
<p>
	Farrick Prunki Emma owned by J West
</p>
<p>
	<strong>5<sup>th</sup> Dairy Shorthorns</strong>
	Westonia Marie 11 owned by R Morgan
</p>
<p>
	Churchroyd Mischief 4 owned by I R G Collins &amp; Partners
</p>
<p>
	Churchroyd Bronte Wildeyes 31 owned by I R G Collins &amp; Partners
</p>
<p>
	Churchroyd Heather 29 owned by I R G Collins &amp; Partners
</p>
<p>
	<strong>6<sup>th</sup> British Friesians</strong>
	Adams Clementine 68 owned by B Lawson &amp; son
</p>
<p>
	Oakalby Vienna Sheila owned by E S Burroughs &amp; son
</p>
<p>
	Lismulligan Priscilla 41 owned by B Lawson &amp; son
</p>
<p>
	Lismulligan Eileen 24 owned by B Lawson &amp; son
</p>
<p>
	<strong>Showmanship </strong>
</p>
<p>
	Junior Showman
</p>
<p>
	1<sup>st</sup> Tanwen Cox
</p>
<p>
	2<sup>nd</sup> Hannah Saxby
</p>
<p>
	<strong>Intermediate Showman</strong>
</p>
<p>
	1<sup>st</sup> Hannah Bown
</p>
<p>
	2<sup>nd</sup> Andrew Struthers
</p>
<p>
	3<sup>rd </sup>Sophie Richards
</p>
<p>
	4<sup>th </sup>David Madeley
</p>
<p>
	5<sup>th</sup> Daniel McColm
</p>
<p>
	<strong>Senior Showman</strong>
</p>
<p>
	1<sup>st</sup> Daniel Bown
</p>
<p>
	2<sup>nd</sup> Molly Westwood
</p>
<p>
	3<sup>rd </sup>Clare Miles
</p>
<p>
	4<sup>th </sup>Claire Daw
</p>
<p>
	5<sup>th</sup> Andrea Vale
</p>
<p>
	6<sup>th</sup> Kate Bowsher
</p>
<p>
	7<sup>th </sup>Kate Morgan
</p>
<p>
	8<sup>th</sup> Felicity Coates
</p>
<p>
	9<sup>th</sup> Michelle Boyce
</p>
<p>
	<strong>Mature Showman</strong>
</p>
<p>
	1<sup>st</sup> Amy Westwood
</p>
<p>
	2<sup>nd</sup> Hannah Slack
</p>
<p>
	3<sup>rd </sup>Emma Greenslade
</p>
<p>
	<strong>Championship</strong>
</p>
<p>
	Champion - Daniel Bown
</p>
<p>
	Reserve - Amy Westwood
</p>
<p>
	Hon Mention - Hannah Bown
</p>
<p>
	<strong> </strong>
</p>
