<p align="center">
    <strong>Dairy Event and Livestock Show 2011</strong>
</p>
<p>
    <strong></strong>
</p>
<p align="center">
    <strong>National All Breeds Show</strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    Interbreed supreme champion: Bluegrass Heritages Lovely Lady (Jersey)
</p>
<p align="center">
    Interbreed reserve champion: Castellhyfryd Spirte Rosina (Holstein)
</p>
<p align="center">
    Interbreed group of four: Jersey
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Ayrshire</strong>
</p>
<p>
    <strong>Class 25 – Heifer in Milk</strong>
</p>
<p>
    1. Mr Christopher Window – Hunnington Fragrance 55
</p>
<p>
    2. Messrs W R C &amp; J E Christophers – Rosehill Prickly Indiana
</p>
<p>
    3. Mr Geraint Thomas – Haresfoot Napier Punch
</p>
<p>
    4. Messrs T Crawford &amp; Co LTD – Barr Easter Trixie
</p>
<p>
    5. Messrs E T Tomlinson &amp; Son – Sandyford Jungle Girl 4
</p>
<p>
    Exhibitor Bred: Mr Christopher Window – Hunnington Fragrance 55
</p>
<p>
    Best Udder: Mr Christopher Window – Hunnington Fragrance 55
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 40 – Cow in Milk, having had 2 or 3 calves</strong>
</p>
<p>
    1. Mr Geraint Thomas – Gwynnog Sand Ranger Sailorgirl
</p>
<p>
    2. Mr Christopher Window – Hunnington Fragy 12
</p>
<p>
    3. Mr Christopher Window – Hunnington Frangrance 50
</p>
<p>
    4. Mr R A Bown – Loukat Lucky
</p>
<p>
    5. Messrs D W Berresford &amp; Son – Heydale Winsome 113
</p>
<p>
    Exhibitor Bred: Mr Geraint Thomas – Gwynnog Sand Ranger Sailorgirl
</p>
<p>
    Best Udder: Mr Geraint Thomas – Gwynnog Sand Ranger Sailorgirl
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 46 – Cow in Milk, having had 4 or more calves</strong>
</p>
<p>
    1. Messrs G Timbrell &amp; Son – Millford Jungle Girl 77
</p>
<p>
    2. Mr S P R &amp; Mrs L Reed – Haresfoot Simply Red Pamela
</p>
<p>
    3. Messrs G Timbrell &amp; Son – Millford Lark 20
</p>
<p>
    4. Messrs W R C &amp; J E Christophers – Rosehill Black Mags
</p>
<p>
    5. Messrs D W Berresford &amp; Son – Heydale Ovoid 242
</p>
<p>
    6. Messrs D W Berresford &amp; Son – Marsh View Sabre Marie
</p>
<p>
    Exhibitor Bred: Messrs G Timbrell &amp; Son – Millford Jungle Girl 77
</p>
<p>
    Best Udder: Mr S P R &amp; Mrs L Reed – Haresfoot Simply Red Pamela
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 54 – Red &amp; White, any age registered with the Ayshire Society or entered in their Red and White Register</strong>
</p>
<p>
    1. W J Nadin &amp; Y K Bradbury – Sterndale Deuce Rose Red
</p>
<p>
    2. Messrs T Crawford &amp; Co LTD – Longwood September Chrissie
</p>
<p>
    Exhibitor Bred: Messrs T Crawford &amp; Co LTD – Longwood September Chrissie
</p>
<p>
    Best Udder: W J Nadin &amp; Y K Bradbury – Sterndale Deuce Rose Red
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship</strong>
</p>
<p>
    Champion - Mr Geraint Thomas – Gwynnog Sand Ranger Sailorgirl
</p>
<p>
    Reserve Champion - Messrs G Timbrell &amp; Son – Millford Jungle Girl 77
</p>
<p>
    Honourable Mention - Mr S P R &amp; Mrs L Reed – Haresfoot Simply Red Pamela
</p>
<p>
    Exhibitor Bred - Mr Geraint Thomas – Gwynnog Sand Ranger Sailorgirl
</p>
<p>
    Best Udder - Messrs G Timbrell &amp; Son – Millford Jungle Girl 77
</p>
<p>
    <strong>British Friesians</strong>
</p>
<p>
    <strong>Class 8 – Maiden Heifer </strong>
</p>
<p>
    1. B Lawson &amp; Sons – Lismulligan Renee 96
</p>
<p>
    Exhibitior Bred: B Lawson &amp; Sons – Lismulligan Renee 96
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 39 – Cow in Milk, having had 2 or 3 calves</strong>
</p>
<p>
    1. B Lawson &amp; Sons – Lismulligan Priscilla 41
</p>
<p>
    2. B Lawson &amp; Sons – Lismulligan Eileen 24
</p>
<p>
    Exhibitor Bred: B Lawson &amp; Sons – Lismulligan Eileen 24
</p>
<p>
    Best Udder: B Lawson &amp; Sons – Lismulligan Eileen 24
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 47 – Cow in milk, having had 4 or more calves</strong>
</p>
<p>
    1. E S Burroughs &amp; Son – Oakalby Breadwinner S Ruth 34
</p>
<p>
    2. B Lawson &amp; Sons – Lismulligan Gay 67
</p>
<p>
    Exhibitor Bred: E S Burroughs &amp; Son – Oakalby Breadwinner S Ruth 34
</p>
<p>
    Best Udder: E S Burroughs &amp; Son – Oakalby Breadwinner S Ruth 34
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship </strong>
</p>
<p>
    Champion - B Lawson &amp; Sons – Lismulligan Priscilla 41
</p>
<p>
    Reserve Champion - E S Burroughs &amp; Son – Oakalby Breadwinner S Ruth 34
</p>
<p>
    Honourable Mention - B Lawson &amp; Sons – Lismulligan Gay 67
</p>
<p>
    Exhibitor Bred - B Lawson &amp; Sons – Lismulligan Priscilla 41
</p>
<p>
    Best Udder - B Lawson &amp; Sons – Lismulligan Priscilla 41
</p>
<p>
    <strong>Brown Swiss</strong>
</p>
<p>
    <strong>Class 10 – Maiden Heifer</strong>
</p>
<p>
    1. Brown Swiss Genetics UK LTD – GS Alliance Glenn Jady
</p>
<p>
    2. Brown Swiss Genetics UK LTD – Dahlers Glenn Holeia
</p>
<p>
    3. R &amp; S McColm – Soulseat Eros Holly
</p>
<p>
    4. Brown Swiss Genetics UK LTD – Inspired Agenda Vogue
</p>
<p>
    5. R Darlington &amp; E Bruce – Moonriver Vigor Heke
</p>
<p>
    6. J &amp; C West – Farrick Poster Priscilla
</p>
<p>
    7. Caerlleon Farm LTD – Quarry Luke Claret
</p>
<p>
    8. J Ball – Sujenca Surge Joy
</p>
<p>
    Exhibitor Bred: R &amp; S McColm – Soulseat Eros Holly
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 16 – In Calf Heifer</strong>
</p>
<p>
    1. R &amp; S McColm – Soulseat Event Candy
</p>
<p>
    2. Kevin Thomas – Aka Glenn Sar-Lily
</p>
<p>
    Exhibitor Bred: R &amp; S McColm – Soulseat Event Candy
</p>
<p>
    Junior Champion: Brown Swiss Genetics UK LTD – GS Alliance Glenn Jady
</p>
<p>
    Reserve Junior Champion: Brown Swiss Genetics UK LTD – Dahlers Glenn Holeia
</p>
<p>
    Honourable Mention: R &amp; S McColm – Soulseat Event Candy
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 26 – Heifer in Milk </strong>
</p>
<p>
    1. T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    2. R &amp; S McColm – Soulseat Zola Marion
</p>
<p>
    3. B Miller – Sedgemoor Diablo Dream Toni
</p>
<p>
    4. T Lochhead &amp; Sons – Kedar Scipio Fabiane
</p>
<p>
    5. Caerlleon Farm LTD – Quarry Scipio Liz 2
</p>
<p>
    6. J &amp; C West – Farrick Denveer Tammy
</p>
<p>
    7. R Darlington &amp; E Bruce – Moonriver Etvei Jemma
</p>
<p>
    8. A &amp; S M Dalton – Festival Zeus Akila
</p>
<p>
    Exhibitor Bred: T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    Best Udder: T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 41 – Cow in Milk, having had 2 or 3 calves</strong>
</p>
<p>
    1. R Darlington &amp; E Bruce – Constance Amelia
</p>
<p>
    2. Caerlleon Farm LTD – Quarry Dude Sian 2
</p>
<p>
    3. M &amp; S Williams – Quarry Luke Lovely
</p>
<p>
    4. T Lochhead &amp; Sons – Kedar Becks Karolin
</p>
<p>
    5. A &amp; S M Dalton – Festival Jolt Becky
</p>
<p>
    6. B Miller – Sedgemoor Picasso Trulla
</p>
<p>
    7. J &amp; C West – Farrick Vido Maxi
</p>
<p>
    8. T Lochhead &amp; Sons – Kedar Special Melanie
</p>
<p>
    Exhibitor Bred: Caerlleon Farm LTD – Quarry Dude Sian 2
</p>
<p>
    Best Udder: T Lochhead &amp; sons – Kedar Special Melanie
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 49 – Cow in Milk, having had 4 or more calves</strong>
</p>
<p>
    1. T Lochhead &amp; Sons – Kedar Becks Alice
</p>
<p>
    2. T Lochhead &amp; Sons – Kedar Seattle Glenda
</p>
<p>
    3. R &amp; S McColm – Highlight Proview Roseanna
</p>
<p>
    4. J &amp; C West – Farrick Dino 2
</p>
<p>
    Exhibitor Bred: T Lochhead &amp; Sons – Kedar Becks Alice
</p>
<p>
    Best Udder: T Lochhead &amp; Sons – Kedar Becks Alice
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship</strong>
</p>
<p>
    Champion - T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    Reserve Champion - T Lochhead &amp; Sons – Kedar Becks Alice
</p>
<p>
    Honourable Mention - R Darlington &amp; E Bruce – Constance Amelia
</p>
<p>
    Exhibitor Bred - T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    Best Udder - T Lochhead &amp; Sons – Kedar T D Reia
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Dairy Shorthorn</strong>
</p>
<p>
    <strong>Class 9 – Maiden Heifer</strong>
</p>
<p>
    1. G A Madeley – Rodway Lady Barrington 34
</p>
<p>
    Exhibitor Bred: G A Madeley – Rodway Lady Barrington 34
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 13 – Maiden Heifer in or in Calf Heifer</strong>
</p>
<p>
    1. G A Madeley – Rodway Lisbet 6
</p>
<p>
    2. I R G Collins &amp; Partners – Churchroyd Peggy 14
</p>
<p>
    Exhibitor Bred: G A Madeley – Rodway Lisbet 6
</p>
<p>
    Junior Champion: G A Madeley – Rodway Lisbet 6
</p>
<p>
    Reserve Junior Champion: I R G Collins &amp; Partners – Churchroyd Peggy 14
</p>
<p>
    Honourable Mention: G A Madeley – Rodway Lady Barrington 34
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 27 - Heifer in Milk</strong>
</p>
<p>
    1. I R G Collins &amp; Partners – Churchroyd Kirklevington 17
</p>
<p>
    2. G A Madeley – Rodway Safie 4
</p>
<p>
    3. I R G Collins &amp; Partners – Churchroyd Heather 48
</p>
<p>
    4. G A Madeley – Rodway Butterbur 51
</p>
<p>
    Exhibitor Bred: I R G Collins &amp; Partners – Churchroyd Kirklevington 17
</p>
<p>
    Best Udder: I R G Collins &amp; Partners – Churchroyd Kirklevington 17
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 42 – Cow in Milk, having had 2 or 3 calves</strong>
</p>
<p>
    1. I R G Collins &amp; Partners – Churchroyd Bronte Wildeyes 29
</p>
<p>
    2. G A Madeley – Rodway Sonnschein 15
</p>
<p>
    Exhibitor Bred: I R G Collins &amp; Partners – Churchroyd Bronte Wildeyes 29
</p>
<p>
    Best Udder: G A Madeley – Rodway Sonnschein 15
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 48 – Cow in Milk, having had 4 or more calves</strong>
</p>
<p>
    1. N Madeley – Nejay Erin 2
</p>
<p>
    2. I R G Collins &amp; Partners – Churchroyd Heather 29
</p>
<p>
    3. N Madeley – Daimat Duchess 3
</p>
<p>
    4. G A Madeley – Rodway Jenna 2
</p>
<p>
    Exhibitor Bred: N Madeley – Nejay Erin 2
</p>
<p>
    Best Udder: N Madeley – Nejay Erin 2
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship</strong>
</p>
<p>
    Champion - N Madeley – Nejay Erin 2
</p>
<p>
    Reserve Champion - I R G Collins &amp; Partners – Churchroyd Bronte Wildeyes 29
</p>
<p>
    Honourable Mention - I R G Collins &amp; Partners – Churchroyd Kirklevington 17
</p>
<p>
    Exhibitor Bred - N Madeley – Nejay Erin 2
</p>
<p>
    Best Udder - N Madeley – Nejay Erin 2
</p>
<p>
    <strong>Guernsey </strong>
</p>
<p>
    <strong>Class 6 – Maiden Heifer</strong>
</p>
<p>
    1. C J R &amp; S M H Evans –Hilcol Delta Gwawr
</p>
<p>
    2. R J Norman &amp; Miss C Mills – Cadbury Royal Delta Pretty 87
</p>
<p>
    3. C J R &amp; S M H Evans –Hilcol Delta Catrin
</p>
<p>
    4. Suffolk Farmhouse Cheeses – Sharnford Showtime Sienna
</p>
<p>
    Exhibitor Bred: C J R &amp; S M H Evans –Hilcol Delta Gwawr
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 14 – In Calf Heifer</strong>
</p>
<p>
    1. Chettle Farm - Blacknor Cracker Banger Margaret
</p>
<p>
    Exhibitor Bred: Chettle Farm - Blacknor Cracker Banger Margaret
</p>
<p>
    Junior Champion: Chettle Farm - Blacknor Cracker Banger Margaret
</p>
<p>
    Reserve Junior Champion: C J R &amp; S M H Evans –Hilcol Delta Gwawr
</p>
<p>
    Honourable Mention: R J Norman &amp; Miss C Mills – Cadbury Royal Delta Pretty 87
</p>
<p>
    <strong>Class 24 – Heifer in Milk</strong>
</p>
<p>
    1. D &amp; H Cox – Rosewood Tradition Suzi
</p>
<p>
    2. C J R &amp; S M H Evans – Cadbury Hawk Onyx 2
</p>
<p>
    3. Suffolk Farmhouse Cheeses – Sharnford Lucinda
</p>
<p>
    Exhibitor Bred: C J R &amp; S M H Evans – Cadbury Hawk Onyx 2
</p>
<p>
    Best Udder: D &amp; H Cox – Rosewood Tradition Suzi
</p>
<p>
    <strong>Class 37 – Cow in Milk, having have 2 or 3 calves</strong>
</p>
<p>
    1. C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    2. C J R &amp; S M H Evans – Bickfield Rainbow 51
</p>
<p>
    3. I &amp; D Crouch – Blacknor Liz 2
</p>
<p>
    Exhibitor Bred: C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    Best Udder: C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 45 – Cow in Milk, having had 4 calves or more </strong>
</p>
<p>
    1. C J R &amp; S M H Evans – Lodor Sioned 2
</p>
<p>
    Best Udder: C J R &amp; S M H Evans – Lodor Sioned 2
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship </strong>
</p>
<p>
    Champion - C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    Reserve Champion - C J R &amp; S M H Evans – Bickfield Rainbow 51
</p>
<p>
    Honourable Mention - D &amp; H Cox – Rosewood Tradition Suzi
</p>
<p>
    Exhibitor Bred - C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    Best Udder - C J R &amp; S M H Evans – Cadbury Hawk Pretty 86
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Holstein </strong>
</p>
<p>
    <strong></strong>
</p>
<h2>
    Supreme Champion Holstein: Castellhyfryd Spirte Rosina
</h2>
<p>
    Reserve: Richaven Goldwyn Adrienne
</p>
<p>
    Honourable Mention: Styche Lyster Sally
</p>
<p>
    Best Udder: Castellhyfryd Spirte Rosina
</p>
<p>
    Exhibitor Bred Champion: Richaven Goldwyn Adrienne
</p>
<p>
    Senior in Milk Champion: Richaven Goldwyn Adrienne
</p>
<p>
    Junior in Milk Champion: Castellhyfryd Spirte Rosina
</p>
<p>
    Best in Show by a UK Sire: Moorshard Shottle Tellar
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Junior Calf </strong>
</p>
<p>
    <strong> </strong>
    1, F Phillipson’s<strong> </strong>Furness Dundee Beauty 2 EB<strong></strong>
</p>
<p>
    2, Sheikha Noora Alkhalifa’s Sahara Sanchez Nugget 2
</p>
<p>
    3, A &amp; J Whittaker’s Knowlesmere Shottle Papoose
</p>
<p>
    4, Drointon Holsteins’ Drointon Loader Beauty
</p>
<p>
    5, W Maddocks Ltd Wyndford Shottle Glory 8
</p>
<p>
    6, F Phillipson’s Furness Dundee Beauty 3
</p>
<p>
    7, A H Wilson’s Tregibby Elton Dolly
</p>
<p>
    8, A H Wilson’s Tregibby Million Marq I
</p>
<p>
    9, Drointon &amp; Cheviotview Holsteins’<strong> </strong>Drointon Roseman Apple Red
</p>
<p>
    10, C Baty’s Tynevalley Talent Jodie Red
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Intermediate Calf </strong>
</p>
<p>
    <strong> </strong>
    1, A &amp; J Whittaker’s Knowlesmere Sanchez Chancel EB
</p>
<p>
    2, Aintree Holsteins Ltd’s Aintree Ford Wendy 207
</p>
<p>
    3, A &amp; J Whittaker’s Knowlesmere ISM SK Miss Linda
</p>
<p>
    4, S P &amp; S R Davies’ Castellhyfryd Stormy Patricia
</p>
<p>
    5, T Lomas’s Drointon Jeeves Sally
</p>
<p>
    6, Shanael Farms Ltd’s Shanael Sanchez Melody 2
</p>
<p>
    7, W J Nadin &amp; Y K Bradbury’s Peak Atwood Lustre
</p>
<p>
    8, I J Mallinson’s Carhall Golddust Elizabeth
</p>
<p>
    9, Sheikha Noora Alkhalifa’s Sahara Sanchez Regenia 2
</p>
<p>
    10, A H Wilson &amp; Son’s Feithy Knowledge Marq I
</p>
<p>
    11, R A Bown’s Richaven Shottle Mahala
</p>
<p>
    12, A C Birkle’s Whinchat Knowledge Farrah
</p>
<p>
    13, T Smith &amp; Sons Ltd’s Woodmarsh Bonanza Melody
</p>
<p>
    14, Melview Farming’s Willsbro Dynamite Katie
</p>
<p>
    <strong>Senior Calf </strong>
</p>
<p>
    <strong> </strong>
    1, W J Nadin &amp; Y K Bradbury’s Sterndale Sterling Jodie Red EB
</p>
<p>
    2, W Maddocks Ltd’s Wyndford Damion Erle 2
</p>
<p>
    3, Mrs C Jones’ Willsbro Knowledge R Delight
</p>
<p>
    4, Dalesend Farms Ltd’s Dalesend Pansy 227
</p>
<p>
    5, Shanael Farms Ltd’s Shanael Lovejoy Becky
</p>
<p>
    6, R A Bown’s Cahirmee San Chelsie
</p>
<p>
    7, W Maddocks Ltd’s Wyndford Knowledge Torch 55
</p>
<p>
    8, P &amp; R Robinson’s Woodhey Sho Beyonce
</p>
<p>
    9, P Findley’s Bestfed Shottle Primrose
</p>
<p>
    10, Melview Farming &amp; S D May &amp; Son’s Willsbro Dynamite Blackrose
</p>
<p>
    11, Pedran Holsteins’ Bilsrow Goldwyn Ivy
</p>
<p>
    12, T Smith &amp; Sons Ltd’s Cloudnine Mae Wyn
</p>
<p>
    13, Dalesend Farms Ltd’s Dalesend Chaz May
</p>
<p>
    14, E S Burroughs &amp; Son Wheatacre Lauthority Antiquity
</p>
<p>
    Champion Calf: Knowlesmere Sanchez Chancel
</p>
<p>
    Reserve: Aintree Ford Wendy 207
</p>
<p>
    Honourable Mention: Sterndale Sterling Jodie Red
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Junior Heifer </strong>
</p>
<p>
    1, E &amp; J Jones’ Sahara Goldwyn Sara 2
</p>
<p>
    2, T H Roberts &amp; Sons’<strong> </strong>Nobold Alexander Joan EB
</p>
<p>
    3, W Maddocks Ltd’s Wyndford Saratoga Norah 224
</p>
<p>
    4, A &amp; J Whittaker’s Knowlesmere Golden Kitty
</p>
<p>
    5, R A Bown’s Richaven Champion Katie 2
</p>
<p>
    6, T Smith &amp; Sons Ltd’s Bumblebeehall Finalcut Candy 3
</p>
<p>
    7, Drointon Holsteins’ Drointon Kartoon Vick
</p>
<p>
    8, Wyndford Sanchez Rebecca 45
</p>
<p>
    9, E S Burroughs &amp; Son Ashdon Debbie 8
</p>
<p>
    <strong>Senior Heifer </strong>
</p>
<p>
    1, W J Nadin &amp; Y K Bradbury’s Sterndale Goldwyn Rae EB
</p>
<p>
    2, C Baty &amp; I R Williamson’s Tynevalley Wardle Plaid Eileen
</p>
<p>
    3, Seaton Farms’ Styche Aspen Ragapple
</p>
<p>
    4, Aintree Holsteins Ltd’s Aintree Bolton Tellar B
</p>
<p>
    5, A H Wilson &amp; Son’s Huddlesford Sanchez Salamande
</p>
<p>
    6, Shanael Farms Ltd’s Shanael Shottle Oprah 2
</p>
<p>
    7, Melview Farming’s Melview Gap Alliance Margherita
</p>
<p>
    8, Drointon Holsteins’ Drointon Retinue R Bell Red
</p>
<p>
    <strong> </strong>
</p>
<p>
    Champion Heifer: Sterndale Goldwyn Rae
</p>
<p>
    Reserve: Sahara Goldwyn Sara 2
</p>
<p>
    Honourable Mention: Tynevalley Wardle Plaid Eileen
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Junior Heifer in Milk </strong>
</p>
<p>
    1, H Wright &amp; Son’s Berryholme Golden Flo EB
</p>
<p>
    2, W Maddocks Ltd’s Wyndford Goldwyn Erle BU
</p>
<p>
    3, J Heler’s Helton Damion Roz
</p>
<p>
    4, Seaton Farms’ Styche Damion Sally 2
</p>
<p>
    5, Aintree Holsteins Ltd’s Aintree Shottle Nugget K
</p>
<p>
    6, Sheikha Noora Alkhalifa’s Moorshard Talented Shower Red
</p>
<p>
    7, F Phillipson’s Furness Stormatic Voo Doo
</p>
<p>
    8, Shanael Farms Ltd &amp; M &amp; K Sharlot’s Shanael Redman Jodie
</p>
<p>
    9, Shanael Farms Ltd’s Shanael Talent Pap0ose
</p>
<p>
    10, B &amp; L Whitfield &amp; Sons’<strong> </strong>Alderbarrow Mr Burns Companion
</p>
<p>
    11, P &amp; R Robinson’s Huddlesford Atlas Pretzel
</p>
<p>
    12, C Dent’s Bridge End Howie Raven
</p>
<p>
    13, D Bostock’s Broomhouse Emulate Sina
</p>
<p>
    14, Riverdane Holsteins’ Conncorr Rose Sara Red
</p>
<p>
    15, C Dent’s Bridge End Howie Raven 2
</p>
<p>
    <strong>Senior Heifer in Milk </strong>
</p>
<p>
    1, W Maddocks Ltd’s Wyndford Atlas Winsome 82 EB &amp; BU
</p>
<p>
    2, B Yates’ Logan Black Carmen
</p>
<p>
    3, Riverdane Holsteins’ Riverdane Newz Sara
</p>
<p>
    4, R A Bown &amp; P J &amp; M Bradley’s<strong> </strong>Crockers Rock Stocking Red
</p>
<p>
    5, R A Bown’s Richaven Goldwyn Irene
</p>
<p>
    6, Seaton Farms’ Styche Pronto Chancel
</p>
<p>
    7, R K &amp; S G Miller &amp; Sons’ Moorshard UR Shottle Fran
</p>
<p>
    8, Riverdane Holsteins’ Riverdane Jas Angel
</p>
<p>
    9, I Whittaker’s Touchdown Spirte Brandy
</p>
<p>
    10, A C Birkle’s Whinchat Damion Flo
</p>
<p>
    11, I J Mallinson’s Carhall Goldwyn Elizabeth
</p>
<p>
    12, T Smith &amp; Sons Ltd’s Fordmill LMM Twinkle
</p>
<p>
    Champion Heifer in Milk: Berryholme Golden Flo
</p>
<p>
    Reserve: Wyndford Goldwyn Erle
</p>
<p>
    Honourable Mention: Wyndford Atlas Winsome 82<strong></strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Junior Cow in Milk-Junior </strong>
</p>
<p>
    1, S P &amp; S R Davies &amp; K &amp; C Thomas’s Castellhyfryd Spirte Rosina BU
</p>
<p>
    2, W J Nadin &amp; Y K Bradbury’s<strong> </strong>Peak Gold Rhapsody EB
</p>
<p>
    3, W Maddocks Ltd’s Wyndford Mr Sam Margi 5
</p>
<p>
    4, T H Roberts &amp; Sons’ Nobold Goldwyn Sara
</p>
<p>
    5, W J Nadin &amp; Y K Bradbury’s<strong> </strong>Sterndale Goldwyn Ghost
</p>
<p>
    6, Sheikha Noora Alkhalifa’s Sahara Damion Sara
</p>
<p>
    7, A H Wilson’s Eola BG Celicia
</p>
<p>
    8, B Weatherup’s Parkend Jacob Betsy
</p>
<p>
    <strong>Junior Cow in Milk-Senior </strong>
</p>
<p>
    1, R A Bown’s Richaven Goldwyn Birdy EB &amp; BU
</p>
<p>
    2, B Yates’ Logan Mr Sam Gail
</p>
<p>
    3, P &amp; R Robinson’s Woodhey Shottle Sunbeam 2
</p>
<p>
    4, J Heler’s Helton Gibson Raven
</p>
<p>
    5, D &amp; C Strachan’s Rendham Aspen Nav Jane
</p>
<p>
    6, A C Birkle’s Whinchat Shottle Savoire Fare
</p>
<p>
    7, Aintree Holsteins Ltd’s Aintree Norris Tellar B
</p>
<p>
    8, Shanael Farms Ltd &amp; D &amp; E Williams’ Shanael Talent Oprah
</p>
<p>
    9, E S Burroughs &amp; Son’s Wheatacre Staff Welcome 23
</p>
<p>
    <strong>Intermediate Cow in Milk </strong>
</p>
<p>
    <strong> </strong>
    1, R A Bown’s Richaven Goldwyn Adrienne EB &amp; BU
</p>
<p>
    2, P Findley’s Bestfed Golden Countess
</p>
<p>
    3, W Maddocks Ltd’s Wyndford Jordan Contented 384
</p>
<p>
    4, R K &amp; S G Miller &amp; Sons’ Moorshard Shottle Tellar
</p>
<p>
    5, Shanael Farms Ltd’s Shanael River Mavis
</p>
<p>
    6, B Yates’ Logan Mr Sam Hope
</p>
<p>
    7, P &amp; W A Findley’s Monamore Miss Elegance
</p>
<p>
    <strong>Senior Cow in Milk </strong>
</p>
<p>
    1, W Maddocks Ltd’s<strong> </strong>Huddlesford Mrs Melody BU
</p>
<p>
    2, Pedran Holsteins’<strong> </strong>Weeton Oralie Talent
</p>
<p>
    3, W J Nadin &amp; Y K Bradbury’s<strong> </strong>Peak Allen Rachel EB
</p>
<p>
    4, Riverdane &amp; R Watson’s Overside Mr Sam Bonita
</p>
<p>
    <strong>Mature Cow in Milk </strong>
</p>
<p>
    1, Seaton Farms’ Styche Lyster Sally EB
</p>
<p>
    2, Riverdane, I Morgan &amp; T Bourke’s Corringham Bob Roxy Red BU
</p>
<p>
    3, W Maddocks Ltd’s<strong> </strong>Wyndford Present 72
</p>
<p>
    4, R A Bown’s Richaven Raider Squaw
</p>
<p>
    5, R A Bown’s Richaven OA Katie
</p>
<p>
    6, Dalesend Farms Ltd’s Dalesend Silky Rena
</p>
<p>
    <strong> </strong>
</p>
<p>
    <strong>Best Red &amp; White</strong>
</p>
<p>
    1, Riverdane, I Morgan &amp; T Bourke’s Corringham Bob Roxy Red
</p>
<p>
    2, R A Bown &amp; P J &amp; M Bradley’s<strong> </strong>Crockers Rock Stocking Red
</p>
<h2>
    All Britain Produce of Dam or Daughter/Dam Pair
</h2>
<p>
    1, R A Bown
</p>
<p>
    2, T Smith &amp; Sons Ltd
</p>
<p>
    <strong>All Britain Breeders Group</strong>
</p>
<p>
    1, R A Bown<strong></strong>
</p>
<p>
    2, W Maddocks Ltd
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Jersey</strong>
</p>
<p>
    <strong>Class 4 – Maiden Heifer</strong>
</p>
<p>
    1. Glanmor Jerseys – Glanmor Belmont Fortune
</p>
<p>
    2. Rapidbay-UK – Rapidbay-UK Jades Rumour
</p>
<p>
    3. Chettle Farm – Cracker Senior Locket
</p>
<p>
    4. R Latham – Potterswalls Lords Lady
</p>
<p>
    5. Glanmor Jerseys – Glanmor Julian Star
</p>
<p>
    Exhibitor Bred: Glanmor Jerseys – Glanmor Belmont Fortune
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 12 – In Calf Heifer</strong>
</p>
<p>
    1. The Saxby Family – Saxown Big Boy Martha 3
</p>
<p>
    2. M &amp; S Williams – Glanmor Julian Jean
</p>
<p>
    3. Coldeaton Jerseys – Coldeaton Iatolas Alison
</p>
<p>
    4. J D Evans - Mydrim Excitations Louise
</p>
<p>
    Exhibitor Bred: The Saxby Family – Saxown Big Boy Martha 3
</p>
<p>
    Junior Champion: The Saxby Family – Saxown Big Boy Martha 3
</p>
<p>
    Reserve Junior Champion: Glanmor Jerseys – Glanmor Belmont Fortune
</p>
<p>
    Honourable Mention: M &amp; S Williams – Glanmor Julian Jean
</p>
<p>
    <strong>Class 22 – Heifer in Milk</strong>
</p>
<p>
    1. D P Manning – Etsill Comerica Radience
</p>
<p>
    2. Coldeaton Jerseys – Woodbine Olympic Athena
</p>
<p>
    3. Rapidbay-UK – Rapidbay-UK Reputation Radiance
</p>
<p>
    4. J D Evans - Mydrim Remakes Tara 2
</p>
<p>
    5. A C Timbury – Goodtime Shyster Hale
</p>
<p>
    6. Chettle Farm – IJB Prides Samantha
</p>
<p>
    7. A C Timbury – Goodtime Jetson Angelica
</p>
<p>
    Exhibitor Bred: D P Manning – Etsill Comerica Radience
</p>
<p>
    Best Udder: D P Manning – Etsill Comerica Radience
</p>
<p>
    <strong>Class 35 – Cow in Milk, having had 2 calves</strong>
</p>
<p>
    1. A H Wilson &amp; Son – Bluegrass Charlies Happiest
</p>
<p>
    2. Mrs D S MacKellar – Grayridge Comerica Vivacious
</p>
<p>
    3. Quintrell Jerseys – Quintrell May Katrina
</p>
<p>
    4. D P Manning – IJB Ringmasters Light
</p>
<p>
    5. Glanmor Jerseys – Hardinge Impuls Spice
</p>
<p>
    Exhibitor Bred: Quintrell Jerseys – Quintrell May Katrina
</p>
<p>
    Best Udder: A H Wilson &amp; Son – Bluegrass Charlies Happiest
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 43 – Cow in Milk, having had 3 or 4 calves</strong>
</p>
<p>
    1. A H Wilson &amp; Son – Bluegrass Heritages Lovely Lady
</p>
<p>
    2. The Saxby Family – Saxown Just Eclair 7
</p>
<p>
    3. Chettle Farm – Goodtime Best Locket
</p>
<p>
    4. The Saxby Family – Saxown BC Eclair 6
</p>
<p>
    5. J D Evans – Mydrim Excitation Sandy
</p>
<p>
    6. Glanmor Jerseys – Glanmor Rocket Wennol
</p>
<p>
    7. D P Manning – Blodwell Zik Nina
</p>
<p>
    8. A C Timbury – Goodtime Santana Lawmuir
</p>
<p>
    Exhibitor Bred: The Saxby Family – Saxown Just Eclair 7
</p>
<p>
    Best Udder: A H Wilson &amp; Son – Bluegrass Heritages Lovely Lady
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Class 51 – Cow in Milk, having had 5 calves of more</strong>
</p>
<p>
    1. W &amp; J Templeton – Braymeadow Leads Sophie
</p>
<p>
    2. A H Wilson &amp; Son – Bluegrass Jazzman Pams Panama
</p>
<p>
    Best Udder: W &amp; J Templeton – Braymeadow Leads Sophie
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Championship</strong>
</p>
<p>
    Champion - A H Wilson &amp; Son – Bluegrass Heritages Lovely Lady
</p>
<p>
    Reserve Champion - A H Wilson &amp; Son – Bluegrass Charlies Happiest
</p>
<p>
    Honourable Mention - Mrs D S MacKellar – Grayridge Comerica Vivacious
</p>
<p>
    Exhibitor Bred - The Saxby Family – Saxown Just Eclair 7
</p>
<p>
    Reserve - Quintrell Jerseys – Quintrell May Katrina
</p>
<p>
    Best Udder - A H Wilson &amp; Son – Bluegrass Charlies Happiest
</p>
