<a rel="gallery_13" class="fancybox" href="http://www.lleynsheep.com/graphics/Lleynlogosmall.jpg"><img class="thumbnail" src="http://www.lleynsheep.com/graphics/Lleynlogosmall.jpg" alt=""/></a>

<script>
    $(".fancybox").fancybox({
    nextEffect  : 'fade',
    prevEffect  : 'fade',
    padding     : 0,
    margin      : [15, 15, 40, 15],
    afterLoad   : addLinks,
    beforeClose : removeLinks,
    helpers : {
        overlay : {
            css : {
                'background' : 'rgba(58, 42, 45, 0.95)'
            }
        }
    },
});

function addLinks() {
    var list = $("#links");
    
    if (!list.length) {    
        list = $('<ul id="links">');
    
        for (var i = 0; i < this.group.length; i++) {
            $('<li data-index="' + i + '"><label></label></li>').click(function() { $.fancybox.jumpto( $(this).data('index'));}).appendTo( list );
        }
        
        list.appendTo( 'body' );
    }

    list.find('li').removeClass('active').eq( this.index ).addClass('active');
}

function removeLinks() {
    $("#links").remove();    
}
</script>

