<h2>The Lleyn Sheep</h2>
<p>Lleyn sheep originate from the Lleyn Peninsula in Wales and until 20 years ago were a relatively unfamiliar breed in the UK.  The last 13 years have seen the Lleyn become the fastest growing breed in numbers in the UK, and now Lleyn can be found on farms all over the UK and Europe.  Farmers soon find that the Lleyn ewe is an ideal sheep; quiet in nature, prolific with great maternal instincts, milky and will not eat you out of house and home.  The Lleyn thrives on both lowland and upland grazing, and its versatility makes it suitable for many farming systems.</p>
<p>The modern commercial farmer using a terminal sire will enjoy the benefits the Lleyn ewe naturally have.  The Lleyn will give you an efficient and low maintenance system whilst still producing the goods required by the home and export markets.</p>
<p>The Society holds 13 sales a year across the UK and Ireland where registered females and rams are sold.  At these sales you are buying the true Lleyn that will go on to do what it says on the tin!</p>
<p>For more information please visit the website <a href="http://www.lleynsheep.com" target="_blank" class="inlineLink">www.lleynsheep.com</a>.  Alternatively please contact the Society Promotions Officer Heather Stoney at <a href="mailto:promotions@lleynsheep.com" class="inlineLink">promotions@lleynsheep.com</a> or <a href="tel:07966699930" class="inlineLink">079666 99930</a>.</p>

<h2>National Lleyn Competition 2014</h2>

<p>
	In 2014 the Lleyn Sheep Society has been invited to hold the National Lleyn Sheep Competition with the RABDF.  The event is to be held at the N.E.C. Birmingham on Wednesday 2nd & Thursday 3rd July 2014.  
</p>

<p>
	There will be classes for pens of Registered Lleyn sheep.  It will include a section for colleges.
</p>

<p>
	Judge: Mr Wynne Davies, Pwllhell (Flock 50)
</p>

<h3>Classes</h3>
<ol>
	<li>A pen of five registred Lleyn Shearling Ewes fit for breeding</li>
	<li>A registered Lleyn Ewe with a pair of her own reared crossbred lambs</li>
	<li>A pen of five registered Lleyn shearling ewes fit for breeding from an Agricultural College flock.</li>
</ol>

<h2>Prize Money</h2>
<p></p>
<ul>
	<li>1st – £250</li>
	<li>2nd – £150</li>
	<li>3rd – £125</li>
	<li>4th-7th – £100</li>
</ul>

<p>FREE ENTRY</p>

<h2>Eligibility</h2>

<ol>
	<li>Only registered Lleyn Sheep (excluding crossbred lambs) belonging to fully paid up members of the Lleyn Sheep Society, will be accepted in the National Lleyn Sheep Competition.</li>
	<li>All sheep must be MVA</li>
	<li>Entry for classes 1 and 2 is to be made through a Lleyn Sheep Breeders Club with one entry per class, per a club accepted.  It is up to the individual clubs how they select their entries.</li>
	<li>Entry into class 3 is to be by an Agricultural College only.  These pens will be allocated on a first come, first served basis.</li>
</ol>

<p>Entry Form Available from the Society website <a href="http://www.lleynsheep.com" target="_blank">www.lleynsheep.com</a></p>

<p>Please send your pen booking form and accommodation bookings to:</p>

<div class="small-10 noBorder mt20 small-centered columns">
  {{partial 'livestock_contact'}}
</div>

