               <div class="row entryRegs">
               	<div class="small-2 columns">
               		<h2 class="noMargin">1.</h2>
               	</div>
               	<div class="small-10 columns"><strong>Registration</strong> All animals must be registered in the Lleyn Flock Book or the Registered Section. Breed Society rules apply.</div>
               </div>


				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">2.</h2>
					</div>
					<div class="small-10 columns"><strong>Identification</strong> REGISTRATION CERTIFICATES MUST ACCOMPANY THE ANIMALS TO THE SHOW FOR INSPECTION BY THE STEWARDS AT ANY TIME. </div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">3.</h2>
					</div>
					<div class="small-10 columns"><strong>Arrival & Departure</strong> All sheep must be stalled by <em>6pm on Tuesday 1st July</em>.  Cattle may leave after <em>5pm Thursday 3rd July</em> and in all instances must be removed by the <em>morning of 4th July</em> with prior agreement with Sian Mercer, RABDF.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">4.</h2>
					</div>
					<div class="small-10 columns"><strong>Veterinary Inspection</strong> All sheep will be subject to veterinary inspection at the discretion of the show management and show veterinary officer. </div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">5.</h2>
					</div>
					<div class="small-10 columns"><strong>Judging</strong> Judging will commence on Wednesday 2nd July.</div>
				</div>


				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">6.</h2>
					</div>
					<div class="small-10 columns"><strong>Rules</strong> The ruling of the Show Management in relation to any matters concerning the event shall be final and binding to all concerned. At any one time they have the powers to reject any unsuitable animal.</div>
				</div>


				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">7.</h2>
					</div>
					<div class="small-10 columns"><strong>Accommodation</strong> Booking of accommodation; caravan or lorry sleeper space must be done through the RABDF and be received by <em>30th May 2013</em>.   </div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">8.</h2>
					</div>
					<div class="small-10 columns"><strong>Pen Reservations, Catalogue Entries & Fees</strong> Pen bookings and sheep entries will be made to the Lleyn Sheep Society.</div>
				</div>


				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">9.</h2>
					</div>
					<div class="small-10 columns"><strong>Prize Money</strong> Winning exhibitors will receive prize money by post following the show from the Lleyn Sheep Society. In the interest of good accounting please present the cheques promptly.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">10.</h2>
					</div>
					<div class="small-10 columns"><strong>Sheep Accommodation</strong> This will be allocated and marked by the Lleyn Sheep Society.    All show boxes / tack should be accommodated within the penning area leaving the sheep lines free of obstruction. Straw will be provided.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">11.</h2>
					</div>
					<div class="small-10 columns"><strong>Manure Disposal</strong> Exhibitors are to keep their individual areas clean and deposit muck as indicated by the stewards.  Please place all litter in the bins provided, not in the muck heaps.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">12.</h2>
					</div>
					<div class="small-10 columns"><strong>Dogs</strong> No dogs will be allowed in the sheds.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">13.</h2>
					</div>
					<div class="small-10 columns"><strong>Leaving Sheep at Night</strong> The RABDF will provide a night steward.  Please ensure your sheep are left with enough feed and water during the night.  Please ensure your contact details are attached to the pen. </div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">14.</h2>
					</div>
					<div class="small-10 columns"><strong>Notifiable Disease</strong> Any animal which shows signs suspicious of any notifiable disease must be reported immediately to the Chief Steward or Chief Vet.</div>
				</div>


				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">15.</h2>
					</div>
					<div class="small-10 columns"><strong>Circuit Breakers</strong> Exhibitors are reminded that circuit breakers are compulsory on all electrical equipment. In addition such equipment should have been tested within the last 12 months.</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">16.</h2>
					</div>
					<div class="small-10 columns"><strong>Movements</strong> Animals must be accompanied by their movement records, MV Accreditation Certificates and be double tagged with official UK Ear Tags.</div>
				</div>



				<div class="row entryRegs">
					<div class="small-2 columns">
						<h2 class="noMargin">17.</h2>
					</div>
					<div class="small-10 columns"><strong>Complaints Procedure</strong> Complaints must be given in
writing and handed in with a £25 deposit which will be refunded if the complaint is upheld.
</div>
				</div>

				<div class="row entryRegs">
					<div class="small-2 columns">
						
					</div>
					<div class="small-10 columns"><strong>Disclaimer</strong> <p>The term “Exhibitor” includes persons taking part in any competition or display arranged by the Organiser and the owner of the animal, plant, piece of machinery or anything involved in any such competition or display at the National Lleyn Sheep Competition.  The Organiser will not be responsible for death, disease, damage or loss caused to any exhibitor or to his or her servant or agent, or to any animal, article, plant, piece of machinery, or thing of whatever nature brought onto the showground by the said exhibitor from whatever cause, death, injury, disease, damage or loss arises.</p><p>(Save as aforesaid) the exhibitor shall indemnify the Organiser against all claims, damages and expenses whatsoever in any way arising out of the presence of the exhibitor, his servants, agents, exhibits, vehicles or equipment on the showground and shall assume full responsibility therefore. </p><p><em>Exhibitors are advised to insure against fire and other appropriate risk, not only as regards their own property, but also against any third party claims.</em></p></div>
				</div>