
<div class="row buttonContent fourButtons verticalButtons">
  <div class="small-6 large-12 columns vertWrap">
    <div class="vertElement">
      {{#link-to "bookings.how" class="button callToAction rabdforange"}}<span class="icon-help"></span>{{/link-to}}
      <span class="buttonLabel">how to apply</span>
    </div>
  </div>
  <div class="small-6 large-12 columns vertWrap">
    <div class="vertElement">
      {{#link-to "exhibitors" class="button callToAction rabdforange disabled"}}<span class="icon-card-user"></span>{{/link-to}}
      <span class="buttonLabel">exhibitor list (coming soon)</span>
    </div>
  </div>

  <div class="small-6 large-12 columns vertWrap">
    <div class="vertElement">
      {{#link-to "contractors" class="button callToAction rabdforange"}}<span class="icon-eye "></span>{{/link-to}}
      <span class="buttonLabel">contractor list</span>
    </div>
  </div>
  <div class="small-6 large-12 columns vertWrap">
    <div class="vertElement">
      {{#link-to "demographics" class="button callToAction rabdforange"}}<span class="icon-fontawesome-group rabdforange"></span>{{/link-to}}
      <span class="buttonLabel">visitor demographics</span>
    </div>
  </div>  
</div>
