
<div class="row buttonContent whyVisit fourButtons">
  <div class="small-6 large-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to "tickets" class="button callToAction"}}<span class="icon-pound-icon"></span>{{/link-to}}
      <span class="buttonLabel">buy tickets</span>
    </div>
  </div>

  <div class="small-6 large-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to "accommodation" class="button callToAction"}}<span class="icon-moon "></span>{{/link-to}}
      <span class="buttonLabel">accommodation</span>
    </div>
  </div>  


  <div class="small-6 large-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to "exhibitors" class="button callToAction"}}<span class="icon-card-user"></span>{{/link-to}}
      <span class="buttonLabel">exhibitor list</span>
    </div>
  </div>

  
  <div class="small-6 large-3 columns vertWrap">
    <div class="vertElement">
      {{#link-to "past" class="button callToAction"}}<span class="icon-calendar"></span>{{/link-to}}
      <span class="buttonLabel">last year</span>
    </div>
  </div>  
</div>
