<p align="left">
    1. Interpretation and definitions
</p>
<p align="left">
    1.1. Throughout these Rules and Regulations and the Procedures the following words should be interpreted as follows:
</p>
<p align="left">
    'AHVLA' means Animal Health and Veterinary Laboratories Agency, veterinary representative.
</p>
<p align="left">
    'Animals' mean all bovine and ovine animals
</p>
<p>
    'Appeals Committee' means the Appeals Committee for the Show and will comprise: the Chairman of the Organiser; the Chairman of the Manager; and the BCVA
    Representative.
</p>
<p>
    'Appointed Veterinary Surgeons' means the veterinary surgeon(s) appointed by the Organiser for the Show.
</p>
<p>
    'BCVA' means the British Cattle Veterinary Association.
</p>
<p>
    'BCVA Representative' means the person for the time being nominated by the BCVA to represent the BCVA at the Show and to sit on the Appeals Committee.
</p>
<p>
    'Bovine Animals' means cows in milk, heifers, calves and beef animals, male and female.
</p>
<p>
    'Breed Society Representative' means the person for the time being nominated by the relevant Breed Society represented at the Show, to be their
    representative at the Show.
</p>
<p>
    'Chief Vet' means the chief veterinary surgeon appointed by the Organiser for the Show.
</p>
<p>
    'ROD' means Regional Operations Director.
</p>
<p>
    'SVS' means Sheep Veterinary Society
</p>
<p>
    'Inspector' means any member of the Rules Committee plus any additional veterinary surgeon(s) and stewards appointed by the Organiser from time to time.
</p>
<p>
    'Livestock Coordinator' means the person for the time being appointed by the Organiser to be Livestock Coordinator for the Show.
</p>
<p>
    'Livestock Event' means the Livestock Event incorporating the National Dairy Show and National Charolais Beef Show and National British Blue Show, National
    Aberdeen Angus Show and National Lleyn Sheep Competition, as organised by the Organiser, to be held at the Venue during the period 25<sup>th</sup> June to
    the 4<sup>th</sup> July 2014.
</p>
<p align="left">
    'Manager' means any one or all of the following:
</p>
<p align="left">
    The Royal Association of British Dairy Farmers, a company limited by guarantee registered in England (Company No 00013393, Registered Charity No 213782).
</p>
<p align="left">
    The British Charolais Cattle Society a company limited by guarantee registered in England (Company No 731132, Registered Charity No. 250018)
</p>
<p align="left">
    The British Blue Cattle Society a company limited by guarantee registered in England (Company No 1743500, Registered Charity No. 1108263)
</p>
<p>
    The Aberdeen Angus Cattle Society, a company limited by guarantee, registered in Scotland (Company No 926, Registered Charity No SC 003894)
</p>
<p>
    The Lleyn Sheep Society Ltd Registered Office: Lleyn Sheep Society, Gwyndy, Bryncroes, Sarn, Pwllheli, Gwynedd, LL53 8ET - (Reg No. 23902R)
</p>
<p align="left">
    'National Aberdeen Angus Show' means the National Aberdeen Angus Beef Show as managed by the Manager
</p>
<p align="left">
    'National British Blue Show' means the National British Blue Beef Show as managed by the Manager
</p>
<p align="left">
    'National Charolais Show' means the National Charolais Beef Show as managed by the Manager
</p>
<p align="left">
    'National Dairy Show' means the National Dairy Show as managed by the Organiser.
</p>
<p align="left">
    'National Lleyn Sheep Competition' means the National Lleyn Sheep Competition as managed by the
</p>
<p align="left">
    Manager
</p>
<p align="left">
    'Organiser' means Royal Association of British Dairy Farmers, a company limited by guarantee registered in England (Company No 00013393, Registered Charity
    No 213782).
</p>
<p>
    'Organiser Chief Executive' means the Chief Executive of the Organiser for the time being.
</p>
<p>
    'Ovine Animals' means Sheep and Lambs, male and female.
</p>
<p align="left">
    'Participants' means the owners and exhibitors of Bovine and Ovine Animals at the Show and any other participants at the Show at the invitation of the
    owners and/or exhibitors (including, but not by way of limitation, fitters and agents of the owners and/or exhibitors).
</p>
<p>
    'Procedures' means these Standard Procedures and Penalties for Enforcing Rules and Regulations for Showing Bovine and Ovine Animals (as may be amended from
    time to time).
</p>
<p>
    'Rules and Regulations' means these Rules and Regulations for Showing Bovine and Ovine Animals (as may be amended from time to time).
</p>
<p>
    'Rules Committee' means the Rules Committee for the Show and will comprise: The Chief Vet; the Manager's Chief Executive the Organiser's Chief Executive;
    the relevant Breed Society Representative; and the Livestock Coordinator.
</p>
<p>
    'Show' means the National Dairy Show, the National Charolais Show, the National British Blue Show, the National Aberdeen Angus Show and the National Lleyn
    Sheep Competition to be held at the Venue during the period 25<sup>th</sup> June to the 4<sup>th</sup> July 2014.
</p>
<p>
    'SVO' means Senior Veterinary Officer.
</p>
<p>
    <s>
    </s>
</p>
<p>
    'Terms and Conditions of the Show' means the Livestock Event Terms And Conditions annexed to these Rules and Regulations.
</p>
<p align="left">
    'Venue' means The NEC, Birmingham B40 1NT.
</p>
<p align="left">
    1.2. In addition to the Rules and Regulations and the Procedures, all Participants shall meet all additional regulations as required by The Health &amp;
    Safety Executive, DEFRA (in particular following the Code of Recommendations for the Welfare of Livestock),the AHVLA, The Organiser, The NEC and any other
    Government or legislative body, The Trading Standards Office and The Local Authorities under whose control the Show falls, in particular those relating to
    Bio-Security and Health and Safety.
</p>
<p align="left">
    1.3. The Organiser reserves the right to decide upon the interpretation of all Rules and Regulations and the Procedures and the decision on any
    eventuality, not covered in the Rules and Regulations and/or the Procedures, will be ruled upon by the Rules Committee.
</p>
<p align="left">
    1.4. Participants are present at the invitation of the Organiser and that invitation may be withdrawn at any time at the Organiser's discretion.
</p>
<p align="left">
    1.5. The Rules and Regulations and the Procedures will be reviewed on a regular basis and may be amended and/or updated by the Organiser.
</p>
<p>
    2. Rules and Regulations for Showing Bovine and Ovine Animals
</p>
<p>
    The following supports good animal husbandry practices at the Show, while presenting a positive image to spectators. All Participants agree to abide by the
    following Rules and Regulations.
</p>
<p align="center">
    <strong>PART 1</strong>
    <strong></strong>
</p>
<p>
    2.1. The following practices and/or procedures are <strong>disallowed </strong>whilst <strong>Bovine</strong> Animals are at the Venue during the Show:
</p>
<p>
    a) Misrepresenting the age or ownership of an animal;
</p>
<p>
    b) Filling an animal's rumen unnaturally with liquid (tubing);
</p>
<p>
    c) Balancing the udder of an animal by any means other than by leaving naturally produced milk in any or all quarters;
</p>
<p>
    d) Treating the udder of an animal internally with an irritant, counter-irritant, or any other substance (including but not limited to gas) to temporarily
    improve conformation or produce unnatural animation;
</p>
<p>
    e) Use of Intra Mammary teat sealants (including but not limited to Orbeseal) on milking cows;
</p>
<p align="left">
    f) Treating the udder of an animal externally with an irritant, counter-irritant, or any other substance to temporarily improve conformation or produce
    unnatural animation including but not limited to all types of glue.
    <s>
    </s>
</p>
<p align="left">
    <s>
    </s>
</p>
<p>
    g) Roping udders and the use of objects to physically improve definition of the udder of an animal;
</p>
<p>
    h) Administering epidural anaesthesia (blocking tails) and/or applying any irritant either externally or internally to the perineal (rectum and vagina)
    area of an animal;
</p>
<p>
    i) Inserting foreign material/articles under the skin, into the topline (including hair not attached to its own hair follicle) or on the feet of an animal.
    (Use of false switches and tails are permitted);
</p>
<p>
    j) Performing surgery of any kind to change the natural contour of appearance of an animal's body, hide or hair. (The removal of warts, teats and horns,
    clipping and dressing of hair and trimming of hooves is acceptable);
</p>
<p>
    k) Wrapping hocks or draining fluid from hocks of an animal unless authorised by one of the Appointed Veterinary Surgeons;
</p>
<p>
    l) Attaching any appliance to an animal other than for milking;
</p>
<p>
    m) Criticising or interfering with any or all of the individuals involved in the organisation and judging of the show (including but not by way of
    limitation any judge, member of show management, Inspector, Participant, or the Chief Vet or any other conduct detrimental to the breed or show.
</p>
<p>
    n) Allowing an animal at the Show to wear shackles;
</p>
<p>
    o) Mistreating any animal at the Show.
</p>
<p>
    2.2. The following practices and/or procedures are <strong>disallowed </strong>whilst <strong>Ovine</strong> Animals are at the Venue during the Show:
</p>
<p>
    a. Misrepresenting the age or ownership of an animal;
</p>
<p>
    b. Performing surgery of any kind to change the natural contour of appearance of an animal's body or fleece. (The removal of warts, teats and horns,
    clipping and dressing of fleece and trimming of hooves is acceptable);
</p>
<p>
    c. Criticising or interfering with any or all of the individuals involved in the organisation and judging of the show (including but not by way of
    limitation any judge, member of show management, Inspector, Participant, or the Chief Vet or any other conduct detrimental to the breed or show).
</p>
<p>
    d. Mistreating any animal at the Show.
</p>
<p>
    2.3. Permission must be obtained from one of the Appointed Veterinary Surgeons before administrating any drugs to an animal. All drugs administered to a
    Bovine or Ovine Animal must be identified by law under the latest version of the UK Veterinary Medicines Regulations. In all such cases Participants will
    be required to notify the Organiser of: the animal's identification number; the drug's name; the volume of the drug administered; the batch number and
    expiry date; the person who administered the drug; and the date and time of administration.
</p>
<p>
    2.4. All animals will be treated free of charge at the Show, unless in the vets opinion they have been subject to malpractice. In which case the exhibitor
    will be charged for the drugs used by the vet to treat the resulting condition.
</p>
<p>
    2.5. Bovine and Ovine animals that have been sedated are not to be shown.
</p>
<p>
    2.6. All beef bulls over 12 months of age must have a nose ring.
</p>
<p>
    2.7. All beef cattle must be shown with a nose snip, excluding bulls over 12 months of age (see 2.5).
</p>
<p>
    2.8. All sheep must be from Maedi Visna (MV) Accredited Registered Flocks and must be accompanied by the relevant documentation.
</p>
<p>
    2.9. All sheep should carry their UK tag and be accompanied by the relevant movement licence.
</p>
<p>
    2.10. Permission must be obtained from one of the Appointed Veterinary Surgeons before administrating any drugs to an animal. All drugs administered to a
    Ovine Animal must be identified by law under the latest version of the UK Veterinary Medicines Regulations. In all such cases Participants will be required
    to notify the Organiser of: the animal's identification number; the drug's name; the volume of the drug administered; the batch number and expiry date; the
    person who administered the drug; and the date and time of administration.
</p>
<p>
    2.11. All animals will be treated free of charge at the Show, unless in the vets opinion they have been subject to malpractice. In which case the exhibitor
    will be charged for the drugs used by the vet to treat the resulting condition.
</p>
<p>
    2.12. All animals shall either have access to a suitable water supply and be provided with an adequate supply of fresh drinking water each day.
</p>
<h1>
    PART II
</h1>
<p>
    2.13. All Participants agree to abide by the following procedures:
</p>
<p>
    a) Refusal to co-operate with the Inspector is a ground for disqualification.
</p>
<p>
    b) Participants shall deliver, immediately upon request, to an Inspector any hypodermic syringe, needle or any other device, swabs, cloths or other
    material, or samples, or any medicine, preparation or substance (whether in liquid or other form), in the possession or control of the Participant, his or
    her fitter, agents, or persons acting on his or her behalf, for the purpose or inspection or laboratory analysis.
</p>
<p>
    c) All entries and property of the Participants are subject to inspection by the Inspectors. Participants shall co-operate with the Inspectors and shall:
</p>
<p>
    · provide access to the animal(s) owned or exhibited by the Participant at the Show;
</p>
<p>
    · provide all information reasonably required by the Inspector(s) in connection with such inspections;
</p>
<p>
    · provide samples of urine, milk, blood, or any other body fluids suitable for analysis from the relevant animal(s), if so requested;
</p>
<p>
    · allow all udders of any bovine animal(s) owned or exhibited by the Participant at the Show to be scanned on request of an Inspector.
</p>
<p>
    · remain at the head of the animal and not touch the udder until scanning has taken place.
</p>
<p>
    d) Participants shall remove any udder supports, blankets or other objects limiting the ability of the inspector to undertake a thorough inspection of any
    bovine animal(s) owned or exhibited by the Participant at the Show.
</p>
<p>
    e) Participants agree to act at all times in accordance with the Rules and Regulations and the Procedures, and will accept any final decision made
    thereunder.
</p>
<p>
    f) Participants may be liable for all veterinary expenses in relation to their animal(s), if required by the Organiser, while their animal(s) is/are at the
    Venue.
</p>
<p>
    g) Bovine Animals whether individually restricted or part of a herd restricted under the Tuberculosis (England) Order 2007 (as amended) shall not be
    permitted to attend the Show.
</p>
<p>
    h) Participants shall ensure that Bovine Animals from high TB risk areas (meaning areas in England and Wales where cattle must be tested for tuberculosis
    annually) have received a clear TB test prior to such animals being transported to the Venue as required under the Tuberculosis (England) (Amendment) Order
    2012. Testing must have taken place not more than 60 days prior to the date of transportation to the Venue (from date of injection).
</p>
<p>
    i) Details of the test results be must sent to the Show Organiser prior to the Show or be presented to the Chief Vet or Inspector immediately upon the
    arrival of each relevant Bovine Animal at the Venue. The Show Organiser has the right to refuse cattle entry to the Show if the test results are not
    presented.
</p>
<p>
    j) If a Bovine Animal dies while at the Venue the Participant owning or exhibiting the deceased Bovine Animal shall ensure that the deceased Bovine Animal
    be subject to an independent post-mortem in accordance with the instructions of the Organiser, and must be removed from site within 1 hour of it dying. The
    Organiser will pay for the Post Mortem which will be carried out by the local AHVLA Laboratory. The Organiser will be responsible for transporting the
    animal to this location.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>k) </strong>
    If an Ovine Animal dies while at the Venue the Participant owning or exhibiting the deceased Ovine Animal shall ensure that the deceased Ovine Animal be
    subject to an independent post-mortem in accordance with the instructions of the Organiser, and must be removed from site within 1 hour of it dying. The
    Organiser will pay for the Post Mortem which will be carried out by the local VLA in Luddington. The Participant is responsible for transporting the animal
    to this location. <strong>????</strong>
</p>
<p>
    <strong></strong>
</p>
<p align="left">
    3. Standard Procedures and Penalties for Enforcing the Rules and Regulations
</p>
<p align="left">
    The purpose of these procedures is to put into effect the Rules and Regulations as published by the Organiser from time to time. Where there is any
    conflict between the Rules and Regulations and these Procedures, the Rules and Regulations shall prevail to the extent of the conflict.
</p>
<p align="left">
    3.1. All Participants must sign the applicable agreement(s) annexed to these Rules and Regulations to abide by the Rules and Regulations, either as a
    separate document or as part of the entry form. All Participants agree that they have read and accepted the Rules and Regulations and the Procedures as a
    condition of their participation at the Show.
</p>
<p align="left">
    3.2. The Rules Committee for the Show will be responsible for overseeing compliance with the Rules and Regulations.
</p>
<p align="left">
    3.3. The Inspectors shall monitor compliance of the Rules and Regulations. To help in this regard the Inspectors and the agents or representatives acting
    under the instructions of any Inspector shall have the authority (which each relevant Participant hereby grants) to perform on any Bovine or Ovine Animal
    in the Show at the Venue any of the following:
</p>
<p align="left">
    3.3.1. a full body inspection of the animal (including, but not limited to the udder);
</p>
<p align="left">
    3.3.2. an ultrasound examination of the udder at any time;
</p>
<p align="left">
    3.3.3. a milk out of any individual cow or cows;
</p>
<p align="left">
    3.3.4. the collection and testing at any time of any animal's body fluids;
</p>
<p align="left">
    3.3.5. the use at any time of any other technology and other inspections and/or analysis (including autopsy), that an Inspector (or his or her agent or
    representative), acting reasonably, considers may be useful for assessing compliance with the Rules and Regulations.
</p>
<p align="left">
    3.4. All Participants at the Show shall provide promptly to the Rules Committee, upon request, such information and shall produce such documents as may be
    required by the Rules Committee for the proper monitoring of compliance with the Rules and Regulations and shall fully co-operate with any inspections.
</p>
<p align="left">
    3.5. At any time the Rules Committee reserves the right to ask a Participant to consider withdrawing their Bovine or Ovine Animal from a show class before
    entering the show ring if;
</p>
<p>
    e. a complaint has been received of a possible violation of the Rules and Regulations for Showing Bovine and Ovine Animals concerning the Bovine or Ovine
    Animal to be shown, or
</p>
<p>
    f. the Rules Committee has a reasonable belief that there would be violation of the Rules and Regulations for Showing Bovine and Ovine Animals if the
    Participant's Bovine or Ovine Animal is shown.
</p>
<p>
    If the Participant decides not to show the animal after receiving such a warning, no violation of the Rules and Regulations for Showing Bovine and Ovine
    Animals will be considered to have occurred and no disciplinary measures will be taken against the Participant.
</p>
<p align="left">
    Notwithstanding the above, at any time during the Show, the Rules Committee reserves the right to disqualify a Participant, the Participant's Bovine or
    Ovine Animal(s) or both at the Show, if they believe there has been a violation of the Rules and Regulations, these Procedures, or the Terms and Conditions
    of the Show.
    <s>
    </s>
    <s>
    </s>
</p>
<p align="left">
    3.6. Where, the Rules Committee considers that there has been a violation of the Rules and Regulations, these Procedures, or, as per the Livestock Event
    Terms &amp; Conditions, the Terms and Conditions of the Show, the accused Participant shall be notified of the alleged violation and shall, confidentially,
    be provided with information supporting the basis for the allegation.
</p>
<p align="left">
    3.7. The Rules Committee shall discuss any alleged violation of the Rules and Regulations or other procedures or terms and conditions relating to any
    animal that has been shown at the Show.
</p>
<p align="left">
    3.8. An accused Participant shall be asked to respond to the allegations. It is the obligation of every Participant, whenever requested, to meet with the
    Rules Committee and to give whatever information and produce whatever documents may be required for the proper determination of matters pending before the
    Rules Committee. The Rules Committee will determine if any violation of the Rules and Regulations, the Procedures and/or the Terms and Conditions of the
    Show has occurred and announce appropriate disciplinary measures. A finding of a violation and recommendation of disciplinary measures requires agreement
    by a majority of the Rules Committee. The determinations will be reported in writing to the Organiser, with a copy to the affected Participant(s).
</p>
<p align="left">
    3.9. Within ten (10) days of the Rules Committee report being received, any Participant determined to have violated the Rules and Regulations, the
    Procedures and/or the Terms and Conditions of the Show by the Rules Committee may appeal in writing to the Organiser. A copy of the appeal shall be given
    to any other party that the Organiser sees fit, who may respond to those comments within ten (10) days of receipt of the written appeal. The Appeals
    Committee shall consider the appeal and finally determine whether a violation(s) has taken place. The Appeals Committee shall then inform the
    Participant(s) of the outcome of the Appeals Committee's decision. The results of the Rules Committee and/or the Appeals Committee will be published on the
    Organiser's website and the Manager's website.
</p>
<p align="left">
    3.10. In the event the Rules Committee and (if relevant) the Appeals Committee decides a violation(s) has/have taken place the Organiser has the power to
    impose all of or any of the following penalties:
</p>
<p align="left">
    3.10.1. public censure;
</p>
<p align="left">
    3.10.2. disqualification or suspension of Participants from Show and future shows operated by the Organiser for up to three (3) years;
</p>
<p align="left">
    3.10.3. disqualification of any bovine or ovine animal owned or shown by a Participant / Participants in breach of the Rules and Regulations, the
    Procedures and/or the Terms and Conditions of the Show from the Show and future shows operated by the Organiser for up to three (3) years.
</p>
<p align="left">
    3.10.4. notification to applicable cattle associations;
</p>
<p align="left">
    3.10.5. forfeiture of any prizes or prize money already received or to be received; and/or
</p>
<p align="left">
    3.10.6. the levy of a charge for the recovery of the reasonable costs incurred by the Rules Committee, the Appeals Committee, the Manager and/or the
    Organiser in relation to the violation(s).
</p>
<p align="left">
    3.11. Penalties for violation are at the absolute discretion of the Organiser.
</p>
<p align="left">
    3.12. The decision of the Organiser in relation to imposing penalties is final.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <s>
    </s>
</p>
<p>
    <strong>
        <s>
        </s>
    </strong>
</p>
<p>
    <strong>
        <s>
        </s>
    </strong>
</p>
<h1>
    REGULATIONS
</h1>
<p>
    Exhibitors making entries in any class are subject to and must observe and conform to these Regulations in addition to the RABDF Rules and Regulations for
    Showing.
</p>
<p>
    <strong>DEFINITIONS</strong>
</p>
<p>
    In these Regulations, unless the context otherwise requires, the under-mentioned expressions shall have the following meaning respectively:
</p>
<p>
    'Exhibitor' means (a) a person or his executor/s or a firm exhibiting livestock: (b) a person or firm who occupies space for the purpose of advertising or
    sale: (c) a person or firm who competes in any competition: and (d) the representative or agent of any of the above.
</p>
<p>
    For the purpose of the Livestock Event, the definition of exhibitor bred is: An animal is defined as Exhibitor Bred if it is born in the U.K. and carries
    the owner's prefix. This includes animals born as a result of embryo transplant.
</p>
<p>
    An animal in joint ownership qualifies as exhibitor bred providing it has been jointly entered and one of the joint owners is the breeder.
</p>
<p>
    'The Organiser' means the Royal Association of British Dairy Farmers.
</p>
<p>
    'The NEC' means National Exhibition Centre, Birmingham B40 1NT.
</p>
<p>
    1. Stall booking forms must be signed and accompanied by the necessary fees and must be received by the 30<sup>th</sup> May 2014. Cheques should be made
    payable to <u>'RABDF'</u> and crossed.
</p>
<p>
    2. Every exhibitor will be held responsible for the correctness of details given on the Entry Form, Animal Admission Card/s, other documents and individual
    exhibitors shall, if called upon to do so, prove their correctness in such manner as the Organiser may require. The Organiser or its officials, in their
    absolute discretion and without assigning any reason therefore, may refuse an entry, or cancel an entry already accepted. Whenever under this Rule an entry
    is refused or cancelled, the fees paid for such an entry, at the discretion of the Organiser, shall be refunded and if refunded, shall be accepted by the
    exhibitor or intending exhibitor in full satisfaction of all claims against the Organiser.
</p>
<p>
    3. Exhibitors or their Stock attendants must take total responsibility for their stock at all times, whilst at the NEC. All persons in charge of exhibits
    will be subject to the orders of the stewards and will be required to parade or exhibit the animals in their charge at such times as may be directed by the
    Stewards. No Stock attendants shall be allowed to lead more than one animal at a time in the Judging rings.
</p>
<p>
    4. Judges: A Judge shall not exhibit in the class, classes or breed in which he or she is officiating.
</p>
<p>
    5. Each animal to be exhibited at the Event must be accompanied by such herdbook or flock certificates as necessary, to verify animal identification.
</p>
<p>
    6. <strong>Herd &amp; Flock Publicity Material</strong> will be permitted over stalls and pens reserved by the Exhibitor on the strict understanding that
    it does not interfere with the Event headboard cards and does not cause annoyance to adjacent exhibitors or those at the rear of the stalls concerned.
    Promotional displays must not exceed the height of the headboard rail. There is to be no Third Party advertising of any description. No decoration except
    those provided by the Organiser shall be worn by any animal in the judging ring.
</p>
<p>
    7. <strong>Fodder.</strong> The RABDF will provide bedding for cattle and sheep. No feed will be provided.
</p>
<p>
    8. <strong>Protests.</strong> Protests against any award or result must be made in writing and delivered either to the Chief Cattle Steward or the
    Livestock Coordinator at the Event Office on the Showground by 1800hrs on the day of the announcement of the result. A deposit of £25 will be required with
    each protest, which shall be forfeited if, in the opinion of the Organiser the protest has been made without due grounds.
</p>
<p>
    9. Smoking is prohibited in the Event Building at all times.
</p>
<p>
    10. <strong>Improper conduct/violation of showing rules.</strong> Should any improper conduct or violation of breed society approved showing rules be
    brought to the attention of the Organiser, they will have absolute discretion to take whatever action they deem appropriate whilst at the Event against the
    exhibitor concerned. <em>Such action may include:</em>
</p>
<p>
    <em>(i) </em>
    <em>Withdrawing or cancelling prizes awarded to his or her animals.</em>
</p>
<p>
    <em>(ii) </em>
    <em>
        Excluding the exhibitor concerned from further participation in the Event and if deemed necessary banning the exhibitor from participation in any
        future Livestock Event.
    </em>
</p>
<p>
    <em>(iii) </em>
    <em>Any other action deemed appropriate by the Chief Cattle Steward, Chief Event Steward, Event Director or the Chief Executive.</em>
</p>
<p>
    <em></em>
</p>
<p>
    <em>The Organiser may report any decision that they take to the breed society in whose herd book the</em>
</p>
<p>
    <em>animal(s) is so registered.</em>
</p>
<p>
11. No person will be allowed to use any boiling or cooking appliance of any description within the cattle lines<strong> </strong>or sheep pens    <strong> ALL ELECTRICAL APPLIANCES USED IN THE PREPARATION OF SHOW ANIMALS MUST CARRY VALID PAT TEST CERTIFICATES</strong>.
</p>
<p>
    12. An exhibitor must at once remove from the Event any exhibit which in the opinion of the Chief Executive, or Official Event Stewards is likely to be
    dangerous, objectionable or an annoyance to other exhibitors or persons attending The Event.
</p>
<p>
    13. The Organiser will not be liable or responsible for exhibits of livestock, crates, boxes or any other property of exhibitors, while at the Event or
    during transit, and any injury, damage or loss must be borne by the exhibitor, who is strongly advised to make suitable insurance arrangements.
</p>
<p>
    14. The Organiser will not be liable or responsible to any exhibitor for injury, damage or loss occasioned by or arising out of the holding of Events or
    occasioned by or arising out of the act or default of any other person in attendance or present threat, or if the Event in any year or years is abandoned
    for any reason or if the period of its advertised duration is shortened, or for any mistake in an entry form or in the Event Show Guide or catalogue.
</p>
<p>
    15. The Organiser will not be liable or responsible for any injury, damage, or loss caused by or arising out of any exhibit, machinery or thing belonging
    to an exhibitor. Each exhibitor shall hold the Organiser harmless, and indemnify them against such injury, damage, loss or any legal proceeding in
    connection therewith.
</p>
<p>
    16. All exhibitors shall conform immediately and without question to any instruction issued by the Event Safety Officer.
</p>
<p>
    17. <strong>Bio-security.</strong> The Show is licensed in accordance with the requirements of the Animal Gatherings Order 2003. All animal attendants are
    asked to co-operate by observing the Bio-Security rules. The animal areas should be kept clean and free from faecal contamination. Attendants should wear
    protective clothing and footwear capable of being disinfected whilst in the animal area. When leaving the animal area, attendants should remove protective
    clothing, wash their hands and ensure that footwear is clean. When showing, clean breed uniforms and suitable footwear should be worn.
</p>
<p>
    18. <strong>Malpractices.</strong> Any artificial contrivance or device of any description found on or proved to have been on an animal at any time, either
    for preventing the flow of milk or for any other improper purpose, will disqualify that animal from being awarded a prize and the owner of the animal may
    be prohibited from entering stock at future events. For the purpose of this Regulation, the term "improper practice" shall be held to include, setting of
    teats, and generally any other practice which results in the animals being shown other than in a natural state, and the Organiser reserves the right to
    have all animals inspected by the SVO either prior to, during, or after judging.<em></em>
</p>
<p>
    <em></em>
</p>
<p>
    19. <strong>Abortions &amp; Premature Calvings. </strong>Any animal which calves prematurely or aborts (which, under current Transport Regulations, will be
all cattle that calve or show evidence of calving) must be immediately isolated and the calving reported to the DVM at the local Animal Health Office.    <em></em>
</p>
<p>
    <strong><em></em></strong>
</p>
<p>
    <strong>20. </strong>
    <strong>Welfare<em></em></strong>
</p>
<p>
    (i) <strong>Hoses</strong>: Only low-pressure hoses can be used for the washing of cattle.
</p>
<p>
    <em></em>
</p>
<p>
    21. <strong>ADMISSION AND DEPARTURE OF STOCK. </strong>Admission will only be permitted on production of a Cattle Passport, TB Certificate, official
    lactation record card, the breed pedigree certificate and the completed animal admission card (where applicable). Once admitted, no animal will be
permitted to leave without the written authority of the Veterinary Officer or Chief Cattle Steward, until the conclusion of the show on Thursday 3    <sup>rd</sup> July 2014. All animals arriving at the NEC should be double tagged in accordance with DEFRA rules. On entering the NEC, whilst there, and
    upon leaving, each animal must have a halter and be led by a stock attendant.
</p>
<p>
    22. The Organiser reserves the right to refuse admission of an entry on arrival at the Showground should they consider this necessary.
</p>
<p>
    <strong>23. </strong>
    <strong>Please note that ALL Competitive Dairy Cattle need to arrive on</strong>
    <strong>Monday 30<sup>th</sup> June 2014 between 0900 - 1800 hrs.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>24. </strong>
    <strong>Please note that ALL Competitive Beef Cattle and Sheep need to arrive on</strong>
    <strong>Tuesday 1<sup>st</sup> July 2014 between 0900 - 1800 hrs. </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    25. Cattle trucks and livestock trailers will be admitted to the Event area for the collection of animals from 1700hrs on Thursday 3<sup>rd</sup> July
    2014. Cattle and sheep must remain in their stalls or pens until 1700 hrs on Thursday. A parking area will be reserved for vehicles bringing stock to the
    Event and all stock vehicles MUST be parked in this area.
</p>
<p>
    26. <strong>MILK. </strong>The milking parlour will be open for the duration of the show.
</p>
<p>
    All animals must be machine-milked. Exhibitors must provide their own milking units for use at the Event and will be responsible for their care, operation
    and cleanliness at all times. Portable milking machines are not allowed. Provision will not be made for the use of electronic pulsation milking equipment.
    No milk may be taken from the Bulk Tank.
</p>
<p>
    Any exhibitor or his agent who in the opinion of the Society has delivered milk to the dairy containing anti-biotic or any other foreign substance without
    declaring such to the Dairy Steward in charge shall be liable to compensate the RABDF for all the milk contaminated by such delivery.
</p>
<p>
    <strong>27. </strong>
    <strong>
        No Children (Under the age of 13) will be allowed in the event building during build up or break down, including whilst livestock is being unloaded or
        loaded.
    </strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>28. </strong>
    <strong>Children under the age of 13 are only allowed in the Livestock Hall on the Show days - 2<sup>nd</sup> &amp; 3<sup>rd</sup> July 2014.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>29. </strong>
    <strong>Wheelchairs or perambulators will only be allowed in the stock lines at certain times.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>30. </strong>
    <strong>Condition of entry: All exhibitors' names and addresses will be printed in the catalogue.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>31. </strong>
    <strong>All prize winners must be available for photographs for the press as requested.</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>DISCLAIMER<em></em></strong>
</p>
<p>
    <em>a. </em>
    <em>
        The Organiser at their absolute discretion and without assigning any reason therefore, may refuse an application for stalling or penning or cancel any
        application already accepted. Whenever, under this Regulation, any application is refused or cancelled, the fees paid for such may, at the discretion
        of the Organiser, be refunded, and if refunded, shall be accepted by the exhibitor or intending exhibitor in full satisfaction of all claims against
        the Organiser.
    </em>
</p>
<p>
    <em>b. </em>
    <em>
        Exhibitors will be held responsible for the conduct and behaviour of their employees and agents, prior during and following the Livestock Event.
        Exhibitors will also be held responsible for any damage caused by their contractors, agents or staff.
    </em>
</p>
<p>
    <em>c. </em>
    <em>
        Exhibitors must carry out the requirements and instructions of any one of the following: the Chief Executive, the Chief Event Steward, the Event Safety
        Officer, the Event Director or the Event Livestock Coordinator.
    </em>
</p>
<p>
    <em>d. </em>
    <em>
        No Exhibitor shall be permitted to sell or exhibit any article which (i) has not been duly notified to or (ii) to which reasonable objection is taken
        by the Chief Executive, the Chief Event Steward, the Event Safety officer, the Event Director or the Event Livestock Coordinator. Where this rule is
        infringed the Organiser may close the stand on which such prohibited articles shall have been offered for sale or exhibited.
    </em>
</p>
<p>
    <em>e. </em>
    <em>
        The Organiser will not be liable or responsible for loss or damage to or safety of any exhibits, stalls, stands, crates, boxes or any other property of
        exhibitors, whilst at the Livestock Event or during transit, and any injury or damage thereto must be borne by exhibitors who, without limiting their
        obligation to take out insurance cover for such risks as they consider appropriate, must effect their own insurance against all such risks.
    </em>
</p>
<p>
    <em>f. </em>
    <em>
        The Organiser will not be liable or responsible to any exhibitor for any injury, damage or loss occasioned by or arising out of the holding of the
        Livestock Event, or occasioned by or arising out of the act or default of any person on attendance or present threat (save for death or personal injury
        to the exhibitor or agents or contractors or other invitees of the exhibitor arising from the negligence of the organiser), or for any mistake in
        application or entry form in the Show Guide of the Livestock Event.
    </em>
</p>
<p>
    <em>g. </em>
    <em>
        The Organiser will not be liable or responsible for any injury, damage or loss occasioned by or arising in any way out of any exhibit, machinery or
        battle belonging to any exhibitor. Each exhibitor shall hold the organiser harmless and indemnify and keep them indemnified against such injury, damage
        or loss, charges, expenses (including loss of profits and consequential loss) and legal proceedings in connection therewith.
    </em>
</p>
<p>
    <em>h. </em>
    <em>
        If any part of this regulation is held by any competent authority to be invalid or unenforceable in whole or in part, the validity of the other
        provisions of these regulations and the remainder of the provision in question shall not be affected.
    </em>
</p>
<p>
    <em></em>
</p>
<p>
    32. Acceptance of these regulations will be a condition of entry and it is the responsibility of exhibitors to ensure that they understand and comply with
    these regulations.
</p>
<p>
    33. The Organiser shall not be liable to any exhibitor or be deemed to be in breach of any contract with an exhibitor by reason of any delay in performing,
    or in any failure to perform, any of the Organisers' obligations in relation to the Livestock Event if the delay or failure was due to any reason beyond
    the Organisers reasonable control. Without prejudice to the generality of the foregoing the following should be regarded as causes beyond the Organisers
    reasonable control: -
</p>
<p>
    <em></em>
</p>
<p>
    (i) <em>Acts of God, explosion, flood, tempest, fire or accident;</em>
</p>
<p>
    (ii) <em>Acts, restrictions, regulation, byelaws, prohibitions or measures of any kind on the part of Governmental, Parliamentary or Local Authority;</em>
</p>
<p>
    (iii) <em>Import or Export regulations or embargoes;</em>
</p>
<p>
    (iv) <em>Strike, lockouts or other industrial actions or trade disputes (whether involving employees of the Organiser or a third party);</em>
</p>
<p>
    (v) <em>Difficulties in obtaining raw materials, labour, fuel, parts or machinery.</em>
</p>
