<h2>Sheep Maedi Visna (MV) Accreditation Scheme</h2>

<p>All sheep coming to the Livestock Event or the National Lleyn Sheep Competition must be MV Accredited and must be accompanied by the relevant documentation. </p> 

<p>All sheep coming to the Livestock Event must carry their UK tag and be accompanied by the relevant movement licence.</p>
