<div class="tabs row">
  <div class="tab currentTab small-6 columns">
    <a href="#" data-orbit-link="rabdf_1">
      
      <div class="tabText">
        about the RABDF
      </div>
    </a>
  </div>
  <div class="tab small-6 columns">
    <a href="#" data-orbit-link="rabdf_2">
      
      <div class="tabText">
        RABDF membership
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="rabdf_1">
    <div class="row">
    	<div class="small-12 columns">
         <p>The Royal Association of British Dairy Farmers is the only independent, specialist sectoral body dedicated to representing the interests of practical British dairy farmers. We are striving to ensure a more viable and sustainable future for British dairy farming. With the increasing legislation and financial constraints facing the industry, our role is more vital than ever.</p>
          
         <p>Our voice has to be strong if it is to be heard. We want every dairy farmer in the Britain to become a member of our association. The more members we have the greater our impetus, which will in turn improve our chances of making sure your voice is heard wherever it can have influence.</p>
          
         <p>Alongside our lobbying activities, the RABDF also run an annual programme of events designed to provide dairy farmers with opportunities for technology and knowledge transfer. There is no greater example of this than the Livestock Event, which we organise in July each year in order to provide dairy farmers with a unique forum for sector specific information exchange. Our members receive two free tickets to Livestock Event each year amongst many other substantial benefits. </p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns small-centered vertWrap">
        <div class="vertElement">
          <a href="http://www.rabdf.co.uk" target="_blank" class="button callToAction"><span class="icon-handshake"></span></a>
          <span class="buttonLabel">rabdf website</span>
        </div>
      </div>   
    </div>
  </li>
  <li data-orbit-slide="rabdf_2">
    <div class="row">
      <div class="small-12 columns">
         <p>There are several RABDF membership categories designed to meet the needs of members. The benefits an individual receives vary according to the category of membership they choose.</p>

        <p>How to join RABDF - To take advantage of any of the below please contact the RABDF on 0845 458 2711 or e-mail <a href="mailto:emilyrowley@rabdf.co.uk" class="inlineLink">emilyrowley@rabdf.co.uk</a>. Alternatively, simply download the appropriate membership form below and return to RABDF, Unit 31, Abbey Park, Stareton, Kenilworth, Warwickshire, CV8 2LY.</p>

         <img src="<%= asset_path('rabdf-membership-levels.png') %>" class="centralImg"></img>

         <p>Download your Membership Application Form <a target="_blank" href="http://www.rabdf.co.uk/membership" class="inlineLink">here</a>.</p>

         <p class="afterthought">* Free entrance to Livestock Event will be by ticket only. Your membership card alone will not gain you admittance to the Event. Members will receive their allocation of free tickets with the pre Event edition of Milk Digest. These tickets must be produced at the gate. </p>

         <p class="afterthought">** The option to buy a further three tickets to Livestock Event at a reduced rate. Reduced rate tickets can be purchased online by using your membership number.</p>
      </div>
    </div>
  </li>
</ul>
