<div class="tabs row">
  <div class="tab currentTab small-12 columns">
    <a href="#" data-orbit-link="rabdf_1">
      
      <div class="tabText">
        Field Farm Tours
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="rabdf_1">
    <div class="row">
    	<div class="small-12 columns">
         <p>Field Farm Tours, in association with the organisers of the Livestock Event, have negotiated the best possible hotel prices for the duration of the show.  Field Farm Tours are a specialist travel company for the agricultural industry, whose products including outbound international farming tours, agricultural events in the UK and abroad and bespoke agricultural study tour design.  They have negotiated excellent accommodation rates at the <a class="inlineLink" href="http://www.fieldfarmtours.co.uk/uploads/tours/307_livestockevent.pdf" target="_blank">following hotels</a>.</p>
          
         <p>You can make a booking at any of the above hotels by completing <a class="inlineLink" href="http://www.fieldfarmtours.co.uk/uploads/tours/306_booking-form-events-atol.pdf" target="_blank">this booking form</a> and returning it to Farm Field tours by either post or fax.</p>
      </div>
    </div>
  </li>
</ul>
