<div class="tabs row">
  <div class="tab currentTab small-6 columns">
    <a href="#" data-orbit-link="rabdf_1">
      
      <div class="tabText">
        <span class="largeText">{{controllers.application.siteContent.awardsOneName}}</span>
        <span class="smallText">Prince Philip</span>
      </div>
    </a>
  </div>
  <div class="tab small-6 columns">
    <a href="#" data-orbit-link="rabdf_2">
      
      <div class="tabText">
        <span class="largeText">{{controllers.application.siteContent.awardsTwoName}}</span>
        <span class="smallText">Machinery & Eqpt.</span>
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="rabdf_1">
    <div class="row">
    	<div class="small-12 columns">

      {{{controllers.application.siteContent.awardsOneAbout}}}

<h2>last year</h2><div class="row"><div class="large-6 small-12 columns">
{{{controllers.application.siteContent.awardsOneLastyear}}}
</div>
  <div class="large-6 small-12 columns">
           <img {{bind-attr src="controllers.application.siteContent.awardsOneLastyearImageUrl"}}> 
           <div class="caption textRight">Milkrite receiving the Award</div> 
  </div>
</div>
         
         

         <h3>Conditions</h3>

         {{{controllers.application.siteContent.awardsOneConditions}}}

         <p>For further information on how to apply, contact Wendy Griffin via email (<a href="mailto:wendygriffin@rabdf.co.uk">wendygriffin@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns small-centered vertWrap">
        <div class="vertElement">
          <a href="http://www.rabdf.co.uk" target="_blank" class="button callToAction"><span class="icon-handshake"></span></a>
          <span class="buttonLabel">rabdf website</span>
        </div>
      </div>   
    </div>
  </li>
  <li data-orbit-slide="rabdf_2">
    <div class="row">
      <div class="small-12 columns">
        
        {{{controllers.application.siteContent.awardsTwoAbout}}}

        <h2>last year</h2>

        <div class="row">
          <div class="large-6 small-12 columns">
          {{{controllers.application.siteContent.awardsTwoLastyear}}}
          </div>
          <div class="large-6 small-12 columns">
                     <img {{bind-attr src="controllers.application.siteContent.awardsTwoLastyearImageUrl"}}> 
                     <div class="caption textRight">GSAH receiving the Award</div> 
          </div>
        </div>

        <p>For further information on how to apply, contact Wendy Griffin via email (<a href="mailto:wendygriffin@rabdf.co.uk">wendygriffin@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
      </div>
    </div>
  </li>
</ul>
