<div class="tabs row">
  <div class="tab currentTab small-6 columns">
    <a href="#" data-orbit-link="rabdf_1">
      
      <div class="tabText">
        <span class="largeText">Prince Philip Award</span>
        <span class="smallText">Prince Philip</span>
      </div>
    </a>
  </div>
  <div class="tab small-6 columns">
    <a href="#" data-orbit-link="rabdf_2">
      
      <div class="tabText">
        <span class="largeText">Machinery & Equipment Award</span>
        <span class="smallText">Machinery & Eqpt.</span>
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="rabdf_1">
    <div class="row">
    	<div class="small-12 columns">

      <h2>RABDF Prince Philip Award at the Livestock Event</h2>

         <p><strong>The Prince Philip Award is for research 
and development in the field of dairy 
farming and is awarded for the most 
practical, relevant and best presented 
technical exhibit/demonstration at the 
Livestock Event in 2014.</strong></p>

         <p>To commemorate his Presidency of The Royal 
Association of British Dairy Farmers from 1973-1975, 
The Prince Philip Award was created. The award 
for the most practical, relevant and best presented 
technical exhibit/demonstration at the Livestock 
Event in 2014, takes the form of a framed certificate 
specially designed for the award, signed personally 
by His Royal Highness and is to be retained by the 
winning entrants.</p>

         <h2>Basis of the Award</h2>

         <p>Entries considered by the Judges to be of sufficient merit will each receive a Finalist Certificate and the winners of these Certificates will compete for The Prince Philip Award.</p>

         <h2>last year</h2>

<div class="row">
  <div class="large-6 small-12 columns">
               <p><strong>Milkrite</strong> were presented with the RABDF 
      Prince Philip Award 2013 for their ‘ImpulseAir 
      IP20 Teat Cup’. The judges saw this as a product 
      which would add practical value and is available to all 
      dairy farmers in the UK.</p>
  </div>
  <div class="large-6 small-12 columns">
           <img src="https://dl.dropboxusercontent.com/u/57653232/hosted%20files%20for%20rabdf%20do%20not%20delete/images/small/small14.jpg"> 
           <div class="caption textRight">Milkrite receiving the Award</div> 
  </div>
</div>
         
         

         <h3>Conditions</h3>

         <p>The competition is open to any individual, research centre, educational establishment, agricultural organisation or trade exhibitor staging a specific demonstration/exhibit at Livestock Event (provided that their entry complies with the conditions of the Competition).</p>

         <p>Exhibitors making a claim for a new development/product must produce evidence/trial results for the Judges to evaluate. Any exhibitor may only make a single entry. Information on all exhibits must be submitted to The Event Organisers for confirmation of eligibility. Should the number of Entries exceed twelve, the judges reserve the right to draw up a ‘shortlist’, based upon the information and written descriptions submitted at entry. <i>Closing date for entries is May 2014</i>.</p>

         <p>The entrants selected for the ‘shortlist’ will be judged at Livestock Event with the results announced and Certificates presented at the Event.</p>

          

         <p>Entries, for which no fee is payable, must be submitted on the official Entry Form and signed by a senior representative of the organisation concerned. Each entry must be accompanied by five copies of a detailed description of the Exhibit (not exceeding 200 words). The Judges appointed by the Organisers will have a spread of expertise and knowledge covering practical dairy farming, research and development work, education and the commercial application and presentation of products. They will not be associated in any way with the entrants or their exhibits.</p>

        <p>The Judges will award points as hereunder:</p>

         <ul>

         <li>Contents of the exhibit insofar as it promotes sound agricultural practice or technique in any aspect of dairy farming.   <span>35 points</span></li>
                  <li>Effectiveness of presentation in attracting attention and communicating the principle, practice or system being promoted.   <span>20 points</span></li>
                  <li>Innovatory aspects of the demonstration (introduction of new ideas, systems, or principles).  <span>15 points</span></li>
                  <li>Effectiveness of supporting literature or material available.   <span>10 points</span></li>
                  <li>Use made of space allocated   <span>10 points</span></li>
                  <li>Availability and ability of attendant staff to present, explain and answer questions.   <span>10 points</span></li>
                  <li>TOTAL   <span>100 points</span></li>

          </ul>
         <p>For further information on how to apply, contact Wendy Griffin via email (<a href="mailto:wendygriffin@rabdf.co.uk">wendygriffin@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns small-centered vertWrap">
        <div class="vertElement">
          <a href="http://www.rabdf.co.uk" target="_blank" class="button callToAction"><span class="icon-handshake"></span></a>
          <span class="buttonLabel">rabdf website</span>
        </div>
      </div>   
    </div>
  </li>
  <li data-orbit-slide="rabdf_2">
    <div class="row">
      <div class="small-12 columns">
        <h2>RABDF Machinery and Equipment Award at the Livestock Event</h2>

         <p><strong>The RABDF Livestock Machinery and 
Equipment Award recognises the 
importance of machinery and equipment 
to the current and future profitability of 
the livestock farming industry.</strong></p>

                 <p>The RABDF Livestock Machinery Award will be 
presented for the item of machinery or equipment 
which is, or likely to be, of most economic 
importance to the livestock industry. The award 
takes the form of a silver trophy which the winner 
keeps until the following year, together with a framed 
certificate specially designed for the award, signed by 
the President of the Association and retained by the 
winner</p>

                 <h2>Basis of the Award</h2>

                 <p>Entries considered by the Judges to be of sufficient merit will each receive a Finalist Certificate and the winners of these Certificates will compete for The Prince Philip Award.</p>

                 <h2>last year</h2>

        <div class="row">
          <div class="large-6 small-12 columns">
                       <p><strong>G Shepherd Animal Health</strong> received the 2013 RABDF 
Livestock Machinery and Equipment Award for their 
‘Milkworks Gold Colostrum Pasteurizer’. The judges 
were impressed with the simple to use system which 
can potentially deliver much improved herd health. 
The machine also incorporates defrosting and cooling 
capability using disposable bags which maximize the 
hygiene for each calf while minimizing the labour involved.</p>
          </div>
          <div class="large-6 small-12 columns">
                     <img src="https://dl.dropboxusercontent.com/u/57653232/hosted%20files%20for%20rabdf%20do%20not%20delete/images/small/small19.jpg"> 
                     <div class="caption textRight">GSAH receiving the Award</div> 
          </div>
        </div>

        <p>For further information on how to apply, contact Wendy Griffin via email (<a href="mailto:wendygriffin@rabdf.co.uk">wendygriffin@rabdf.co.uk</a>) or phone (<a href="tel:08454582711">0845 458 2711</a>).</p>
      </div>
    </div>
  </li>
</ul>
