<div class="tabs row">
  <div class="tab currentTab small-3 columns">
    <a href="#" data-orbit-link="why_1">
      
      <div class="tabText">
        why exhibit?
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_2">
      
      <div class="tabText">
        <span class="largeText">sponsorship & supporter packages</span>
        <span class="smallText">support</span>
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_3">
      
      <div class="tabText">
        <span class="largeText">seminar sponsorship opportunities</span>
        <span class="smallText">seminars</span>
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="why_4">
      
      <div class="tabText">
        <span class="largeText">advertising opportunities</span>
        <span class="smallText">ads</span>
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="why_1">
    <div class="row">
      <div class="large-9 small-12 columns">
       <p>Doing business and obtaining quality enquiries is really what the Livestock Event is all about.  Farmers come with lists of products to see and people to meet, as well as to spend time learning about new ideas and products that will help make their enterprises more profitable.</p>
        
       <p>The Livestock Event gives your company the opportunity to market the full range of your livestock products to an audience of approx 16,000 visitors comprising of Beef, Dairy and Sheep Farmers together with an increasing number with Pig and Poultry enterprises.</p>
        
       <p>63% of farmer visitors have more than one enterprise giving you the opportunity to create more new business than at a single species event.</p>
        
       <p>This premier business to business event will be strongly promoted to all UK and Irish livestock farmers, as well as those internationally and offers a fantastic opportunity for companies selling across species to increase their order and enquiry levels from just one event.  So if you sell products or provide services to livestock farmers or can give advice as to how to go into dairy, beef, sheep, goat, pig or poultry farming, we recommend you book space early. We look forward to working with you to make the event a great success.</p>
        
       <p>Exhibiting at the Livestock Event allows you to:</p>

       <ul>
         <li>Showcase your services and products</li>
         <li>Generate sales leads</li>
         <li>Close sales</li>
         <li>Build your customer base – generate new business leads and cultivate existing customer relationships</li>
         <li>Cross-sell into other enterprises</li>
         <li>Increase brand awareness</li>
         <li>Generate publicity</li>
         <li>Launch new products</li>
         <li>Conduct market research</li>
         <li>Focus your marketing activity</li>
         <li>Build your business </li>
       </ul>
      </div>
      <div class="large-3 small-12 columns">
        {{partial "quick_actions"}}
      </div>
    </div>
  </li>
  <li data-orbit-slide="why_2">
  <div class="row">
        <div class="large-9 small-12 columns">
                    <p>We have opportunities available for your company to become a sponsor or supporter of the Livestock Event.</p>
                     
                    <p>Zone & features available for sponsorship / support are as follows:</p>
                    <h2>zones</h2>
                    <ul>
                      <li>Animal Health Zone</li>
                      <li>Business Management</li>
                      <li>Diversifarm & Renewables</li>
                      <li>Feeds & Forage</li>
                      <li>Genetics</li>
                      <li>Livestock Equipment & Machinery</li>
                      <li>Machinery Hall</li>
                      <li>Milking</li>
                      <li>Milkmade</li>
                      <li>Slurry, Muck & Irrigation</li>
                    </ul>


           
          <h2>Features</h2>
          <ul>
          <li>UTV Test Drives</li>
          <li>4x4 Test Drives</li>
          <li>Pig & Poultry</li>
          </ul>

            <p>All proposals will be bespoke to suit your marketing & event requirements.  For further information on availability and cost please contact Kate Jones on 0845 458 2711 or by e-mail <a class="inlineLink" href="mailto:katejones@rabdf.co.uk">katejones@rabdf.co.uk</a>.</p>
        </div>
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_media"}}
        </div>
      </div>
  </li>
  <li data-orbit-slide="why_3">
    <div class="row">
        <div class="large-9 small-12 columns">
         <p>The Livestock Event features four seminar areas focussing on specific topics relevant to the industry. Seminars run over both Event days and are a popular feature for visitors.</p>
          
         <p>Sponsorship opportunities are available within each of the following areas:</p>
         <ul>
           <li>Farm Health Planning Seminars</li>
           <li>Feed Science Forums</li>
           <li>Business Debates</li>
           <li>Careers in Agriculture.</li>
         </ul>

        <p> These are an excellent opportunity to promote your company or product and engage with visitors from across the livestock industry.</p>
         
        </div>  
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_sponsorship"}}
        </div>
    </div>
  </li>
  <li data-orbit-slide="why_4">
   <div class="row">
        <div class="large-9 small-12 columns">
          <p>To help enhance your presence at the Event, we have a number of Media site opportunities available to purchase. These sites are a great way to build your brand, advertise your products and promote your stand location to all visitors in and around the Event. For full details, please see the attached Media Site brochure.</p>
          <a class="inlineLink" target="_blank" href="https://www.dropbox.com/s/ee0uq2quyk6zyaj/media_opportunities.pptx">Media Site Opportunities</a> <span class="afterthought">(PowerPoint file, click to download)</span>
        </div>
        <div class="large-3 small-12 columns">
          {{partial "quick_actions_media"}}
        </div>
    </div>
  </li>
</ul>
