
		<strong>Please make cheques payable to <em>RABDF Events</em> and return along with this form to:</strong>


           <div class="small-10 noBorder mt20 small-centered columns">
             <div id="hcard-Sian-Mercer" class="vcard">
              <a class="url fn" href="http://www.livestockevent.co.uk">Sian Mercer</a>
              <div class="org">RABDF Events Ltd.</div>
              <div class="adr">
               <div class="street-address">Stoneleigh Deer Park Business Village</div>
               <span class="locality">Kenilworth</span>
             , 
               <span class="region">Warwickshire</span>
             , 
               <span class="postal-code">CV8 2LY</span>

               <span class="country-name">United Kingdom</span>

              </div>
           </div>




		<p>I agree to abide by the 'RABDF Rules and Regulations for Showing Bovine Animals and Standard Procedures and Penalties for Enforcement' at the National Charolais Show, and enclose my remittance for <span class="grand_total">£........</span> made payable to <b>RABDF Events</b>.</p>


<div class="row">
  <div class="small-4 columns">
    <em>Name</em>
  </div>
  <div class="small-1 noBorder columns">&nbsp;</div>
  <div class="small-3 columns">
    <em>Signature</em>
  </div>
  <div class="small-1 noBorder columns">&nbsp;</div>
  <div class="small-3 columns">
    <em>Date</em>
  </div>
  
</div>