<div class="tabs row">
  <div class="tab currentTab small-3 columns">
    <a href="#" data-orbit-link="stats_1">
      <div class="tabIcon">
        <span class="icon-fontawesome-group">
      </div>
      <div class="tabText">
        weekly visits
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="stats_2">
      <div class="tabIcon">
        <span class="icon-cloud-upload">
      </div>
      <div class="tabText">
        by browser
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="stats_3">
      <div class="tabIcon">
        <span class="icon-location">
      </div>
      <div class="tabText">
        by location
      </div>
    </a>
  </div>
  <div class="tab small-3 columns">
    <a href="#" data-orbit-link="stats_4">
      <div class="tabIcon">
        <span class="icon-help">
      </div>
      <div class="tabText">
        help
      </div>
    </a>
  </div>
</div>

<ul data-orbit>
  <li data-orbit-slide="stats_1">
    <div class="row">
    	<div class="small-12 columns">
        <div id="analyticsTimeline" class="disparu" data-oochart='timeline' data-oochart-start-date='7d' data-oochart-metrics='ga:visits,Visits,ga:newVisits,New Visits' data-oochart-profile='77681769'></div>
    </div>
  </li>
  <li data-orbit-slide="stats_2">
  <div class="row">
    <div class="small-12 columns">
      <div data-oochart='pie' data-oochart-start-date='30d' data-oochart-metric='ga:visits,Visits' data-oochart-dimension='ga:browser' data-oochart-profile='77681769'></div>
    </div>
  </div>
  </li>
  <li data-orbit-slide="stats_3">
    <div class="row">
        <div class="small-12 columns">
          <div data-oochart='table' data-oochart-start-date='30d' data-oochart-metrics='ga:visits,Visits' data-oochart-dimensions='ga:city,City' data-oochart-profile='77681769'></div>
        </div>
      </div>
  </li>
  <li data-orbit-slide="stats_4">
   <div class="row">
       <div class="small-12 columns">
          <p>These real-time analytics are sourced from Google Analytics.</p>
          <p>There are <span data-oochart='metric' data-oochart-metric='ga:newVisits' data-oochart-start-date='30d' data-oochart-profile='77681769'></span> people using the site right now.</p>
       </div>
     </div>
  </li>
</ul>
