

<div class="flipper">
	<div {{bind-attr class=":front view.flipped:flipped"}}>
		<span class="tile-title">about<span class="flipLink"><span {{action toggleFlip target="view"}} class="icon-forward rabdfblue"></span></span></span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'rabdf' class="button callToAction"}}<span class="icon-cow"></span>{{/link-to}}
					<span class="buttonLabel">about rabdf</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'awards' class="button callToAction"}}<span class="icon-award"></span>{{/link-to}}
					<span class="buttonLabel">awards</span>
				</div>
			</div>
		</div>
	</div>
	<div {{bind-attr class=":back view.flipped:flipped"}}>
			<span class="tile-title">about<span class="flipLink"><span {{action toggleFlip target="view"}} class="icon-back rabdfblue"></span></span></span>
			<div class="row buttonContent">
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						{{#link-to 'past' class="button callToAction"}}<span class="icon-calendar"></span>{{/link-to}}
						<span class="buttonLabel">last year</span>
					</div>
				</div>
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						{{#link-to 'supporters' class="button callToAction"}}<span class="icon-handshake"></span>{{/link-to}}
						<span class="buttonLabel">supporters</span>
					</div>
				</div>	
			</div>
		</div>
</div>