<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'orders' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}checkout</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      <form {{action pay target="controller"}} method="POST">
        <script
          src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
          data-key="pk_test_czwzkTp2tactuLOEOqbMTRzG"
          data-amount="2000"
          data-name="Demo Site"
          data-description="2 widgets ($20.00)"
          data-image="/128x128.png">
        </script>
      </form>
    </div>
  </div>
  <div class="back">
    
  </div>
</div>

