<div class="flipper">
	<div {{bind-attr class=":front view.flipped:flipped"}}>
		<span class="tile-title contractorTitle">contractors</span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					<a {{action toggleFlip target="view"}} class="button callToAction"><span class="icon-clock"></span></a>
					<span class="buttonLabel">timescales</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'contractors.index' class="button callToAction"}}<span class="icon-eye"></span>{{/link-to}}
					<span class="buttonLabel">contractor list</span>
				</div>
			</div>
		</div>
	</div>
	<div {{bind-attr class=":back view.flipped:flipped"}}>
	<span class="flipLink"><span {{action toggleFlip target="view"}} class="icon-back rabdfblue"></span></span>
		<div class="row staticContent">
	        <div class="carouTabs vertical contentRight carouBlock">
	    
			    <div class="carouTab activeCarou">
			       	<div class="carouTabTitle">build up</div>
			       
			       <div class="carouContent">
			       		<ul>
			       			 <li>Sun 29th June 8am - 10pm</li>
			       				<li>Mon 30th June 8am - 10pm</li>
			       				<li>Tues 1st July 8am - 10pm</li>
			       		</ul>
			             
			       </div> 
		 	    </div>
			    
			    <div class="carouTab">
			        <div class="carouTabTitle">break down</div>
			       
			       <div class="carouContent">
			       		<ul>
			       			 <li>Thurs 3rd July 6:30pm - 9pm</li>
			       				<li>Fri 4th July 8am - 9pm</li>
			       				<li>Sat 5th July 8am - Midday</li>
			       		</ul>
			            
			       </div> 
			    </div>
			</div>
		</div>
	</div>
</div>