<div class="flipper">
	<div class="front">
		<span class="tile-title contractorTitle">contractors</span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					<a id="contractorTimescales" class="button callToAction"><span class="icon-clock"></span></a>
					<span class="buttonLabel">timescales</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'contractors.index' class="button callToAction"}}<span class="icon-eye"></span>{{/link-to}}
					<span class="buttonLabel">contractor list</span>
				</div>
			</div>
		</div>
	</div>
	<div class="back">
		<a class="closeButton" id="contractors-closeButton"><span class="icon-close-alt"></span></a>
		<div class="row staticContent">
	        <div class="carouTabs vertical contentRight carouBlock">
	    
			    <div class="carouTab activeCarou">
			       	<div class="carouTabTitle">build up</div>
			       
			       <div class="carouContent">
			       		<ul>
			       			 <li>Sunday 29th June 8am - 10pm</li>
			       				<li>Monday 30th June 8am - 10pm</li>
			       				<li>Tuesday 1st July 8am - 10pm</li>
			       		</ul>
			             
			       </div> 
		 	    </div>
			    
			    <div class="carouTab">
			        <div class="carouTabTitle">break down</div>
			       
			       <div class="carouContent">
			       		<ul>
			       			 <li>Thursday 3rd July 6:30pm - 9pm</li>
			       				<li>Friday 4th July 8am - 9pm</li>
			       				<li>Saturday 5th July 8am - Midday</li>
			       		</ul>
			            
			       </div> 
			    </div>
			</div>
		</div>
	</div>
</div>