<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}visitor demographics</span>
		<div class="tile-content">
			<div class="row chartsRow">
				<div class="large-4 small-6 columns">
					<div class="row chartHolder">
						<img src="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/pie_charts/pie.png" height="140px" width="140px">
					</div>
					<div class="row chartSpiel">
						<h2>89% found what they came for</h2>
						<ul class="pieLegend">
							<li class="pieKey"><span class="colorKey col1"></span>Found <span>89%</span></li>
							<li class="pieKey"><span class="colorKey col2"></span>Not found <span>11%</span></li>
						</ul>
					</div>
				</div>
				<div class="large-4 small-6 columns">
					<div class="row chartHolder">
						<img src="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/pie_charts/pie.png" height="140px" width="140px">
					</div>
					<div class="row chartSpiel">
						<h2>88% will re-visit in 2014</h2>
						<ul class="pieLegend">
							<li class="pieKey"><span class="colorKey col1"></span>Coming 2014 <span>88%</span></li>
							<li class="pieKey"><span class="colorKey col2"></span>Undecided <span>12%</span></li>
						</ul>
					</div>
				</div>
				<div class="large-4 small-6 columns">
					<div class="row chartHolder">
						<img src="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/pie_charts/visitor_type.png" height="140px" width="140px">
					</div>
					<div class="row chartSpiel">
						<h2>69% of visitors were from farms</h2>
						<ul class="pieLegend">
							<li class="pieKey"><span class="colorKey col1"></span>Farmer <span>53%</span></li>
							<li class="pieKey"><span class="colorKey col4"></span>Farm Manager <span>8%</span></li>
							<li class="pieKey"><span class="colorKey col5"></span>Stock Person <span>8%</span></li>
							<li class="pieKey"><span class="colorKey col6"></span>Student <span>11%</span></li>
							<li class="pieKey"><span class="colorKey col7"></span>Vet <span>4%</span></li>
							<li class="pieKey"><span class="colorKey col1"></span>Trade Supplier <span>10%</span></li>
							<li class="pieKey"><span class="colorKey col8"></span>Consultant <span>4%</span></li>
							<li class="pieKey"><span class="colorKey col9"></span>Other <span>2%</span></li>
						</ul>
					</div>
				</div>
				<!-- <div class="large-3 small-6 columns">
					<div class="row chartHolder">
						<img src="https://dl.dropboxusercontent.com/u/57653232/Hosted%20files%20for%20RABDF%20DO%20NOT%20DELETE/pie_charts/exhibitor_profile.png" height="140px" width="140px">
					</div>
					<div class="row chartSpiel">
						<h2>exhibition species</h2>
						<ul class="pieLegend">
							<li class="pieKey"><span class="colorKey col2"></span>Beef <span>17%</span></li>
							<li class="pieKey"><span class="colorKey col5"></span>Dairy <span>33%</span></li>
							<li class="pieKey"><span class="colorKey col4"></span>Goats <span>6%</span></li>
							<li class="pieKey"><span class="colorKey col1"></span>Pigs <span>10%</span></li>
							<li class="pieKey"><span class="colorKey col7"></span>Poultry <span>8%</span></li>
							<li class="pieKey"><span class="colorKey col9"></span>Sheep <span>11%</span></li>
							<li class="pieKey"><span class="colorKey col2"></span>Non-specific <span>14%</span></li>
							<li class="pieKey"><span class="colorKey col1"></span>No Reply <span>2%</span></li>
						</ul>
					</div>
				</div> -->
				
				
			</div>
		</div>
	</div>
</div>