<div class="flipper">
	<div class="front">
		<span class="tile-title">why exhibit at the livestock event?</span>
		<div class="tile-content">
		<div class="row">
		<div class="small-12 columns">
			<p>Doing business and obtaining quality enquiries is really what the Livestock Event is all about.</p>
			 
			<p>Farmers come with lists of products to see and people to meet, as well as to spend time learning about new ideas and products that will help make their enterprises more profitable.</p>
			 
			<p>Exhibitors meet a carefully targeted audience of approx 16,000 visitors comprising of Beef, Dairy and Sheep Farmers together with an increasing number with Pig and Poultry enterprises.</p>
			 
			<p>Exhibitors benefit from the opportunity for more new business than at a single species event as 63% of farmer visitors have more than one enterprise.</p>
			 
			<p>69% of visitors come from farms, with agricultural students, vets, consultants and the supply trade making up the balance.</p>
			 
			<p>So if you are looking to market your products or services to any of the above in the livestock industry, what better place to have an exhibition stand than at the UK’s largest livestock trade show.</p>
			</div>
			</div>
		</div>
	</div>
</div>