<div class="flipper">
	<div class="front">
		<span class="tile-title">why exhibit at the livestock event?</span>
		<div class="tile-content">
		<div class="row">
		<div class="small-12 columns">
			{{{controllers.application.siteContent.exhibitingText}}}
			</div>
			</div>
		</div>
	</div>
</div>