
	<div class="flipper">
		<div class="front">
			<span class="tile-title">stand space</span>
			<div class="row buttonContent">
				{{#unless controllers.application.isAuthenticated}}
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						{{#link-to "users.new" class="button callToAction"}}<span class="icon-add-icon orange"></span>{{/link-to}}
						<span class="buttonLabel">book</span>
					</div>
				</div>
				{{else}}
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						{{#link-to "bookings.new" class="button callToAction"}}<span class="icon-chevron-thick orange"></span>{{/link-to}}
						<span class="buttonLabel">my booking</span>
					</div>
				</div>
				{{/unless}}
				<div class="small-6 columns vertWrap">
					<div class="vertElement">
						{{#link-to "why-exhibit" class="button callToAction"}}<span class="icon-help orange"></span>{{/link-to}}
						<span class="buttonLabel">why exhibit?</span>
					</div>
				</div>
			</div>
		</div>
	</div>