<div>
	<div class="row footercontent">
	  <div class="large-5 medium-6 small-12 columns contactcolumn">
	    <div class="phonewrap">
	      <span class="icon-phone"></span><a class="phonenumber" href="tel:+448452582711" style="background-image: none; cursor: default; background-position: 0% 0%; background-repeat: repeat repeat;">{{controllers.application.siteContent.mainPhone}}</a>
	    </div>
	    <div class="emailwrap">
	      <span class="icon-envelope"></span><a class="email" href="mailto:office@rabdf.co.uk" style="background-image: none; cursor: default; background-position: 0% 0%; background-repeat: repeat repeat;">{{controllers.application.siteContent.mainEmail}}</a>
	    </div>
	  </div>
	  <div class="large-2 hide-for-medium small-12 columns logoscolumn">
	  	<span class="preImg">principal sponsor</span>
	  	<span class="imgWrap"><img src="<%= asset_path('barclays-white.png') %>" height="20" width="auto" /></span>
	  	<span class="copyright">&copy; RABDF Events Ltd. 2013.</span>
	  </div>
	  <div class="large-5 medium-6 small-12 columns erratacolumn">
	    <div class="addresswrap">
	      <div class="address">{{controllers.application.siteContent.mainAddress}}</div>
	    </div>
	    <div class="erratawrap">
	      <div class="errata" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">{{controllers.application.siteContent.mainErrata}}</div>
	    </div>
	    <div class="designedbywrap">
	      <div class="designedby" style="background-image: none; background-position: 0% 0%; background-repeat: repeat repeat;">Web Design and Web Development by <a href="http://www.ghostds.com">Ghost Design</a></div>
	    </div>
	  </div>
	</div>
</div>