<div class="flipper">
	<div class="front">
		<span class="tile-title">getting here</span>
		<div class="carouTabs carouPanel3 carouBottom">
		   <div class="carouTab activeCarou">
		       <div class="carouTabTitle">
		       		<span class="icon-car"></span>
		       		<label>by car</label>
		        </div>
		        <div class="carouContent">
		             <div class="row buttonContent">
		             	<div class="small-6 columns vertWrap fullTabInner">
		             		<div class="vertElement">
		             			<a href="https://www.google.co.uk/maps/preview?authuser=0#!q=The+NEC+Birmingham%2C+Birmingham&data=!4m10!1m9!4m8!1m3!1d94065!2d-1.8636315!3d52.4774376!3m2!1i1260!2i929!4f13.1" target="_blank" class="button callToAction"><span class="icon-location"></span></a>
		             			<span class="buttonLabel">see a map</span>
		             		</div>
		             	</div>
		             	<div class="small-6 columns vertWrap fullTabInner">
		             		<div class="vertElement">
		             			<a href="https://maps.google.com/maps?hq=http://maps.google.com/help/maps/directions/driving/mapleft.kml&f=d&dirflg=d" class="button callToAction" target="_blank" ><span class="icon-compass"></a>
		             			<span class="buttonLabel">get directions</span>
		             		</div>
		             	</div>
		             	
		             </div>
		       </div> 
		    </div>
		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-train"></span>
		       		<label>by train</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row buttonContent">
		            	<div class="small-6 columns vertWrap fullTabInner">
		            		<div class="vertElement">
		            			<a target="_blank"  href="http://www.thetrainline.com/nearest-station/birmingham-nec" class="button callToAction"><span class="icon-location"></span></a>
		            			<span class="buttonLabel">see stations</span>
		            		</div>
		            	</div>
		            	<div class="small-6 columns vertWrap fullTabInner">
		            		<div class="vertElement">
		            			<a target="_blank" href="http://www.thetrainline.com/Live/arrivals/birmingham-international" class="button callToAction"><span class="icon-clock"></span></a>
		            			<span class="buttonLabel">get train times</span>
		            		</div>
		            	</div>
		            	
		            </div>
       			</div> 
  			</div>
		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-plane"></span>
		       		<label>by plane</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row buttonContent">
		            	<div class="small-6 columns vertWrap fullTabInner">
		            		<div class="vertElement">
		            			<a target="_blank" href="http://www.birminghamairport.co.uk/" class="button callToAction"><span class="icon-location"></span></a>
		            			<span class="buttonLabel">see airports</span>
		            		</div>
		            	</div>
		            	<div class="small-6 columns vertWrap fullTabInner">
		            		<div class="vertElement">
		            			<a target="_blank" href="http://uk.flightaware.com/live/" class="button callToAction"><span class="icon-clock"></span></a>
		            			<span class="buttonLabel">get flight times</span>
		            		</div>
		            	</div>
		            	
		            </div>
       			</div> 
  			</div>
		</div>
	</div>
</div>