<div class="flipper">
  <div class="front">
    <span class="tile-title">contractor list</span>
    <div class="row">
      <div class="small-12 columns">
        <p>Here is a list of contractors.</p>
      </div>
    </div>
  </div>
  <div class="back">
    
  </div>
</div>