<div class="flipper">
  <div {{bind-attr class=":front view.flipped:flipped"}}>
  	<img {{bind-attr src="view.currentImage"}} />
  </div>
  <div {{bind-attr class=":back view.flipped:flipped"}}>
  	<img {{bind-attr src="view.nextImage"}} />
  </div>
</div>
