
<div class="flipper">
	<div class="front rabdfgreen">
		<span class="tile-title">Livestock Exhibitors</span>
		<div class="row buttonContent fourButtons">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'show-booking' class="button callToAction"}}<span class="icon-add-icon"></span>{{/link-to}}
					<span class="buttonLabel">Show Booking</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'schedules' class="button callToAction"}}<span class="icon-calendar"></span>{{/link-to}}
					<span class="buttonLabel">Schedules & Info</span>
				</div>
			</div>
			
		</div>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'regulations' class="button callToAction"}}<span class="icon-edit-pencil"></span>{{/link-to}}
					<span class="buttonLabel">Rules & Regs</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'results' class="button callToAction"}}<span class="icon-award"></span>{{/link-to}}
					<span class="buttonLabel">Results</span>
				</div>
			</div>	
		</div>
	</div>
</div>


