<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'show-booking' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}National Aberdeen Angus Show 2014 Cattle Stalls & Accommodation</span>
		<div class="tile-content">
				<div class="row printRow firstRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
				<div class="fullBleedHolder">
					<img src="http://aberdeen-angus.co.uk/wp-content/themes/aberdeen-angus/img/logo.png" class="fullBleed" alt="">
				</div>
				<div class="row">
					<div class="small-11 small-centered columns">
						<p><em>Please complete the form below, print, sign, and return along with the {{#link-to 'nds-entry' class="inlineLink"}}Cattle Entry{{/link-to}} booking form.</em></p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{partial 'naas_stalls_accommodation'}}
					</div>
				</div>
				<div class="row ephemera">
					<div class="small-11 small-centered columns centerText">
						{{partial 'stalls_accommodation_ephemera'}}
					</div>
				</div>
				<div class="row mt20 printRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
		</div>
	</div>
</div>