<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'show-booking' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}National Charolais Show 2014 Cattle Entry</span>
		<div class="tile-content">
				<div class="row printRow firstRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
				<div class="row">
					<div class="small-11 small-centered columns">
						<p><em>Please complete the form below, print, sign, and return along with the {{#link-to 'ncs-accommodation' class="inlineLink"}}Cattle Stall and Accommodation{{/link-to}} booking form.</em></p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{partial 'cattle_entry'}}
					</div>
				</div>
				<div class="row ephemera">
					<div class="small-11 small-centered columns">
						{{partial 'entry_ephemera'}}
					</div>
				</div>
				<div class="row printRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
		</div>
	</div>
</div>