<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'show-booking' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}National Lleyn Sheep Competition 2014 Sheep Pens & Accommodation</span>
		<div class="tile-content">
				<div class="row printRow firstRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
				<div class="fullBleedHolder">
					<img src="http://www.lleynsheep.com/graphics/Lleynlogosmall.jpg" class="fullBleed" alt="">
				</div>
				<div class="row">
					<div class="small-11 small-centered columns">
						<p><em>Please complete the form below, print, sign, and return along with a cheque for the required amount.</em></p>

						<p class="additionalInfo">Once pen bookings have been made, Heather Stoney from the Lleyn Sheep Society will contact you in regard to the animals you are entering.  If you have any queries about the animals you are entering please contact Heather on <a href="tel:07966699930">07966 699930</a>, or email her at <a href="mailto:promotions@lleynsheep.com">promotions@lleynsheep.com</a>.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						{{partial 'nlsc_stalls_accommodation'}}
					</div>
				</div>
				<div class="row ephemera">
					<div class="small-11 small-centered columns centerText">
						{{partial 'nlsc_stalls_accommodation_ephemera'}}
					</div>
				</div>
				<div class="row mt20 printRow">
				  <a class=" printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print this form</a>
				</div>
		</div>
	</div>
</div>