<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}last year</span>
    <div class="row">
      <div class="small-12 columns">
        <p>The Livestock Event attracted a record 9,130 visitors on Wednesday, day one at its NEC, Birmingham venue this week, while overall attendance was up 10% on the year at 15,740 head.
                “Rescheduling the event from its traditional September date to July has been a huge success with the visitor’s number on the first day the highest in 10 years,” says Nick Everington, chief executive of the Royal Association of British Dairy Farmers.</p>
        <p>“The main trade halls buzzed throughout, the technical demonstrations proved a huge attraction and the inaugural Careers Seminars were packed out as were the other Farm Health Planning, Feed Science Forums and Business Debates, a trend which differentiates the Livestock Event from other shows.</p>
        <p>“In addition, moving the cattle in to the trade halls was an overwhelming success with 190 dairy stalls booked and 79 stalls for the inaugural National Charolais Show. We have had nothing but praise from cattle exhibitors who enjoyed the very modern facilities and once again, we have had a clean show.”</p>
        <p>He adds: “We look forward to continuing to build on the event’s success in 2014 and creating the opportunity for all livestock farmers to get away from their farms to gain more knowledge and do business which is going to help them to progress their enterprises.”</p>
      </div>
    </div>
  </div>
  <div class="back">
    
  </div>
</div>