<div class="flipper">
	<div class="front">
		<span class="tile-title">something went wrong</span>
		<div class="tile-content">
			<div class="row">
				<div class="small-12 columns">
				<h1>We're sorry, but your payment was <strong>not</strong> successful.</h1>
				<p>You have not yet made your deposit or confirmed your booking. If you'd like to see an overview of all your bookings and orders, click the button below. If you're having problems, please contact us on 0845 458 2711.</p>
				</div>
			</div>
			<div class="row vertWrap">
				<div class="small-6 small-centered columns vertElement">
					{{#link-to 'users.show' currentUser class="button rightButton callToAction" type="submit"}}<span class="icon-tick"></span>{{/link-to}}
					<span class="buttonLabel">your account</span>
				</div>	
			</div>
		</div>
	</div>
</div>