<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}privacy policy</span>
		<div class="tile-content">
			<div class="row">
				<div class="small-12 columns">

			{{{controllers.application.siteContent.cookieInfo}}}

				</div>
			</div>
		</div>
	</div>
</div>