<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}privacy policy</span>
		<div class="tile-content">
			<div class="row">
				<div class="small-12 columns">
					<h1>INFORMATION ABOUT OUR USE OF COOKIES</h1>
					<p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide you with a good experience when you browse our website and also allows us to improve our site. By continuing to browse the site, you are agreeing to our use of cookies.</p>

					<p>A cookie is a small text file of letters and numbers that we store on your browser or the hard drive of your computer when you visit certain websites. Cookies contain information that is transferred to your computer's hard drive.</p>
					<p>Cookies are essential for us to be able to keep track of your progress through our website and allow us to remember this information for the next time you visit our website. </p>

					<p>Cookies are not programs and therefore cannot contain viruses or other malicious software.  Nor do they allow the website to interact in any way with your computer settings or files.</p>

					<p>To fully use our website, you need to have cookies enabled, but if you don't want cookies enabled, please see the Managing Cookies section for assistance on how to turn them off.</p>

					<p>We are providing this information in order to comply with recent legislation. For further information about the use of cookies, the following website is a useful independent source: <a href="http://www.aboutcookies.org" target="_blank" class="inlineLink">www.aboutcookies.org/</a></p>
					<p>If all cookies are disabled on your computer, it will mean that your experience on our website may be limited. </p>
					<p>Depending on which web browser you use it is possible to control how cookies are used, or to delete existing cookies from your computer. You can find instructions on how to control the use of cookies, or delete cookies from your computer at <a href="http://www.aboutcookies.org" target="_blank" class="inlineLink">www.aboutcookies.org</a> (this is an independent external resource; please note that we are not responsible for the content of external websites).</p>
					<p>Please remember that if you delete or restrict cookies from the website you may not be able to experience the full benefit of some of the features and services the website has to offer.</p>
					<h1>WHICH COOKIES DO WE USE?</h1>
					<p>We use the following cookies: </p>
					<ul>
						<li>Strictly necessary cookies. These are cookies that are required for the operation of our website. They include, for example, cookies that enable you to log into secure areas of our website. </li>
						<li>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our website when they are using it. This helps us to improve the way our website works, for example, by ensuring that users are finding what they are looking for easily. </li>
						<li>Functionality cookies. These are used to recognise you when you return to our website. This enables us to personalise our content for you, greet you by name and remember your preferences.</li>
						<li>Targeting cookies. These cookies record your visit to our website, the pages you have visited and the links you have followed. We will use this information to make our website and the advertising displayed on it more relevant to your interests. We may also share this information with third parties for this purpose.</li>
					</ul>
					<p>Please note that third parties (including, for example, advertising networks and providers of external services like web traffic analysis services) may also use cookies, over which we have no control. These cookies are likely to be analytical/performance cookies or targeting cookies.</p>
					<p>Except for essential cookies, all cookies will expire within 24 hours.</p>
					<p>For more information on our cookie policy, please email <a href="mailto:office@rabdf.co.uk" class="inlineLink">office@rabdf.co.uk</a>.</p>

				</div>
			</div>
		</div>
	</div>
</div>