<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}about rabdf</span>
    <span class="tile-title underTab"></span>
    <div class="row">
      {{partial "slider_tabs-top_2-tabs"}}
    </div>
  </div>
  <div class="back">
    
  </div>
</div>