<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'show-booking' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}Livestock Show Rules & Regulations</span>
		<div class="tile-content">
				<div class="row printRow firstRow">
				  <a class="printLink inlineLink noUnderline" href="javascript:window.print()"><span class="icon-printer"></span>Print these</a>
				</div>
				<div class="row">
					<div class="small-12 columns regulations">
						{{partial 'rabdf_regulations'}}
					</div>
				</div>
		</div>
	</div>
</div>