

<div class="flipper">
	<div class="front">
		<span class="tile-title">Principal Sponsor</span>
		<div class="row">
			<div class="small-12 columns">
				<a href="http://www.barclays.co.uk/Businessservices/Agriculturalbusiness/P1242573329529" target="_blank">
				<span style="text-align: center; display: block; margin-top: -83px; font-size: 16em;" class="icon-barclays-logo-full">
					
				</span>
				</a>
			</div>
		</div>
	</div>
	<div >
	</div>
</div>