<div class="flipper">
	<div class="front">
		<span class="tile-title">the uk's largest livestock trade event</span>
		<div class="carouTabs carouPanel6 carouBottom">
		   <div class="carouTab activeCarou">
		       <div class="carouTabTitle">
		       		<span class="icon-cow"></span>
		       		<label>the event</label>
		        </div>
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	
		            	<div class="large-12 small-11 small-centered large-uncentered columns sponsorText">
		            		
		            		<article>
		            		
		            			<p class="sponsorSpiel welcomeMessage">
		            				Held in the first week of July each year, the Livestock Event is the leading B2B event for the UK livestock industry. <br />
		            				<br />
		            				Principally sponsored by Barclays, we host both cattle and trade exhibitors within a 64,000sqm event area alongside working machinery demonstrations, 4 seminar areas, foot trimming demonstrations, National Dairy & Beef Shows and the National Lleyn Competition.<br />
		            				<br />
		            				The event attracts more than 460 exhibitors covering 11 unique product zones. Exhibitors are on hand during the two-day event to demonstrate all-new equipment, products and services to over 16,000 UK and International livestock farmers.
		            			</p>
		            		</article>
		            	</div>
		            </div>
		       </div> 
		    </div>
		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-barclays-logo-full largerLogo hide-for-small"></span>
		       		<span class="icon-barclays largerLogo show-for-small"></span>
		       		<label>barclays</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            		<div class="imgWrap vertElement"><a href="http://www.barclays.co.uk/" target="_blank"><span class=" sponsorIcon icon-barclays-logo-full"></span></a></div>
		            		
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2>Principal Sponsor</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				 Proud Principal Sponsor of the Livestock Event. Having supported agriculture for more than 250 years, we continually invest in our teams to ensure they understand and meet your needs now and in the future. We look forward to seeing you at the event.
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

		     <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-dairyco-logo"></span>
		       		<label>dairyco</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            		<div class="imgWrap vertElement"><a href="http://www.dairyco.org.uk/" target="_blank"><span class=" sponsorIcon icon-dairyco-logo"></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">Proud Technical Supporter</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				DairyCo provides independent, evidence-based 
		            				information to British Farmers on animal fertility, health and welfare, 
		            				business management, technical efficiently and the perception of dairy farming 
		            				with the public.
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-eblex-logo"></span>
		       		<label>eblex</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.eblex.org.uk/" target="_blank"><span class=" sponsorIcon icon-eblex-logo"></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">Sponsor of the beef section</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				Beef from the dairy herd is the main EBLEX focus at the event, although additional advice and information for all beef and sheep producers will be available.
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-zoetis-logo"></span>
		       		<label>zoetis</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.zoetis.com/" target="_blank"><span class=" sponsorIcon icon-zoetis-logo-full"></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">National Dairy Show sponsor</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				Today we’re Zoetis, a company focused on animal health, committed to supporting you and your business.  We’re still home to the people and products you’ve come to trust for more than 60 years as Pfizer Animal Health, dedicated to providing you with the medicines, vaccines and services you need.
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-giltspur-logo"></span>
		       		<label>giltspur</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.cowslips.com/" target="_blank"><span class=" sponsorIcon icon-giltspur-logo"></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">Hoof-trimming demo sponsor</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				Manufacturer of cost-effective hoof-care solutions for the bovine and equine industries. Inventor of cowslips - orthopedic shoes for treatment of lameness in dairy cattle. Helping to relieve the pain of lameness and reducing the associated costs.
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

		</div>
	</div>
</div>