{{#with controller}}

<div class="flipper">
	<div class="front">
		<span class="tile-title">{{controllers.application.siteContent.welcomeTitle}}</span>
		<div class="carouTabs carouPanel6 carouBottom">
		   <div class="carouTab activeCarou">
		       <div class="carouTabTitle">
		       		<span class="icon-cow"></span>
		       		<label>{{controllers.application.siteContent.welcomeOneLabel}}</label>
		        </div>
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	
		            	<div class="large-12 small-11 small-centered large-uncentered columns sponsorText">
		            		
		            		<article>
		            		
		            			<p class="sponsorSpiel welcomeMessage">
		            				{{{controllers.application.siteContent.welcomeOneText}}}
		            			</p>
		            		</article>
		            	</div>
		            </div>
		       </div> 
		    </div>
		    <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span {{bind-attr class="controllers.application.siteContent.welcomeTwoIcon :largerLogo :hide-for-small"}}></span>
		       		<span class="icon-barclays largerLogo show-for-small"></span>
		       		<label>{{controllers.application.siteContent.welcomeTwoLabel}}</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            		<div class="imgWrap vertElement"><a href="http://www.barclays.co.uk/Businessservices/Agriculturalbusiness/P1242573329529" target="_blank"><span {{bind-attr class=" :sponsorIcon controllers.application.siteContent.welcomeTwoIcon"}}></span></a></div>
		            		
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2>{{controllers.application.siteContent.welcomeTwoHeader}}</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            				{{controllers.application.siteContent.welcomeTwoText}}
		            				 
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

		     <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span {{bind-attr class="controllers.application.siteContent.welcomeThreeIcon"}}></span>
		       		<label>{{controllers.application.siteContent.welcomeThreeLabel}}</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            		<div class="imgWrap vertElement"><a href="http://www.dairyco.org.uk/" target="_blank"><span {{bind-attr class=" :sponsorIcon controllers.application.siteContent.welcomeThreeIcon"}}></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">{{controllers.application.siteContent.welcomeThreeHeader}}</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            			{{controllers.application.siteContent.welcomeThreeText}}
		            				
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span {{bind-attr class="controllers.application.siteContent.welcomeFourIcon"}}></span>
		       		<label>{{controllers.application.siteContent.welcomeFourLabel}}</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.eblex.org.uk/" target="_blank"><span {{bind-attr class=":sponsorIcon controllers.application.siteContent.welcomeFourIcon"}}></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">{{controllers.application.siteContent.welcomeFourHeader}}</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            			{{controllers.application.siteContent.welcomeFourText}}
		            				
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span class="icon-zoetis-logo"></span>
		       		<label>{{controllers.application.siteContent.welcomeFiveLabel}}</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.zoetis.com/" target="_blank"><span {{bind-attr class=":sponsorIcon controllers.application.siteContent.welcomeFiveIcon"}}></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">{{controllers.application.siteContent.welcomeFiveHeader}}</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            			{{controllers.application.siteContent.welcomeFiveText}}
		            				
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

  			 <div class="carouTab">
		        <div class="carouTabTitle">
		       		<span {{bind-attr class="controllers.application.siteContent.welcomeSixIcon"}}></span>
		       		<label>{{controllers.application.siteContent.welcomeSixLabel}}</label>
		        </div>
		       
		        <div class="carouContent">
		            <div class="row sponsorContent">
		            	<div class="large-4 small-10 small-centered large-uncentered columns vertWrap fullTabInner">
		            	<div class="imgWrap vertElement"><a href="http://www.cowslips.com/" target="_blank"><span {{bind-attr class=":sponsorIcon controllers.application.siteContent.welcomeSixIcon"}}></span></a></div>
		            	</div>
		            	<div class="large-8 small-11 small-centered large-uncentered columns sponsorText">
		            		<header>
		            			<h2 class="sponsorTagLine">{{controllers.application.siteContent.welcomeSixHeader}}</h2>
		            		</header>
		            		<article>
		            			<p class="sponsorSpiel">
		            			{{controllers.application.siteContent.welcomeSixText}}
		            				
		            			</p>
		            		</article>
		            	</div>
		            </div>
  					
       			</div> 
  			</div>

		</div>
	</div>
</div>

{{/with}}