<div class="flipper">
  <div class="front">
    <span class="tile-title">{{#link-to 'users.new' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}<span class="largeText">why exhibit at the livestock event 2014?</span><span class="smallText">why exhibit?</span></span>
    <span class="tile-title underTab"></span>
    <div class="row">
      {{partial "slider_tabs-top_4-tabs"}}
    </div>
  </div>
    <div class="back">
    
    </div>
</div>

