<div class="flipper">
	<div {{bind-attr class=":front view.flipped:flipped"}}>
		<span class="tile-title">why visit?</span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'visiting' class="button callToAction" target="_blank"}}<span class="icon-help pink"></span>{{/link-to}}
					<span class="buttonLabel">why visit?</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'exhibitors.index' class="button callToAction"}}
					<span class="icon-card-user pink"></span>
					{{/link-to}}
					<span class="buttonLabel">exhibitor list</span>
				</div>
			</div>
		</div>
	</div>
	<div class="back">
		
	</div>
</div>
