<div class="flipper">
	<div class="front">
		<span class="tile-title">why visit?</span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'visiting' class="button callToAction" target="_blank"}}<span class="icon-help pink"></span>{{/link-to}}
					<span class="buttonLabel">why visit?</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					{{#link-to 'exhibitors.index' class="button callToAction" id="afarAction"}}
					<span class="icon-card-user pink"></span>
					{{/link-to}}
					<span class="buttonLabel">exhibitor list</span>
				</div>
			</div>
		</div>
	</div>
	<div class="back">
		<!-- <a class="closeButton" id="afar-closeButton"><span class="icon-close-alt"></span></a>
		<span class="tile-title">tour providers</span>
		<div class="row buttonContent">
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					<a href="http://www.fieldfarmtours.co.uk/uploads/tours/307_livestockevent.pdf" target="_blank" class="button callToAction"><span class="icon-location pink"></span></a>
					<span class="buttonLabel">field farm tours</span>
				</div>
			</div>
			<div class="small-6 columns vertWrap">
				<div class="vertElement">
					<a href="http://www.travel-solutions.co.uk/" target="_blank" id="afarAction" class="button callToAction"><span class="icon-travel-solutions-logo pink"></span></a>
					<span class="buttonLabel">travel solutions</span>
				</div>
			</div>
		</div> -->
	</div>
</div>
