<!-- Notification -->
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <small><em><%= time_ago_in_words(activity.created_at) %> ago</em></small><br>
<%= if activity.owner.nil?
	'Someone'
	else
	 link_to(activity.owner.name, admin_user_path(activity.owner)) 
	 end %> added 
	 <% if activity.trackable %>
	   <%= link_to 'an Exhibitor', admin_exhibitor_path(activity.trackable) %>
	 <% else %>
	   an Exhibitor, which has since been removed
	 <% end %>
	 </div>
	 <!-- END Notification -->