<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}contractor list</span>
		{{#each controller.sortedContractors}}
			{{#link-to 'contractors.show' this class="ninjaLink"}}
			<div class="row singleContractor">
				<div class="small-2 columns vertWrap">
					{{#if image}}
					<div class="vertElement">
						<img {{bind-attr src=image}} class="avatarImage" />
					</div>
					{{/if}}
				</div>
				<div class="small-7 columns vertWrap">
					<div class="vertElement">
						{{name}}
					</div>
				</div>
				<div class="small-3 columns vertWrap">
					<div class="vertElement">
						{{category}}
					</div>
				</div>
			</div>
			{{/link-to}}
		{{/each}}
	</div>
	<div class="back">
		
	</div>
</div>