<div class="flipper">
  <div class="front">
  <span class="tile-title">how to exhibit at the livestock event 2014</span>
  <div class="row">
    <div class="large-9 small-10 columns">

    <p>To apply for stand space on-line, simply complete the following steps. To apply by post, {{#link-to users.new class="inlineLink"}}register to get started{{/link-to}} by creating a password, then select the ‘apply by Post’ option. Download the PDF forms and return to the address shown on the form with the required deposit.</p>
     
    <p>To qualify for the Early Bird stand rates, please submit your application by 31st December 2013.</p> 
     
    <h1>On-line booking</h1>
     
    <ul> <li>Select ‘Book Stand’ icon</li>
         <li>Log-in to the booking system by creating a username and password. Please keep this safe as you will need your log-in details to access your booking at any point in the future</li>
        <li> Select the zone, location (block), stand format and type of stand that you would like. Stand locations (block numbers) can be obtained from the interactive floor plan</li>
         <li>Complete the necessary fields on the application form</li>
         <li>A 30% non- refundable deposit is required at this stage to confirm your booking, this is automatically calculated for you.</li>
         <li>Click deposit and enter your card details. Print a confirmation of your booking for your records.</li></ul>
                                                                                                                             
    <p>Please note that it is not always possible to allocate the exact location and size of stand requested, however the organiser will endeavor to meet all exhibitor requirements where possible. Once your stand position has been confirmed by the organiser, a full invoice will be raised (due on the 31st March) and you will be asked to complete the remaining compulsory exhibiting forms.</p>

  </div>
  <div class="large-3 small-12 columns">
    {{partial "quick_actions_book"}}
  </div>
</div>
</div>
<div class="back">
  
</div>
</div>
