<div class="flipper">
	<div class="front">
		<span class="tile-title">{{#link-to 'index' class="backbutton"}}<span class="icon-back"></span>{{/link-to}}recent news</span>
		{{#each controller.sortedArticles}}
			
		{{#link-to 'articles.show' this}}<div class="row newsItem">
			<div class="small-3 columns newsDateCol">
				<div class="newsDateBlock">
					<div class="newsDay">{{day}}</div>
					<div class="newsDate">{{month}} 13</div>
				</div>
			</div>
			<div class="small-9 columns newsExcerpt postText">
				<span class="newsTitle">{{title}}</span>{{{articleContent}}}
			</div>
		</div>{{/link-to}}

		{{/each}}
	</div>
	<div class="back">
		
	</div>
</div>