
<div class="tile content-tile lonely tcs rabdforange mix general_info all tile-2-tall tile-n-wide">
  <div class="flipper">
    <div class="front">
      <span class="tile-title">thank you for your payment</span>
          <div class="tile-content">
            <div class="row">
              <div class="small-12 columns">
              <h1>Your payment was successful.</h1>
              <p>Thanks for your deposit. The remaining balance is due by the 31st of March 2014.</p>
              <p>If you have any questions, please contact us on <a href="tel:0845 458 2711" class="inlineLink">0845 458 2711</a>.</p>
              </div>
            </div>
            <div class="row vertWrap">
              <div class="small-6 small-centered columns vertElement">
                <a href="http://livestockevent-co-uk.herokuapp.com" class="button rightButton callToAction" type="submit"><span class="icon-tick"></span></a>
                <span class="buttonLabel">return home</span>
              </div>  
            </div>
          </div>
    </div>
  </div>
</div>
